/* HIDE TABS*/
.post-type-agency .postbox .acf-fields .acf-tab-wrap .acf-tab-group li:nth-of-type(5),
.post-type-agency .postbox .acf-fields .acf-tab-wrap .acf-tab-group li:nth-of-type(7)
{
    display: none;
}

/* HIDE YOAST SEO*/
.post-type-agency #wpseo_meta {
    display:none;
    clear:both;
}