/***** WORK ADMIN ******/

#post-body-content {
	width: 720px;
    float: left;
    padding-right: 36px;
}

#acf_after_title-sortables .acf-postbox{ /* ACF container */
	max-width:780px;
}

.acf-postbox.seamless > .inside, #acf_after_title-sortables .acf-postbox {
	margin:0 !important;
}


.acf-field .acf-label {
	font-size: 1.2rem;
}

.title_message {
	padding: 4rem 0 0 0 !important;
}

.title_message .acf-label label{ /* grey section titles */
	font-size: 20px;
    font-weight: 400;
    color: grey;
	letter-spacing: 1px;
}


.acf-field-text, .acf-field-textarea, .acf-field-image, .acf-field-repeater, .acf-field-select {
	padding: 2rem 0 0 2rem !important;
}

.acf-repeater .acf-field-text, .acf-repeater .acf-field-textarea, .acf-repeater .acf-field-image, .acf-repeater .acf-field-select {
	padding-left: 0 !important;
}

p.description{
	font-size:11px;
}

#project_title{
	width: 300px;
}

.float_left{
	float:left;
}

#challange, #solution{
	width: 300px;
}
.acf-field textarea{
	height: 5rem;
}

#main_project_visual{
    display: inline-block;
    clear: both;
    border: 1px solid grey !important;
    margin: 38px 0 0 42px;
    width: 320px;
    height: 281px;
    padding: 32px 32px 0 !important;
}

.acf-soh {
	width: 225px;
    max-width: initial !important;
}

#main_project_visual .button{
	background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.acf-image-uploader {
	margin-top: 1rem;
}

.acf-repeater .acf-field-select label, .acf-repeater .acf-field-image label, .acf-repeater .acf-field-text label {
	font-size:1rem;
	font-weight:400;
}

thead { /*Hide top row of 'Impact' table*/
	display:none;
}

.acf-actions li { /* left aligns buttons */
	float:left;
}

#agency_name, #agency_country{
	max-width:350px;
	display:inline-block;
}


/* EXAMPLE LAYOUT METABOX */

#publish_button {
	float:left;
}

#gb_img_metabox {  /* 'Example layout' metabox */
    position: absolute;
    left: 683px;
    top: 156px;
}

@media only screen and (max-width: 1700px) { /* Hides metabox for small windows */
    #gb_img_metabox {
        display: none;
    }
}

#gb_img_metabox h2 {
	padding:0 0 10px 0;
}

.acf-required {display:none;} /* Hide ACF required tags */

#poststuff .inside {
    margin: 40px 0 0 22px;
}


/* HIDE YOAST SEO*/
#wpseo_meta{
	display:none;
	clear:both;
}