@charset "UTF-8";


/***** WORK SINGLE  *****/

.work-template-default .background-cover { 
    background-size: contain;
	height: 670px !important;
	margin-bottom: 50px;
}

.work-template-default #background-image { /* Header image */
	background-image: url(https://cdn.aminworldwide.com/wp-content/uploads/2017/10/decathlon_main.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 57%;
    float: right;
	background-position-x: 80%;
}

.background-cover { /* Background position ajustment for Work page */
	background-position-x: 70%;
}

.work-template-default .header-content-location { /* Header blue box */
    position: absolute !important;
    background-color: #00548B;
    width: 43%;
}

.work-template-default .third-for-work { /* Header text box*/
    width: 30%;
}

.work-template-default .full-height-banner {
    height: 630px;
    min-height: initial;
}

.work-template-default .full-height-banner .inner-content { /* Header text box*/
	top: 21rem;
	padding: 0px 0 0 20px;
}

.work-template-default img.work-image { /* Work images drop shadow */
	box-shadow: 1px 1px 6px #ddd;
}


.work-template-default #impact {
	max-width: 330px;
    margin: 4rem auto 8rem;
}

.work-template-default #impact h2{
	color:#126a9c;
	text-align:center;
}

.work-template-default #impact li{
	font-size:17px;
	line-height:2;
}

.work-template-default .footer {
	margin-top:40px;
}

.work-template-default .footer-work1 { /* Text underline does not touch decenders */
	text-underline-position:under;
}

.header-content-location{
    position: absolute !important;
    background-color:#00548B;
    width: 45%;
}

  @media screen and (max-width: 768px) {
   .half-for-work {
    width: 100%;}
  }

  @media screen and (min-width: 769px) {
    .half-for-work {
    width: 50%;}
  }

  .work-menu-bg-color{
    background-color: #007eaa;
    }

  .header-work-content{
    font-size: 17px !important;
    font-family: Acumin Pro;
    margin-top: 30px;
  }

  .header-work-content p{
    font-size: 17px !important;
    text-align: left;
    font-family: Acumin Pro;
  }

  .header-work-content center{
    font-size: 17px !important;
    text-align: left !important;
    font-family: Acumin Pro;
  }

    .header-work-content strong{
    font-size: 17px !important;
    text-align: left !important;
    font-family: Acumin Pro;
    font-weight: 500;
  }

  .work-caption p{
    text-align: center;
    font-family: acumin-pro;
    color: #95989A;
  }

  .work-caption{
    margin-top: 10px;
  }


  .impact-style{
    font-family: Acumin Pro;
    font-size: 17px;
    color: #00548B;
    margin-bottom: -20px !important;
    font-weight: 600;
  }

   .impact-content center{
    font-size: 17px !important;
    text-align: left !important;
    font-family: Acumin Pro;
  }

  .social-media-icons{
    fill: #fff;
  } 

  .social-media-icons:hover{
    fill: #a3bbc9;
  }

  .work-title{
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 0;
    margin-right: 50px;

  }

  .work-agency{
    position: absolute;
    bottom: 0;
    margin-left: -20px;
  }

  .work-agency-title{
    font-size: 15;
    letter-spacing: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }

  .work-title-row{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  }

  .hidden-vis{
    visibility: hidden;
  }

  .banner-visibility{
    visibility: hidden;
  }

 .header-content-location{
    position: absolute !important;
    background-color:#00548B;
    width: 45%;}
    
    .work-list-extra{
  padding: 0;
  text-transform: lowercase;
  padding-bottom: 20px;
}

 .footer-work1{
    font-size: 17px;
    font-weight: 300;
    text-decoration: underline;
    font-family: Acumin Pro;

  }
  

/***** WORK SINGLE MOBILE  *****/

  @media screen and (max-width: 768px) {
     .header-content-location{
      background-color: transparent !important;
     }
    }

   @media screen and (max-width: 768px) {
    .work-for-mobile h1{
     font-size: 40px !important;
     margin-bottom: 23px;
    }
   }
  

  @media screen and (max-width: 768px) {
    .bg-for-mobile{
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .full-height-banner .work-for-mobile{
      top: 0% !important;
      padding-left: 0px !important;
      margin-top: 0px !important;
      width: 100% !important;
    }
  }

  @media screen and (max-width: 768px) {
    .full-height-banner .work-full{
      padding-left: 0px;
      padding-right: 0px;
      background-color: #00548A;
    }
  }

   @media screen and (max-width: 768px) {
    .full-height-banner .mobile-pad-30{
      padding-left: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    .full-height-banner .mobile-pad-20{
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 768px) {
     .mobile-pad-0{
      padding: 0px !important;
    }
  }

    @media screen and (max-width: 768px) {
     .mobile-pad-bottom-0{
      padding-bottom: 0px;
    }
  }
  

  @media screen and (max-width: 768px) {
    .bg-display-for-mobile img{
       width: 100% !important;
       max-width: 100% !important;
       max-height: 100% !important;
       display: block !important;
       
      }
    }

   @media screen and (min-width: 769px) {
    .bg-display-for-mobile{
      display: none;
    }
  }


  @media screen and (max-width: 768px) {
   .third-for-work {
    width: 100%;}
  }

  @media screen and (min-width: 769px) {
    .third-for-work {
    width: 33.33333%;}
  }

  @media screen and (max-width: 768px) {
   .w-space {
    height: 140px;}
  }

  @media screen and (max-width: 568px) {
   .w-space {
    height: 50px;}
  }




