{% set image = post.get_field('banner_background') %}
<div class="section full background-blue-map background-cover action-banner pad-100" style="background: url({{ image.url }}) no-repeat 50% 50% / cover;">
	<div class="container">
		<div class="content-constrained align-center">
			<p class="white">{{ post.get_field('pre_header_text') }}</p>
			<h2 class="h1 uppercase white bold">{{ post.get_field('header_text') }}</h2>
			<a href="{{ post.cta_link }}" class="inline-underline white light cta">{{ post.get_field('cta_text') }}</a>
		</div>
	</div>
</div>
