{% if collaborators %}
	<div id="collabs" class="collabs-section row pad-100">
		<h2 class="h1 uppercase">In collaboration with</h2>
		<ul class="agency-collabs ui-inline-list">
	        <div class="row-wrap">
			{% for item in collaborators %}
				<li class="collab-item third left">
					<div style="background-image: url('{{ item.cover }}')" alt="{{ item.post_title }}" class="collab-img background-cover">
						<img src="{{ item.logo }}" class="full" />
					</div>
					<a href="/agency/{{ item.post_name }}/" class="inline-underline left">View profile</a>
				</li>
	            {% if loop.index is divisibleby(3) %}
	            </div>
	            <div class="row-wrap">
	            {% endif %}
			{% endfor %}
	        </div>
		</ul>
	</div>

{#{% else %}
	<div id="collabs" class="collabs-section row pad-100">
		<h2 class="h1 uppercase">Produced by</h2>
		<ul class="agency-collabs ui-inline-list">
	        <div class="row-wrap">
				<li class="collab-item third left">
					<div style="background-image: url('{{ authoragency.cover }}')" alt="{{ authoragency.post_title }}" class="collab-img background-cover">
						<img src="{{ authoragency.logo }}" class="full" />
					</div>
					<a href="/agency/{{ authoragency.post_name }}/" class="inline-underline left">View profile</a>
				</li>
	        </div>
		</ul>
	</div> #}
{% endif %}
