<div id="news" class="news-section row">
    <ul class="agency-news ui-inline-list">
        <div class="row-wrap">
            {% for post in agency_news %}
                <li class="news-item third left">
                    <a href="{{ post.link }}?ag={{ agencyid }}">
                            <div style="background-image: url('{{ post.get_field('hero_image').url }}')" alt="{{ post.hero_image.title }}" class="news-img background-cover"></div>
                    </a>
                    <p class="bold">{{ post.title }}</p>
                    <p>{{ post.sub_title }}</p>
                    <a href="{{ post.link }}?ag={{ agencyid }}" class="inline-underline">Read more</a>
                </li>
                {#{% if loop.index is divisibleby(3) %}
                    </div>
                    <div class="row-wrap">
                {% endif %}#}
            {% endfor %}
        </div>
    </ul>
</div>
