<div class="network-what-it-takes background-earth background-cover pad-100">
    <div class="container">
        <div class="container-constrained align-center white">
            <h2 class="h1 uppercase white">{{ agency_standards_title }}</h2>
            <p>{{ agency_standards_description }}</p>
            <div class="circle-points">
                {% for pod in agency_standards_pods %}
                    <div class="point third left white">
                        <p>{{ pod.pod_text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="/members/" class="join-btn inline-underline white light inline">Become a member</a>
</div>