{% if breadcrumbs %}
	{% if post.get_field('hide_breadcrumbs') != TRUE %}
		<ul class="breadcrumb ui-inline-list {{ breadcrumb_tone ? breadcrumb_tone : 'white' }} {{ classes }}">
			{% for crumb in breadcrumbs %}
				{% if crumb is iterable %}
					{% set first = crumb[0] %}
					<li class="has-children left">
						<span class="arrow-down">
							<a class="inline-underline" href="{{ first.link }}">{{ first.post_title }}</a>
							<svg viewBox="0 0 595.3 595.3">
								<g>
									<polygon points="489,171.9 297.6,363.2 106.3,171.9 36.3,171.9 297.6,433.2 559,171.9"/>
								</g>
							</svg>
						</span>
						<ul class="sub-menu">
							{% for item in crumb[1:] %}
								<li class="left">
									<a href="/network/{{ item.post_name }}/">{{ item.post_title }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				{% else %}
					<li class="left">
						<a class="light inline-underline" href="{{ crumb.link }}">{{ crumb.post_title }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
{% endif %}
