	{% if iptrue %}
	    <div class="popup-video-overlay">
			{% if post.slug == 'benefits' or post.slug == 'press-room' %}
				<div class="popup-video benefits js-popup-video">
					<div class="video-wrap">
						<iframe class="js-benefit-video-iframe" src="" frameborder="0"></iframe>
					</div>
				</div>
			{% else %}
				<div class="popup-video js-popup-video">
					<video poster="{{ theme.uri }}/assets/img/backgrounds/video-section-placehold.jpg" controls>
						<source type="video/mp4" data-src="https://player.vimeo.com/external/161930171.hd.mp4?s=4a8563ac2cea13235428d61984890ee1ac80972b&profile_id=174">
					</video>
				</div>
			{% endif %}
			<div class="video-overlay-close">×</div>
		    </div>
	    </div>
	{% endif %}
    <div class="footer full">
		{#<div class="footer-main pad-50">
			<div class="container align-center">
				<a href="/contact/" class="contact-link">
					<h2 class="uppercase bold margin-0">Get in touch</h2>
				</a>
	    		<ul class="social-list ui-inline-list">
	    			{% if option.twitter %}
		    			<li>
		    				<a target="_blank" href="{{ option.twitter }}">
		    					<svg class="icon">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
								</svg>
		    				</a>
		    			</li>
	    			{% endif %}
	    			{% if option.facebook %}
		    			<li>
		    				<a target="_blank" href="{{ option.facebook }}">
		    					<svg class="icon">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
								</svg>
		    				</a>
		    			</li>
		    		{% endif %}
	    			{% if option.linkedin %}
		    			<li>
		    				<a target="_blank" href="{{ option.linkedin }}">
		    					<svg class="icon">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
								</svg>
		    				</a>
		    			</li>
		    		{% endif %}
	    			{% if option.instagram %}
		    			<li>
		    				<a target="_blank" href="{{ option.instagram }}">
		    					<svg class="icon">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
								</svg>
		    				</a>
		    			</li>
		    		{% endif %}
					{% if option.youtube %}
		    			<li>
		    				<a target="_blank" href="{{ option.youtube }}">
		    					<svg class="icon">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use>
								</svg>
		    				</a>
		    			</li>
		    		{% endif %}
	    		</ul>
	    		{# For now this is not needed. - ML {newsletter_form|shortcodes} #}
			{#</div>
		</div>#}
                        
		<div class="footer-bottom background-grey pad-20">
                    <div class="container">
                        <p class="quarter left copyright s14">Copyright &copy; {{ 'now'|date('Y') }} AMIN. All rights reserved.</p>
                        
                        <div class="footer-nav three-quarters right">
                            {% if is_user_logged_in() != true %}
                                <ul class="ui-inline-list full">
                                    <li>
                                            <a class="color-fade-out" href="/members/">Become a Member</a>
                                    </li>
                                    <li>
                                            <a class="color-fade-out" href="/press-room/">Press Room</a>
                                    </li>
                                    <li>
                                            <a class="color-fade-out" href="/sitemap/">Sitemap</a>
                                    </li>
                                    <li>
                                            <a class="color-fade-out" href="/privacy-policy/">Privacy policy</a>
                                    </li>
                                    {% if is_admin != true %}
                                        <li>
                                            <a class="color-fade-out" href="/login/">Agency Login</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="color-fade-out" href="/who-is-who/">Who is Who</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% else %}
                                <ul class="ui-inline-list full">
                                    <li>
                                        <a class="color-fade-out" href="/contact/">Contact</a>
                                    </li>
                                    <li>
                                        <a class="color-fade-out" href="#">Send brief</a>
                                    </li>
                                    <li>
                                        <a class="color-fade-out" href="#">Add work</a>
                                    </li>
                                    <li>
                                        <a class="color-fade-out" href="#">Who is Who</a>
                                    </li>
                                    <li>
                                        <a class="color-fade-out" href="#">Peer Groups</a>
                                    </li>
                                    <li>
                                        <a class="color-fade-out" href="{{ wp_logout_url() }}">Log Out</a>
                                    </li>
                                </ul>
                            {% endif %}
			</div>
                    </div>
		</div>                                    
    </div>
	<p style="display: none;">{{ cf_ip }}</p>
	{% if show_recruiting_modal %}
		<div class="recruiting-modal align-center js-recruiting-modal">
			<span class="close bold pointer js-close-recruiting-modal">Close [x]</span>
			<h4 class="h1 uppercase">Now recruiting in {{ show_recruiting_modal }}</h4>
			<p>Discover the benefits of becoming a member of a global network.</p>
			<a href="/members/benefits/" class="inline-underline light">Discover more</a>
		</div>
	{% endif %}
	{{ wp_footer }}
    </body>
</html>
