<html>
	<head>
		<meta charset="{{ site.charset }}" />
		<title>{% if post.post_title %}{{ post.post_title }} | {% endif %}{{ site.title }}</title>
		<meta name="description" content="{% if post.short_snippet %}{{ post.short_snippet }}{% endif %}">
		<meta name="viewport" content="width=100, initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1">
		<link rel="pingback" href="{{site.pingback_url}}" />
		{% include "partials/favicons.twig" %}
		<!--<script src="{{ theme.uri }}/src/js/vendor/skrollr.min.js"></script>-->
		<!-- Typekit -->
		<script>
			!function(e,t,n,a,r,c,l,s,o){l=a[r],l&&(s=e.createElement("style"),s.innerHTML=l,e.getElementsByTagName("head")[0].appendChild(s),e.documentElement.className+=" wf-cached"),o=t[n],t[n]=function(e,p,u,i){if("string"==typeof p&&p.indexOf(c)>-1){try{u=new XMLHttpRequest,u.open("GET",p,!0),u.onreadystatechange=function(){try{4==u.readyState&&(i=u.responseText.replace(/url\(\//g,"url("+c+"/"),i!==l&&(a[r]=i))}catch(e){s&&(s.innerHTML="")}},u.send(null)}catch(d){}t[n]=o}return o.apply(this,arguments)}}(document,Element.prototype,"setAttribute",localStorage,"tk","https://use.typekit.net");
		</script>
		<script src="https://use.typekit.net/eno6ujm.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		{{ wp_head }}
		{% if agency_count %}
		{# This is used to set pseudo to the value of how many agenices there are, will only be added if it exists on the page #}
		<style media="screen">
			.agency-count:before {
				content: "{{ agency_count }}";
			}
		</style>
		{% endif %}
		<script type="text/javascript" src="https://secure.leadforensics.com/js/86759.js" ></script>
		<noscript><img src="https://secure.leadforensics.com/86759.png" style="display:none;" /></noscript>
	</head>
	<body class="{{ body_class }} {{ region.slug }}">
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MH9B2J"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MH9B2J');</script>
		<!-- End Google Tag Manager -->
		<span style="display:none;">
			{% include "./inc/svg-sprite.twig" %}
		</span>
		<div class="top-nav full fixed-nav">
			<div class="container pad-20">
				<div class="logo quarter left">
					<a href="/">
						<svg class="amin-logo">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amin-logo"></use>
						</svg>
					</a>
				</div>
				<div class="navigation desktop three-quarter right">
					{% if menu %}
						<ul class="ui-inline-list full">
							{% for item in menu.get_items() %}
								<li class="{{ item.classes | join(' ') }}{% if  '/' ~ item.title | lower ~ '/' in uriSeg %} current-menu-item{% endif %} {% if item.name|lower == 'network' and is_network %}current-menu-item{% endif %}"><a class="inline-underline-middle" href="{{ item.link }}">{{ item.title }}</a>
									{% if item.title == 'News' %}
										<div class="nav-dropdown press-nav-dropdown arrow">
											<span class="background-opaque-blue pad-10 left full">
												<a class="white inline-underline-middle block" href="/press-room/">Press Room</a>
											</span>
											<span class="background-opaque-blue pad-10 left full">
												<a class="white inline-underline-middle block" href="/events/">Events</a>
											</span>
										</div>
									{% elseif item.title == 'Network' %}
										<div class="nav-dropdown network-nav-dropdown arrow">
											<span class="background-opaque-blue pad-10 left full">
												<a class="white inline-underline-middle block" href="/members/">Membership</a>
											</span>
										</div>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="mobile mobile-icon">
				{#	<svg class="hamburger">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hamburger"></use>
					</svg> #}
					<div class="hamburger">
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-navigation mobile full {% if is_admin %} is_admin {% endif %}">
			{% if mobileMenu %}
				<ul class="ui-inline-list full">
					{% for item in mobileMenu.get_items %}
						{% if item.get_children %}
							<li class="{{ item.classes | join(' ') }}"><a>{{ item.title }}</a>
								<ul class="children ui-list">
									<li class="menu-item child-item"><a href="{{ item.link }}">Overview</a></li>
									{% for child in item.get_children %}
										<li class="menu-item child-item"><a href="{{ child.get_link }}">{{ child.title }}</a></li>
									{% endfor %}
								</ul>
							</li>
						{% else %}
							<li class="{{ item.classes | join(' ') }}"><a href="{{ item.link }}">{{ item.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>
