.agency-map {
    position: relative;
    min-height: 100vh;
    z-index:10;
    transition: all .35s $easeInOutCubic;
}

.map-zoom-out-icon {
    position: absolute;
    top: 185px;
    right: 30px;
    z-index: 10;
    cursor: pointer;

    svg {
        width: 35px;
        height: 35px;
        fill: #333;
        opacity: 0.5;
        transition: all 0.35s $easeInOutCubic;
        cursor: pointer;
    }

    &:hover {
        svg {
            opacity: 1;
        }
    }
}

.discover-map {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background: rgba(0,0,0,.9);
    z-index: 10;
    max-width: 350px;
    width: 350px;
    height: 200px;
    perspective: 1000;
    overflow: hidden;
    transition: all 0.35s $easeInOutCubic;

    &.active {
        background: $orange-opaque;
        .discover-wrap {
            transform: translate3d(-50%, 0, 0);
        }
    }

    .h1,.h2,.h3 {
        margin-bottom: 0;
    }

    .discover-wrap {
        width: 200%;
        transition: all 0.35s $easeInOutCubic;
    }

    .discover-item {
        float:left;
        width: 50%;
        height: 100%;
        padding: 30px 40px;
        p {
            padding: 0px 40px;
        }
    }
}

.mobile-discover-map {
    padding: 30px;
    display: none;

    .h1,.h2,.h3 {
        margin-bottom: 0;
    }
}

.view-switcher {
    position: absolute;
    top:50px;
    left:50%;
    transform: translateX(-50%);
    z-index: 15;
    transition: all 0.35s $easeInOutCubic;
    opacity: 1;
    visibility: visible;
    cursor: pointer;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .map, .list {
        font-size: 12px;
        font-weight: 400;
        opacity: .6;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }

        &.active {
            opacity: 1;
        }
    }
}

.view-switcher-title {
    font-family: $base-font-family;
}

.switcher {
    position: relative;
    top: 5px;
    background: $light-grey;
    border-radius: 15px;
    width: 50px;
    height: 20px;
    border: 1px solid $border-grey;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), inset -1px -1px 3px rgba(0,0,0,0.2);
    overflow:hidden;

    &.isLeft {
        .switcher-inner {
            transform: translateX(0%);
        }
    }

    &.isRight {
        .switcher-inner {
            transform: translateX(100%);
        }
    }
}

.switcher-inner {
    position: absolute;
    top:3px;
    left:4px;
    background: $orange;
    height: 12px;
    width: 20px;
    border-radius: 15px;
    transform: translateX(0%);
    transition: all 0.35s $easeInOutCubic;
}

.agency-list-view {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
	height: 100%;
    overflow:hidden;
    background: $light-grey;
    z-index: 10;
    padding-top: 160px;
    transform: scale(1);
    transition: all .35s $easeInOutCubic;
    backface-visibility: hidden;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: scale(.8);
    }
}
.recruiting-text {
    width: 100%;
    overflow:hidden;
    transform: scale(1);
    transition: all .35s $easeInOutCubic;
    backface-visibility: hidden;
    position: absolute;
    top: 65px;
    font-family: $base-font-family;
    &.hidden {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: scale(.8);
    }
}

.agency-list {
    padding: 0 0 20px 0;
}

.agency-link {
    &:hover {
        .agency-cover {
            opacity: 0;
        }
    }
}

.agency {
    position: relative;
    height: 180px;

    .agency-title, .agency-logo {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 100%;
        display: block;
        text-align: center;
    }

    .agency-logo {
        svg {
            max-width: 60%;
            fill: $white;
        }
    }

    .pulled-text {
        position: absolute;
        bottom:10px;
        right:15px;
        font-size: 14px;
        color: lighten($mid-grey, 40%);
        text-align: center;
    }
}

.agency-cover {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: $white;
    padding: 20px 0;
    opacity: 1;
    transition: all .35s $easeInOutCubic;

    &.even {
        background: $light-grey;
    }
}

.map-toggles {
    position: absolute;
    top: 0;
    left:50%;
    width: 400px;
    height: 200px;
    padding: 25px 0;
    z-index: 10;
    margin-left: -200px;

    .toggle-title {
        margin-bottom: 10px;
    }

    .tab-text {
        cursor: pointer;
        &.isActive {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

.mapboxgl-popup-content {
    position: relative;

    .close-icon {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10px;
        text-align: center;
        opacity: .5;
        cursor: pointer;
        transition: all 0.35s $easeInOutCubic;
        font-size: 22px;

        &:hover {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 768px) {
    .agency-map {
        min-height: calc(90vh - 80px);
    }

    .agency-link {
        &:hover {
            .agency-cover {
                opacity: 1;
            }
        }
    }
    .agency {
        margin-bottom: 180px;
    }

    .agency-cover {
        top: 100%;
    }
}

@media screen and (max-width: 425px) {

    .agency-list-view {
        padding-top: 0;
        position: relative;
    }

    .map-zoom-out-icon {
        display: none;
    }

    .agency {
        margin-top: 20px;
        margin-bottom: 80px;

        .agency-title {
            transform: translate(0,0);
            margin-bottom: 0;
            left: 10px;
            top: 10px;
        }
    }

    .agency-cover {
        height: 40%;

        &.even {
            background: $white;
        }
    }

    .discover-map {
        width: 80%;
        left: 50%;
        margin-left: -40%;
        display: none;
    }

    .mobile-discover-map {
        display: block;
    }

    .map-toggles {
        padding: 20px 20px 0 20px;

        .h1 {
            font-size: 2.5rem;
        }

        .h2 {
            font-size: 1.5rem;
        }
    }
}

.dashboard {
    #agency-map {
        padding-top: 0;
        
        .map-zoom-out-icon {
            top: 180px;
        }
        
        .mapboxgl-ctrl-group {
            margin: 180px 0 0 10px;
        }
    }
}