.full-height-banner {
/*	height: calc(100vh - 80px);*/
/*	min-height: 670px;*/

        height: 330px;
        
	.container,
	.dotted-bg {
		height: 100%;
	}
	.inner-content {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 0 0 30px;

            img,
            svg {
                    max-height: 150px;
            }
            svg {
                    fill: $white;
                    margin-bottom: 2.5rem;
            }
            p {
                    margin: 0;
                    font-size: 1.25rem;
            }
	}
        
        .logo-content {
		position: absolute;
		left: 0;
		top: 75%;
		transform: translateY(-50%);
                        
                .circle {
                    border-radius: 50%;
                    max-height: 325px;
                    max-width: 325px;
                    height: 40vw;
                    width: 40vw;
                    box-shadow: 0 0 0 8px white;
                    position: relative;
                    margin: 0 auto;
                }
                
		img,
		svg {
                    position: absolute;
                    margin: auto;
                    max-width: 90%;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
		}
		svg {
                    fill: $white;
                    margin-bottom: 2.5rem;
		}
		p {
                    margin: 0;
                    font-size: 1.25rem;
		}
	}
        
        .agency-descriptions {
            /*margin-left: 50%;*/
            margin-top: 11%;
            padding-left: 10px;
            
                .post-title {
                    font-family: "Oswald", sans-serif;
                    font-size: 30px;
                }
                
                .description {
                    font-size: 20px;
                }
        }
}

.banner-bar {
    width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	transition: all .35s $easeInOutCubic;

	.container {
		height: auto;
	}
	.quick-links {
		li {
			padding: 0 20px;
			line-height: 40px;

			&:first-child {
				padding: 0 20px 0 0;
			}
		}
	}
	li {
		font-family: $header-font-family;
	}
	.email {
		margin-left: 20px;
	}

	//Responsible for scroll
	&.fixed {
		position: fixed;
		top: 80px;
		bottom: inherit;
		z-index: 11;
		padding: 10px 0;

		.email {
			border: 0;

			&:hover {
				background-color: rgba(0,0,0,0);
			}
		}
		.telephone a:hover {
			color: $dark-grey;
		}

        .quick-links {
            li {
                &.isActive {
                    .inline-underline {
                        &::before {
                            width: 100%;
                        }
                    }

                    .inline-underline-middle {
            			&::before,
            			&::after {
                            width:50%;
            			}
            		}
                }
            }
        }

        .navigation {
            li {
                &.isActive {
                    .inline-underline-middle {
            			&::before,
            			&::after {
                            width:50%;
            			}
            		}
                }
            }
        }
	}
}

.work-bar {
	background-color: rgba($dark-blue, 0.8);

	ul {
		padding: 0;
		text-align: center;
	}
}

.filters-sub-bar {
	clear: both;
	overflow: hidden;
	width: 100%;
	position: absolute;
	z-index: 2;

	.agency {
		height: 50px;
		padding: 10px 20px;
		width: 33%;
		cursor: pointer;

		a.isActive::before {
			width: 100%;
		}

		&.hide {
			display: none;
		}
	}
	.region {
		padding: 0 20px;
	}
	.regions,
	.agencies {
		width: 100%;
		max-height: 0;
		transition: max-height 0.35s $easeInOutCubic;

		&.isActive {
			max-height: 1000px;
		}
	}
	&.fixed {
		position: fixed;
		top: 126px;
		bottom: inherit;
		z-index: 2;
	}
}

@media screen and(max-width: 768px) {
	.full-height-banner {
		min-height: auto;
		height: auto;

		.dotted-bg,
		.container {
			height: auto;
		}
		.inner-content {
			position: relative;
			top: inherit;
			left: inherit;
			transform: translateY(0);
			margin: 30px 0 50px 0;

			p {
				padding-right: 20px;
			}
			svg {
				margin-bottom: 1.5rem;
			}
		}
	}
        .single-agency {
            .full-height-banner {
                .container {
                    min-height: 330px;
                }
            }
        }
	.banner-bar {
		padding: 20px 0;

		.quick-links {
			line-height: 1rem;

			li a {
				border: 0;
			}
		}

		.button {
			border: 0;
			padding: 0;
			&:hover {
				background-color: rgba(0,0,0,0);
				color: $white;
			}
		}

		.quick-links,
		.agency-contact {
			width: 100%;
			text-align: center;

			.email {
				margin-left: 0;
			}
			li {
				padding: 0 10px;
			}
			li:first-child {
				padding: 0 10px 0 0;
			}
		}
		&.pad-30{
			padding: 0px;
		}
		&.agency-bar {
			position: relative;
		}
		&.press-room-banner-bar {
			position: relative;
			bottom: 0;
			top: 0;
			left: 0;

			&.isActive {
				overflow: inherit;
			}
		}
	}
	.work-bar ul {
		padding: 10px 0;
	}
/*        .single-agency {
            .inner-content {
                position: absolute;
            }
        }*/
}

@media screen and (max-width: 480px) {
	.full-height-banner {
            .inner-content {
                svg,
                img {
                    max-width: 120px;
                    max-height: 120px;
                }
            }
            .agency-descriptions {
                width: 100%;
                float: unset;
            }
	}  
}

@media (max-width: 600px) {
    .single-agency {
        .agency-descriptions {
            width: 100%;
            float: unset;
        }
        .agency-contacts {
            .contacts {
                margin-top: 40px;
            }
        }
       
        .logo-content {
            position: relative;
            transform: none;
            margin: 20px 0;
            width: 100%;

            .circle {
                min-width: 265px;
                min-height: 265px;
            }
        }
    }  
}
