.button {
	font-family: $header-font-family;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	display: block;
	transition: all 0.35s;
	cursor: pointer;
	padding: 10px 25px;
	border: 1px solid transparent;
	background: transparent;

	&.inline-block {
		display: inline-block;
	}
}

.button-inline {
	display: inline-block;
}

.button-outlined-black, input[type="submit"] {
	border: 1px solid $dark-grey;
	border-radius: 3px;
	color: $dark-grey;

	&:hover {
		background: $dark-grey;
		color: $white;
	}
}

.button-outlined-white {
	border: 1px solid $white;
	border-radius: 3px;
	color: $white;

	&:hover {
		background: $white;
		color: $dark-grey;
	}
}

.scroll-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 500;

    .icon {
        margin-top: 5px;
        display: block;
        @include animation(bounce 2s infinite);
    }

    .scroll-text {
        transition: all 0.25s $easeInOutCubic;
    }

    &:hover {
        .bounce {
            .scroll-text {
                opacity: 0.5;
            }
        }
    }
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
  	transform: translateY(0);
  }
 40% {
 	transform: translateY(-10px);
 }
 60% {
 	transform: translateY(-5px);
 }
}

.js-popup-video-trigger {
	cursor: pointer;
	&:hover {
		.play-icon {
			transform: scale(1.1);
		}

        span {
            opacity: 0.5;
        }
    }

    &:active {
        .play-icon {
			transform: scale(.9);
		}
    }

    span {
        transition: all 0.35s;
        opacity: 1;
    }
}

.play-icon {
    display: block;
    fill: $white;
    width: 40px;
    height: 40px;
    margin: 30px auto 5px auto;
    transition: all 0.25s $easeInOutCubic;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(.9);
    }
}

 .button-search {
    border: 1px solid #95989A;
    height: 50px;
    line-height: 50px;
    color: #95989A;
    display: block;
    margin: 40px auto 20px;
    max-width: 400px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}