.asset-wrap {
    padding: 20px;

    &:hover {
        .asset-icon {
            top: -5px;
        }

        .asset {
            background: rgba(0,0,0, 0.08);
        }
    }
}

.asset {
    padding: 20px;
    transition: all 0.15s $easeInOutCubic;
}

.asset-icon {
    text-align: left;
    padding: 10px 0;
    position: relative;
    top:0;
    transition: all 0.15s $easeInOutCubic;
}

.asset-name {
    margin-bottom: 0;
}

.asset-description {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.asset-wrap {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .asset-wrap {
        width: 100%;
    }
}
