.arrowed-list {
    li {
        position: relative;

        &:before {
            position: absolute;
            top:2px;
            left:-15px;
            content: ">";
            display: inline-block;
        }
    }
}

.social-list {
    margin: 10px 0 0px 0;
    li {
        margin-right: 10px;
		.icon {
			width: 32px;
			height: 32px;
			transition: all 0.35s;
		}
		&:hover{
			.icon{
				fill: $blue-highlight;
			}
		}
    }
    
    a {
        svg {
            width: 60px;
            height: 70px;
            padding: 10px;
            border: 1px solid #95989A;
            fill: #ADADAD;
        }
    }
    
    a:not(:last-child)  {
        margin-right: 10px;
    }
}

.circle-number-list {
	counter-reset: circlelist;
	padding: 0;
	max-width: 450px;
	margin: 0 auto;

	li {
		position: relative;
		list-style-type: none;
		@include font-size(18px);

		&::before {
			counter-increment: circlelist;
			content: counter(circlelist);
			display: inline-block;
			color: $black;
			vertical-align: middle;
			text-align: center;
			margin-right: 10px;
			width: 40px;
			height: 40px;
			border: 2px solid black;
			border-radius: 50%;
			line-height: 2.125rem;
			font-weight: bold;
		}
	}

	&.white {
		li::before {
			color: $white;
			border: 2px solid $white;
		}
	}
}

.circle-points {
    counter-reset: circlelist;

    .point {
        padding: 20px 10px 0px 10px;
        //TW: Set height to allow columns to float properly.
        height: 150px;
        &::before {
            counter-increment: circlelist;
			content: counter(circlelist);
			display: inline-block;
            vertical-align: middle;
			text-align: center;
			margin-right: 10px;
			width: 40px;
			height: 40px;
			border: 2px solid $dark-grey;
			border-radius: 50%;
			line-height: 2.125rem;
			font-weight: bold;
            margin: 20px 0;
        }
        &.white::before {
			border: 2px solid $white;
        }
    }
}

.network-dropdown{
	margin: 10px 0 0 0;
	padding: 0;
	clear: both;

	li {
		clear: both;
		float: left;
	}
}

.pagination{
	padding-bottom: 100px;
	text-align: center;
	font-size: 18px;
	ul{
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		display: inline-block;
		li{
			display: inline-block;
			margin: 0px 5px;
			.current{
				color: $blue-highlight;
				font-weight: bold;
			}
		}
	}
	a{
		display: inline-block;
		transition: all 0.3s ease;
		&:hover{
			color: $blue-highlight;
		}
	}
}

.tags-list{
	margin-bottom: 80px;
	ul{
		li{
			margin-right: 5px;
			transition: all 0.3s ease;
			&.bold{
				margin-right: 10px;
			}
			&.tag{
				color: $dark-grey;
				border: 1px solid $off-white;
				padding: 5px;
				&:hover{
					cursor: pointer;
					color: $white;
					background: $dark-blue;
				}
			}
			a{
				font-weight: normal;
			}
		}
	}
}

.spaced-list {
    font-family: $header-font-family;
    li {
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
	.circle-points .point {
		width: 100%;
		height: auto;
		clear: both;
	}
}
