.navigation {
	text-align: right;
	padding-top: 10px;
	li {
		text-align: center;
		padding: 0 20px;
		position: relative;
	}
	.current-menu-item {
		> a {
			font-weight: 300;
			color: $blue-highlight;

			&::before, &::after {
				width: 50%;
			}
		}
	}
	/* Press room dropdown for the main navigation, shows on hover --Aaron */
	.nav-dropdown {
		position: absolute;
		z-index: 9999999;
		top: 49px;
		opacity: 0;
		width: 150px;
		transition: all 0.25s ease;

		&.arrow::before {
			content: '';
			width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid $blue;
			position: absolute;
			top: -15px;
			left: 60px;
		}
	}
	.press-nav-dropdown {
		left: -39px;

		span:last-child {
			padding-top: 0px;
		}
	}
	.network-nav-dropdown {
		left: -24px;
	}
	/*News menu item*/
	.menu-item {
		&:hover {
			.nav-dropdown {
				opacity: 1;
			}
		}
	}
}

.fixed-nav {
    position: fixed;
    top:0;
    left:0;
    background: $white;
    z-index: 999;
    border-bottom: 1px solid $blue;
}

.breadcrumb,
.sim-dropdown {
	padding: 20px 10px;
	font-family: $header-font-family;
	text-transform: uppercase;
	color: $white;
	height: auto;
	overflow: auto;

	li {
		height: 1.875rem;

        &:after {
            content: '/';
            display: inline-block;
            margin-left: 10px;
            font-weight: 300;
        }

		&:not(:first-child) {
			padding-left: 10px;
		}

        &:last-child {
            &:after {
                display: none;
            }
        }
	}

	a {
		opacity: 0.8;
		color: $white;
		font-weight: 300;
		transition: all 0.35s;

		&::before,
		&::after {
			background-color: $white;
		}

		&:hover {
			opacity: 1;
		}
	}

	.sub-menu {
		padding: 0;
		max-height: 0px;
		overflow: hidden;
		transition: max-height 140ms $easeInCubic;
		position: absolute;

		li {
			clear: both;

            &:after {
                display: none;
            }
		}

		&.isActive {
			max-height: 100px;
		}
	}

	.arrow-down {
		svg {
			fill: $white;
			width: 16px;
			padding: 0 0 0 5px;
			display: inline;
			cursor: pointer;
		}
	}

	//White/grey determined by breadcrumb_tone colour set in CMS
	&.white li a {
		color: $white;
		&::after,&::before {
			background-color: $white;
		}
	}
	&.grey li {

        &:after {
            color: $dark-grey;
        }

        a {
    		color: $dark-grey;
    		&::after,&::before {
    			background-color: $dark-grey;
    		}
    	}
    }
}

.sim-dropdown {
	padding: 0px;

	a {
		color: $dark-grey;

		&::before,
		&::after {
			background-color: $dark-grey;
		}
	}
	svg {
		fill: $dark-grey !important;
	}
	.sub-menu.isActive {
		max-height: 150px;
	}
}

.work-filters {
	text-align: center;

	ul {
		text-align: center;
		padding-top: 0;
	}
	li {
		font-family: "Oswald", sans-serif;
		padding: 2px 20px;
	}

	.filter-btn{
		display: none;
		&.homepage-filters{
			display: inline-block;
			svg{
				fill: $black;
			}
		}
	}

    &.agency-principles-filters {
        .filter-btn {
            a {
                svg {
                    fill: $black;
                }
            }
        }
    }
}

.footer-nav {
	text-align: right;
        color: #95989A;
        font-size: 13px;
        
	li {
		text-align: center;
		padding: 0 10px 0 0;
		position: relative;

		&:after {
			content: '';
			display: inline-block;
			height: 10px;
			width: 1px;
			background: #95989A;
			margin-left: 10px;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	a {
		@include font-size(13px);
		font-weight: 300;
	}
}

.mobile-navigation {
	position: fixed;
	left: 0;
	top: 80px;
	z-index: 11;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 600ms $easeInOutCubic;

	.ui-inline-list{
		transition: all 900ms $easeInOutCubic;
	}

    .menu-item {
    	width: 100%;
    	clear: both;
    	background-color: rgba($light-grey, 0.95);
    	height: auto;
    	border-bottom: 1px solid $border-grey;
    	text-align: center;
    	text-transform: uppercase;
    	font-family: $header-font-family;
    	position: relative;
    	cursor: pointer;
    	padding: 0px;

    	a {
    		line-height: 60px;
    		font-weight: 100;
		    width: 100%;
		    height: 100%;
		    display: block;
		    position: relative;
    	}
		&:hover > a,
		&.current-menu-item > a,
		&.current_page_ancestor > a {
			&::before {
				content: " ";
				width: 8px;
				height: 100%;
				display: block;
				position: absolute;
				left: 0px;
				top: 50%;
				transform: translateY(-50%);
				background-color: $orange;
			}
		}
    }

    .children {
		max-height: 0;
		overflow: hidden;
		transition: max-height 400ms $easeInOutCubic;
		position: relative;

		&.isActive {
			//Literally doesn't matter what this is, as long as it's > the auto height of the el. We just can't animate height.
			max-height: 500px;
		}
		&::before {
			content: " ";
			width: 30px;
			height: 30px;
			background-color: rgba($light-grey, 0.95);
			position: absolute;
			top: -15px;
			left: 30px;
			display: block;
			transform: rotate(-45deg);
			z-index: 1;
		}
    }
	.child-item {
		background-color: rgba($blue, 0.95);
		color: $white;
		border-bottom: 1px solid $border-blue;
	}
    &.isActive {
    	max-height: 2000px;
    	.child-triggered{
    		margin-top: -188px;
    	}
    }
    &.is_admin {
    	top: 126px;
    }
}

.news-region-button,
.agency-region-button {
    float: right;
    font-family: $header-font-family;
    text-transform: uppercase;
    color: $white;
    position: relative;

	span {
		cursor: pointer;
	}
	&:nth-last-child(2) {
		padding-left: 20px;
	}
}

@media screen and (max-width: 768px) {
	.breadcrumb {
		display:none;
	}
	.navigation {
		a {
			&::before,
			&::after {
				display: none;
			}
			&.isActive {
				&.white {
					border-bottom: 2px solid $white;
				}
			}
		}
	}
	.breadcrumb {
		&.white li a {
			color: $white;
			border-bottom: 1px solid $white;
		}
		&.grey li a {
			color: $dark-grey;
			border-bottom: 1px solid $dark-grey;
		}
	}
	.news-region-filter {
		padding-top: 10px;

		.sub-menu {
			left: -50px;
		}
	}

	.work-filters{
		width: 100%;
		max-height: 60px;
		overflow: hidden;
		transition: all 1s $easeOutCubic !important;
		padding: 0;

		&.isActive {
			overflow: visible;
			max-height: 380px;

			ul {
				height: auto;
				max-height: 380px;
				padding: 10px 0;
			}

            .split-slider-links {
                padding: 0 0 0 0;
            }
		}
		ul {
			width: 100%;
			padding: 10px 0 0 0;

			.isotope-filter, {
				padding: 10px 20px;
				width: 100%;
			}
		}
		.filter-btn{
			display: block;
			width: 100%;
			a {
				width: auto;
				display: inline-block;
				color: $white;
				font-family: $header-font-family;
				font-weight: 300;
				text-transform: uppercase;
				-webkit-font-smoothing: antialiased;
				padding: 10px 0px;
				svg{
					fill: $white;
					width: 15px;
					padding: 0 0 0 5px;
					display: inline;
					cursor: pointer;
				}
			}
		}

        .split-slider-links {
            padding: 0 0 0 0;
            li {
                padding: 10px 20px;
                width: 100%;
            }
        }
	}
}

@media screen and (max-width: 768px) {
	.region-button {
		display: none;
	}
	.sim-dropdown {
		.sub-menu {
			width: 120px;

			li {
				background-color: rgba(255, 255, 255, 0.95);
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.navigation li {
		padding: 0 10px;
	}
}
