.leadership-team {
    @include clearfix();

    padding-bottom: 50px;

	&.our-story .team-member-wrap {
		// width: calc(25% - 20px);
		margin: 20px 10px 0 10px;
	}
}

.leadership-team-cta {
    @include font-size(22px);
    margin: 50px 0 0 0;
}

.agency-principles-filters {
    margin-bottom: 50px;

    .principle-filter {
        &.americas {
            a {
                &:hover {
                    color: $blue;

                    &:before,&:after {
                        background: $blue;
                    }
                }

                &.isActive {
                    color: $blue;

                    &:before,&:after {
                        background: $blue;
                    }
                }
            }
        }

        &.europe-africa-the-middle-east {
            a {
                &:hover {
                    color: $orange;

                    &:before, &:after {
                        background: $orange;
                    }
                }

                &.isActive {
                    color: $orange;

                    &:before,&:after {
                        background: $orange;
                    }
                }
            }
        }

        &.asia-pacific {
            a {
                &:hover {
                    color: $green;

                    &:before,&:after {
                        background: $green;
                    }
                }

                &.isActive {
                    color: $green;

                    &:before,&:after {
                        background: $green;
                    }
                }
            }
        }
    }
}

.team-member-wrap {
    padding: 0;
	height: auto;
	padding: 20px 10px 0 10px;

	&.americas .member-content-overlay {
        border: 5px solid $blue-opaque;
    }
    &.asia-pacific .member-content-overlay {
        border: 5px solid $green-opaque;
    }
    &.europe-africa-the-middle-east .member-content-overlay {
        border: 5px solid $orange-opaque;
    }
}

.team-members-alt {
    .team-member-wrap {
        margin-top: 0;
        padding: 20px;
        width: 25%;
    }

    //make it square, always
    .member-image {
        padding-bottom: 100%;
    }
}

.member-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.member-position {
    margin-bottom: 10px;
}

.member-email {
    margin-bottom: 5px;
}

.team-member {
    position: relative;
    letter-spacing: 1px;
    width: 100%;

    &:hover {
        .member-content-overlay {
            opacity: 1;
            visibility: visible;
        }

        .inline-underline {
            &:before {
                width: 100%;
                transition-delay: 0.35s;
            }
        }
    }
}

.hidden {
    display: none;
}

.member-content {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.member-shot {
    width: 100%;
    padding-bottom: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.member-content-block {
    width: 100%;
    padding: 20px;
}

.member-content-overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding: 20px;
    color: $white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s $easeInOutCubic;

    p {
        @include font-size(14px);
        line-height: 1.2rem;
    }
}

.member-name,.member-title {
    display: block;
    width: 100%;
}

.member-name {
    font-family: $header-font-family;
    letter-spacing: 1px;
    @include font-size(18px);
}

.member-title {
    margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
    .team-members-alt {
        .team-member-wrap {
            width: 50%;
        }
    }

    .member-content-overlay {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 960px) {
    .team-member-wrap {
        width: 50%;
    }
    .member-shot {
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .member-content-overlay {
        opacity: 1;
        visibility: visible;
    }
    .member-shot {
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .member-shot {
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .team-member-wrap {
		width: 100%;
    }

    .member-shot {
        height: auto;
    }

    .team-members-alt {
        .team-member-wrap {
            width: 100%;
        }
    }
}
