.agency-collabs {
	.row {
		@include clearfix();
	}
	.collab-item {
		width: calc(33.33% - 20px);
		margin-right: 30px;
		text-align: center;

		svg,
		img {
			width: 70%;
			display: inline-block;
			fill: $white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			path {
				fill: $white;
			}
			line {
				stroke: $white;
			}
		}
		img {
			width: auto;
			max-height: calc(100% - 20px);
		}
		&:last-child {
			margin-right: 0;
		}
		&:hover {

		}
		.inline-underline {
			margin-top: 10px;
		}
	}
	.collab-img {
		width: 100%;
		height: 150px;
		margin-bottom: 20px;
   		vertical-align: middle;
		background-size: cover;
		background-position: 100% 100%;
		position: relative;
	}
}

.agency-news {
    width: 100%;
	.row {
		@include clearfix();
        width: 100%;
	}
	.news-item {
		width: calc(33.33% - 20px);
		margin-right: 30px;
		text-align: left;

		&:last-child {
			margin-right: 0;
		}
	}
	.news-img {
		width: 100%;
		height: 200px;
		margin-bottom: 20px;
	}
}

.news-pods {
	transition: opacity 0.35s $easeInOutCubic;
	//Sorry
	.row {
		border-top: 0px !important;
		margin: 40px 0;
		overflow: inherit;
	}

	.pagination {
		padding: 30px 0;

		li {
			padding: 0 5px;
		}
		a.isActive {
			color: $blue;
		}
	}

    .pagination-next {
        margin-left: 10px;
    }

    .pagination-prev {
        margin-right: 10px;
    }

	&.hideNews {
		opacity: 0;
	}
}

.isotope-post {
	background-color: $light-grey;
	height: 350px;
	padding: 40px;
	width: calc(33.33% - 30px);
	//Isotope doesn't like 50px
	margin: 0 0 45px 0;
	float: left;
	position: relative;

	.inline-underline {
		opacity: 0;
	}

	&.work .overlay-wrap .inline-underline {
		position: absolute;
		left: 40px;
		bottom: 40px;
	}

	&:hover {
		cursor: pointer;
		.overlay {
			opacity: 1;
		}
		.client-logo {
			opacity: 1;
		}
		.inline-underline {
			opacity: 1;

			&::before {
				width: 100%;
			}
		}
	}
	.white{
		position: relative;
		z-index: 2;
		p{
			position: relative;
			z-index: 2;
		}
	}
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.8);
		transition: all .35s $easeInOutCubic;
		opacity: 0.3;
		z-index: 1;
		img {
			max-width: 100px;
		}

		.intro-text p {
			margin: 1.5rem 0;
		}
		&:hover .inline-underline::before {
			width: 100%;
		}
	}

	.client-logo {
		position: absolute;
	    bottom: 40px;
	    right: 40px;
	    width: 80px;
	    height: auto;
	    opacity: 0;
	    transition: all .35s $easeInOutCubic;
		svg {
			max-width: 180px;
		}

		svg, path, polygon, shape {
			fill: $white;
		}
	}

	.overlay-wrap {
		top: 0%;
		left: 0%;
		position: relative;
		width: 100%;
		padding: 40px;
		height: 100%;
		text-left: left;
	}

	& > a {
		clear: both;
	}

	&.event {
		border: 5px solid $blue;
		background-color: $white;
		color: $dark-grey;
        backface-visibility: hidden;
		transition: border 0.35s $easeInOutCubic;

		.inline-underline {
			opacity: 1;

			&::before {
				transition: width 0.35s $easeInOutCubic;
			}
		}
		.overlay-wrap {
			padding: 0;
		}
		&:hover {
			border: 5px solid darken($blue, 10%);

			.inline-underline::before {
				width: 100%;
			}
		}

        // .hover-cover {
        //     position: absolute;
        //     top:0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: $blue;
        //     transition: transform 0.35s $easeInOutCubic;
        //     backface-visibility: hidden;
        //     transform: scale3d(0,0,0);
        // }
	}

	&.post {
		background-color: $off-grey;
		color: $dark-grey;
		transition: background 0.35s $easeInOutCubic;

		.inline-underline {
			opacity: 1;
		}

		&:hover {
            background: darken($off-grey, 10%);
			.inline-underline {
				&:before {
                    //transition-delay: .35s;
				    width: 100%;
				}
			}
		}
		h2 {
			margin: 0;
		}
	}
}

.zoom-in-hover {
	padding:0;
	position: relative;
	overflow:hidden;

	.zoom-in {
		position: absolute;
		height: 100%;
		width: 100%;
		transition: all 0.35s ease-in-out;
	}

	&:hover > .zoom-in {
		transform:scale(1.2);
	}
}

.relevant-ctas li {
	display: none;

	&.isActive {
		display: inline-block;
	}
}

.isotope-wrapper a:last-child .isotope-post {
	margin: 0;
}

@media screen and (max-width: 960px) {
	.isotope-post {
		width: calc(50% - 30px);
		height: 340px !important;
	}
}

@media screen and (max-width: 768px) {
	.agency-news {
		.news-item {
			display: block;
			margin: 0 auto 20px auto;
			float: none;
			clear: both;
			width: 100%;
		}
	}
	.agency-collabs {
		.news-item {
			display: block;
			margin: 0 auto 20px auto;
			float: none;
			clear: both;
			width: 100%;
		}
	}
	.isotope-wrapper {
		overflow-x: hidden;
	}
	.isotope-post {
		width: calc(50% - 30px);
		height: 340px !important;
		margin: 0 0 30px 0;

		.overlay {
			display: none;
		}
		&.post:hover {
			background-color: $off-grey;
		}
		&.work:hover > .zoom-in {
			transform: scale(1);
		}
		&.event:hover {
			border: 5px solid $blue;
		}
	}
	.relevant-ctas {
		padding: 20px 0;
	}
}

@media screen and (max-width: 660px) {
	.isotope-post {
		width: 70%;
		left: 50% !important;
		transform: translateX(-50%);

		.overlay {
			background-color: rgba(0, 0, 0, 0.6);
		}

		.overlay,
		.inline-underline {
			opacity: 1;
			display: inline-block;

			&:hover {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.isotope-post {
		width: 100%;
	}

    .agency-collabs {
        .collab-item {
            text-align: center;
            margin-bottom: 20px;
            width: 100%;
        }
    }
}
