.section-one {
	z-index: 1;
	overflow: visible;

	.header-text-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -70%);
		z-index: 1;
	}
	.container {
		z-index: 1;
		padding: 180px 0 0 0;
	}
}

.mute-icon,
.muted-icon {
	max-width: 80px;
	fill: $white;
	display: none;
	cursor: pointer;

	&.active {
		display: inline-block;
	}
}


.blue-50 {
	padding: 80px 20%;
	z-index: 2;
	transform: translateY(60%);

	.h4 {
		margin: 0;
	}
	.h4 {
		padding: 0 0 90px 0;
	}
	p {
		font-size: 1.125rem;
	}
	a {
		padding: 70px 0 0 0;
		display: inline-block;
	}
}

.home-earth {
	text-align: center;

	.h1 {
		margin-bottom: 1.5rem;
	}
	.tab-text {
		cursor: pointer;
        opacity: .5;
        transition: all 0.35s $easeInCubic;

        &:hover {
            opacity: 1;
        }

		&.isActive {
			//font-weight: bold;
			//text-decoration: underline;
            opacity: 1;

            &::before {
                width: 100%;
            }
		}
	}

    .bullet-tabs-wrap {
        position: relative;
        width: 100%;
        height: 500px;
    }

	.bullets-tab {
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
		visibility: hidden;
        opacity: 0;
        transition: all 0.35s $easeInOutCubic;

		&.isActive {
			opacity: 1;
            visibility: visible;
		}
	}
	.circle-number-list {
		text-align: left;

		li {
			clear: both;
			height: auto;
			overflow: auto;
		}
		span {
			width: calc(100% - 60px);
			display: inline-block;
            padding: 0 0 0 10px;
            vertical-align: middle;
		}
	}
	.inline-underline {
		display: inline-block;
		font-size: 1.125rem;
		padding: 20px 0 0 0;
		margin: 0;
	}
}

.home-featured-stories {

	.h4, p {
		margin: 0;
	}
	.h4 {
		padding: 0 0 120px 0;
	}
	p {
		font-size: 1.125rem;
		padding: 0 20%;
	}
	.ui-inline-list {
		padding: 110px 0 0 0;

		li:last-child {
			margin-left: 30px;
		}
		a {
			font-size: 1.125rem;
		}
	}
}

.collabs-section {
	border-top: 1px solid $border-grey;
}

.news-section {
    /*border-top: 1px solid $border-grey;*/
}

// .main-agency-content {
// If you could just not break my code and then leave it broken that would be great.
// 	.row:not(:first-of-type) {
// 		border-top: 1px solid $border-grey;
// 	}
// }

.grey-border-top {
	border-top: 1px solid $border-grey;
}

.main-agency-content {
        padding: 50px 0px;
	.video-wrap {
		margin: 0;
	}
        .contacts {
            margin-top: 90px;
            
            .email, .phone, .send-brief {
                border: 1px solid #95989A;
                height: 70px;
                line-height: 70px;
                margin-bottom: 10px;
                color: #95989A;
                display: block;
                margin: 10px auto;
                width: 285px;
                font-weight: normal;
                font-size: 20px;
            }
        }
        .header {
            color: #115489;
            font-size: 30px;
            font-family: "Oswald", sans-serif;
        }
         
        .agency-team {
            .member {
                color: #95989A;
                min-height: 200px;
                position: relative;
                margin-top: 40px;
                
                .icon {
                    img {
                        width: 100%;
                        border-radius: 50%;
                        max-height: 180px;
                        max-width: 180px;
                    }
                }
                span, a {
                    display: block;
                    font-size: 22px;
                }
                .position, .email {
                    color: #5A99C5;
                }
                a {
                    font-weight: normal;
                }
                .name {
                    font-size: 26px;
                    font-family: "Oswald", sans-serif;
                }
            }
        }
        
        .agency-rest {
            margin-top: 40px;
            
            h1 {
                text-align: center;
            }

            /* Acordeon styles */
            .tab {
                position: relative;
                margin-bottom: 1px;
                width: 100%;
                overflow: hidden;
                border-bottom: 1px solid #95989A;
            }
            .tab:first-of-type  {
                border-top: 1px solid #95989A;
            }
            input {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
            label {
                position: relative;
                display: block;
                padding: 0 0 0 1em;
                font-weight: bold;
                line-height: 3;
                cursor: pointer;
                color: #115489;
                padding: 15px 0;
            }
            .tab-content {
                max-height: 0;
                overflow: hidden;
                -webkit-transition: max-height .35s;
                -o-transition: max-height .35s;
                transition: max-height .35s;
                color: #95989A;
            }
            .tab-content p {
                margin: 1em;
                text-align: left;
            }
            /* :checked */
            input:checked ~ .tab-content {
                max-height: 100em;
                margin-bottom: 30px;
                overflow: unset;
            }
            /* Icon */
            label::after {
                position: absolute;
                right: 0;
                top: 0;
                display: block;
                width: 3em;
                height: 3em;
                line-height: 3;
                text-align: center;
                -webkit-transition: all .35s;
                -o-transition: all .35s;
                transition: all .35s;
            }
            input[type=checkbox] + label::after {
                content: "+";
            }
            input[type=radio] + label::after {
                content: "\25BC";
                top: 10px;
            }
            input[type=checkbox]:checked + label::after {
                transform: rotate(315deg);
            }
            input[type=radio]:checked + label::after {
                transform: rotateX(180deg);
            }
            
            .client-showcase {
                padding: unset;
            }
        }
}

.dashboard {
    .header {
        overflow: overlay;
        position: absolute;
        z-index: 100;
        width: 100%;
        opacity: 0.85;
    }
    
    .network-search-results {
        position: relative;
    }
    
    .button-search + div {
        display: none;
    }
}

.client-showcase {
	overflow: hidden;
	padding: 50px 0 0 0;
	.client-logo {
		position: relative;
		height: 160px;
		margin: 20px 0;
		list-style-type: none;

		img {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			// padding: 20px;
			max-width: 230px;
		}
		a {
			cursor: pointer;
			transition: all 0.35s $easeInOutCubic;
			// &:hover {
			// 	img {
			// 		transform: scale(1.2)
			// 	}
			// }
		}
	}
}

.client-logos-list {
	.row {
		overflow: hidden;
	}
}

.wysiwyg {
    p {
        a {
            font-weight: 300;
            position: relative;

			&::before,
			&::after {
				content: " ";
				height: 1px;
				display: inline-block;
				position: absolute;
				bottom: -2px;
				background-color: $white;
			}

            &::before{
                width: 0;
                -webkit-transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            &::after{
                width: 100%;
                left: 0;
                opacity: 0.3;
            }
            &:hover{
                &::before{
                    width: 100%;
                }
            }
        }
    }
}

.join-anchor {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	@include font-size(20px);
}

.view-clients {
    svg {
        transform: rotate(0deg);
        transition: all 0.25s $easeInOutCubic;
    }

    &.isActive {
        svg {
            transform: rotate(180deg);
        }
    }
}

.client-list {
	max-height: 0;
	overflow: hidden;
	transition: max-height 350ms $easeInOutCubic;

	.filters {
		background-color: $light-grey;

		.filter-clients {
			position: relative;
			bottom: -2px;
		}
	}
	.clients {
		background-color: $mid-to-light-grey;

		.client-name {
			padding: 10px 10px;
            height: 70px;
		}
	}
	.letter {
		padding: 10px;
		opacity: 0.6;
        transition: all 0.35s $easeInOutCubic;

		&.isActive {
			opacity: 1;
			cursor: pointer;
		}

        &.isSelected {
            color: $blue;
        }
	}
	&.isActive {
		max-height: 3000px;
	}
}

.clients-body {
	.intro-text {
		.h3 {
			font-family: $base-font-family;
		}
		svg {
			width: 10px;
			fill: $dark-grey;
		}
		a {
			cursor: pointer;
		}
	}
}

.action-banner {
	p:first-child {
		@include font-size(18px);
		margin-bottom: 0.5rem;
	}
	.h1 {
		@include font-size(72px);
	}
	.cta {
		@include font-size(20px);
	}
}

.leadership-team {
	.cta {
		margin-top: 20px;
		@include font-size(20px);
	}
}

.overlay-trans-black {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
}

.home-featured-event {
    padding: 80px 0;

    p {
        @include font-size(18px);
        line-height: 1.5em;
    }
}

.home-featured-event-cta {
    padding-top: 50px;
    padding-left: 5px;
}

@media screen and (max-width: 960px) {
    .main-agency-content {
        padding: 0;
    }
    .agency-rest {
        float: none;
        width: 100%;
    }
    
    .agency-team {
        margin-top: 40px;
    }
}

@media screen and (max-width: 876px) {
    .agency-team, .agency-contacts {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
	.mobile-blue-50 {
		padding: 30px 40px;
	}
	.home-featured-stories {
		.h4 {
			padding: 0 0 30px 0;
		}
		p {
			padding: 0 10%;
			font-size: 1rem;
		}
		.ui-inline-list {
			padding: 30px 0 0 0;

			li:last-child {
				margin-left: 10px;
			}
		}
	}
	.mobile-section-one {
		h1 {
			margin: 0 0 20px 0;
		}
		.mute-icon {
			max-width: 50px;
		}
	}
	.filter-clients {
		bottom: 0;
		width: 100%;
		text-align: center;
	}
	.action-banner .h1 {
		font-size: 2.5rem;
		margin: 20px 0;
	}
	.main-agency-content {
		//Ew
		#about {
			.quarter {
				&.right {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.client-showcase {
		.client-logo {
            height: 100px;
			&.quarter {
                //overide defualt behaviour of quarter to break into 100% at this screen size
                width: 50%;
				img {
					padding:0;
				}
			}
		}
	}

    .home-earth {

        .h1 {
            line-height: 1.5;
        }

        .bullet-tabs-wrap {
            height: 540px;
        }
    }
    
    .agency-team {
        .icon, .details  {
            width: 100%;
            float: none;
        }
    }
    
}

@media screen and (max-width: 320px) {
    .home-earth {

        .circle-number-list {

            span {
                width: 100%;
            }

            li {
                text-align: center;

                &::before {
                    margin-bottom: 8px;
                }
            }
        }

        .bullet-tabs-wrap {
            height: 800px;
        }
    }
}
