.sidebar {
	//Didn't use ui-list because social-list was inheriting
	li {
		list-style-type: none;

		p:first-child {
			margin: 0 0 5px 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.sidebar {
		padding: 0;
	}
}
