.speaker-headline {
    @include font-size(26px);
    padding: 20px 40px 20px 40px;
    font-weight: 400;
}

.speaker-pod {
	margin: 0 0 40px 0;
	width: 100%;
	height: auto;
	overflow: hidden;

	.speaker-img {
		// max-height: 240px;
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			position: absolute;
		}

		//Responsive square
		&::after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
	}

	.speaker-content {
		padding: 0 30px;

		.speaker-name {
			font-size: 2rem;
			font-weight: bold;
			font-family: $header-font-family;
			margin-bottom: 10px;
		}
		.speaker-text {
			font-weight: 200;
			font-size: 1rem;
			// letter-spacing: 1px;
			line-height: 1.75rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.speaker-content {
		width: 50%;
	}
}

@media screen and (max-width: 570px) {
    .speaker-content {
        margin-top: 20px;
		width: 100%;
	}
}
