.split-slider {
    height: calc(100vh - 80px);
    overflow: hidden;
    width: 100%;
    @include clearfix();
    position: relative;

    .item {
        height: 25%;
        position: relative;
    }

    .item-content {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    .item-number {
        width: 100px;
        height: 100px;
        margin: 0 auto 50px auto;
        padding: 0 0 0 0;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        border: 5px solid $dark-grey;
        border-radius: 50%;
        @include font-size(62px);
        line-height:1.3em;
        text-indent: 0;
    }

    .item-number-4 {
        text-indent: -6px;
    }

    .item-title {
        margin-bottom: 8px;
    }

    .item-sub-title {
        @include font-size(20px);
        letter-spacing: 1px;
    }

    .item-description {
        padding-top: 1.5rem;
        max-width: 450px;
        margin: 0 auto 0 auto;

        p {
            letter-spacing: 1px;
        }
    }
}

.split-slider-dots {
    position: absolute;
    right: 50px;
    top:5%;
    height: 90%;
    width: 10px;
    z-index: 10;
    padding:0 0;

    ul {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width:100%;

        li {
            list-style: none;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 10px 0;
            transition: all 0.35s $easeInOutCubic;
            border-radius: 50%;
            border: 1px solid $orange;
            cursor: pointer;

            &.active {
                background: $orange;
            }
        }
    }

    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 40%;
        background: $orange;
    }

    &:before {
        top: 0px;
        left:50%;
    }

    &:after {
        bottom: 0px;
        left:50%;
    }
}

.left-wrapper, .right-wrapper {
    float: left;
    width: 50%;
    height: 100%;
    overflow:hidden;
}

.left-half, .right-half {
    height: 400%;
    transition: all 0.35s $easeInOutCubic;
}

/* mobile */

.split-slider-mobile {
    text-align: center;
    overflow: hidden;
    width: 100%;
    @include clearfix();
    position: relative;
    border-bottom: 5px solid $off-grey;
    margin-bottom: 20px;

    .item-image {
        height: 35vh;
    }

    .item-number {
        width: 70px;
        height: 70px;
        margin: 0 auto 30px auto;
        padding: 0 0 0 0;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        border: 5px solid $dark-grey;
        border-radius: 50%;
        @include font-size(42px);
        line-height:1.3em;
        text-indent: 0;
    }

    .item-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .item-title {
        margin-bottom: 5px;
    }

    .item-sub-title {
        @include font-size(20px);
        letter-spacing: 1px;
    }

    .item-description {
        padding-top: 1.5rem;
        max-width: 450px;
        margin: 0 auto 0 auto;

        p {
            letter-spacing: 1px;
        }
    }
}

@media screen and (max-width: 768px) {
    .split-slider {
        display: none;
    }
}
