.sponsor-wrapper {
    padding: 40px 40px 40px 40px;
}

.sponsor-row {
    @include clearfix();
}

.sponsor-pod {
	padding: 20px;
	text-align: center;

	.sponsor-img {
		max-width: 100%;
		height: 35px;
		width: auto;
		margin-bottom: 20px;
		display: inline-block;
	}
	p {
		text-align: left;
	}
}

.sponsors-slider {
    position: relative;
    width: 100%;
    @include clearfix();
    overflow:hidden;

    .slick-list, .slick-track {
        @include clearfix();
    }

	.sponsor-slide {
		position: relative;
		height: 200px;
        width: 100%;

		img {
			position: absolute;
            left:50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
		}
	}

    .slick-dots {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        position: relative;
        text-align: center;

        li {
            list-style: none;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            display: inline-block;
            width: 13px;
            height: 13px;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px solid $blue;
            background: $white;
            transition: all 0.35s;

            &.slick-active {
                background: $blue;
            }
        }

        button {
            background: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: -99999px;
            border: none;
        }
    }
}
