.video-wrap {
    padding-bottom: 56.25%;
    position: relative;
    margin: 50px 0;

    iframe {
    	width: 100%;
    	height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
    }
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.placehold-video {
    min-width: 100%;
    min-height: 100%;
}
