.work-hero {
    h2 {
    	margin-bottom: 1rem;
    }

	.cross {
		//Used png simply because svg wasn't available
		background-image: url('/wp-content/themes/amin/assets/img/icons/cross.png');
		background-size: contain;
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-bottom: 4px;
	}
}

.work-image {
	&:last-child {
		padding: 0;
	}
}

.image-blocks {
	.half {
		p {
			clear: both;
		}
	}
	&.image-blocks-left {
		.half {
			&:first-child {
				padding: 0 20px 0 0;

				& > p {
					margin-top: 90px;
				}
			}
			&:last-child {
				padding: 0 0 0 20px;
				margin-top: 90px;

				& > span {
					margin-bottom: 90px;
				}
			}
		}
	}
	&.image-blocks-right {
		.half {
			&:first-child {
				padding: 0 20px 0 0;

				& > p {
					float: right;
					margin-top: 90px;
				}
				span {
					margin-bottom: 80px;
				}
			}
			&:last-child {
				padding: 0 0 0 20px;

				& > p {
					margin-top: 90px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.image-blocks {
		.half {
			width: 100%;
		}
		&.image-blocks-right,
		&.image-blocks-left {
			.half {
				margin-top: 20px !important;

				&:first-child,
				&:last-child {
					padding: 0;

					p {
						margin: 20px 0
					}

					p,
					span {
						text-align: left;
						float: left;

						p {
							margin: 0;
						}
					}
				}

				&:last-child {
					span {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}