.agency-map {
    &.blue {
        .mapboxgl-popup-content {
            background: $blue-opaque;
        }

        .mapboxgl-popup-anchor-right {

            .mapboxgl-popup-tip {
                border-left-color: $blue-opaque;
            }
        }

        .switcher {
            .switcher-inner {
                background: $blue;
            }
        }

        .discover-map {
            &.active {
                background: $blue-opaque;
            }
        }
    }

    &.orange {
        .switcher {
            .switcher-inner {
                background: $orange;
            }
        }

        .discover-map {
            &.active {
                background: $orange-opaque;
            }
        }
    }

    &.green {
        .switcher {
            .switcher-inner {
                background: $green;
            }
        }

        .discover-map {
            &.active {
                background: $green-opaque;
            }
        }

        .mapboxgl-popup-content {
            background: $green-opaque;
        }

        .mapboxgl-popup-anchor-right {

            .mapboxgl-popup-tip {
                border-left-color: $green-opaque;
            }
        }
    }

    &.black {

        .mapboxgl-popup-content {
            background: $grey-opaque;
        }

        .mapboxgl-popup-anchor-right {

            .mapboxgl-popup-tip {
                border-left-color: $grey-opaque;
            }
        }
    }
}
