.gform_wrapper{
	form{
		margin: 0 auto 0 auto;
		.gform_title {
			display: none;
		}
		.gform_body{
			.gform_fields{
				margin: 0px;
				padding: 0px;
				.gfield{
					list-style-type: none;
					position: relative;
					padding-bottom: 20px;
					.gfield_label{
						display: none;
					}
					.ginput_container{
						input,
						textarea,
						select {
							width: 100%;
							font-family: $header-font-family;
							background: $light-grey;
							border: 1px solid transparent;
							padding: 10px;
							text-transform: uppercase;
							@include font-size(14px);
							outline: none;
							border-radius: 3px;
							transition: all 0.35s;

							&:focus {
								border: 1px solid $dark-grey;
							}

							&::placeholder {
								color: $mid-grey;
							}
						}
						textarea {
							float: left;
							width: 100%;
						}
						select {
							-webkit-appearance: none;
							background: $light-grey url('/wp-content/themes/amin/assets/img/icons/drop-down.png') no-repeat 98% 50%;
							background-size: 25px;
						}

						.address_country {
							label {
								display: none;
							}
						}
					}
				}
                .newsletter-signup {

                    .ginput_container {
                        input {
                            border: 1px solid #aaa;
                        }
                    }
                }
				.gform_validation_container{
					display: none;
				}
			}
			.half.left,
			.half.right {
				width: calc(50% - 10px);
			}
		}
		.gform_footer{
			.gform_button{
				display: inline-block;
				margin-top: 20px;
			}
		}
	}
	.validation_error,
	.validation_message {
		padding: 0 0 20px 0;
		color: $error-red;
	}
}

#field_3_13 {
	.gfield_checkbox {
		li {
			float: left;
			width: 50%;
			list-style-type: none;
			input {
				float: left;
				width: 36px;
				position: relative;
				top: 5px;
			}
			label {
				float: left;
				width: 90%;
			}
		}
	}
}

// Newletter signup form specifics
#gform_1{
	max-width: 250px;
	input{
		text-align: center;
	}
}

//Become a member form
#gform_3 {
	.half.left:nth-of-type(odd) {
		margin-right: 20px;
	}
	.gform_footer {
		text-align: center;
	}
}

//Contact form
#gform_2 {
	//All fields have 'half' and 'left' classes applied
	.gform_fields li {
		opacity: 1;
		pointer-events: all;
		transition: all 500ms $easeInOutCubic;
	}
	//'Disabled' fields with reduced opacity need to have class applied in gforms
	.gform_fields li.disabled,
	input.disabled {
		opacity: 0.6;
		pointer-events: none;
	}
	.gform_fields li.hidden,
	input.hidden {
		opacity: 0;
	}
	#field_2_2,
	#field_2_12,
	#field_2_11,
	#field_2_13{
		margin-right: 20px;
	}
	#field_2_13 {
		clear: both;
	}
	#gform_submit_button_2 {
		display: inline-block;
	}
	.validation_message,
	.validation_error {
		color: $white;
		position: absolute;
    	top: 50px;
	}
}

#gform_4 {
	.validation_message,
	.validation_error {
		color: $white;
		position: absolute;
    	top: 50px;
	}
}

.gform_confirmation_message_2 {
	text-align: center;
	color: $white;
}
#field_2_8 {
	select {
		width: 60%;
		margin-bottom: 40px;
	}
}

#gform_wrapper_4,
#gform_wrapper_2 {
	.gform_footer{
		.gform_button{
			color: $white;
			border: 1px solid $white;
			// opacity: 0.6;
			// pointer-events: none;

			&.active {
				opacity: 1;
				pointer-events: all;
			}
			&:hover {
				border: 1px solid $dark-grey;
			}
		}
	}
}

.contact-wrapper {
	transition: all 1s $easeInOutCubic;
	height: 380px;
	.gforms_confirmation_message {
		color: $white;
	}
	.validation_error {
		color: $white;
		display: none;
	}
	.validation_message {
		color: $white;
	}
	.gform_footer {
		float: left;
		width: 100%;
		text-align: center;
	}
}

#gform_confirmation_message_3 {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.gform_wrapper{
		form{
			.gform_body{
				.half{
					width: 100%;
					&.left{
						width: 100%;
					}
					&.right{
						width: 100%;
					}
				}
			}
		}
	}
	#field_3_13 {
		.gfield_checkbox {
			li input {
				width: 10%;
			}
			label {
				width: 90%;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.gform_wrapper{
		form{

			.gform_body{
				.gform_fields{

					.gfield{

						padding-bottom: 20px;

						.ginput_container{
							input,
							textarea,
							select {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
	#field_3_13 {
		.gfield_checkbox {
			height: auto;
			overflow: auto;
			li {
				width: 100%;
				input {
					width: 10%;
				}
			}
			label {
				width: 90%;
			}
		}
	}
}
