.mapboxgl-popup-anchor-right {
    left: -40px;

    .mapboxgl-popup-tip {
        border-left-color: $orange-opaque;
    }
}

.mapboxgl-popup-content {
    //background:RGBA(244, 153, 88, 0.7);
    background:$orange-opaque;
    color: $white;
    padding: 35px;
    width: 250px;
    text-align: center;
    border-radius: 0;
}

.agency-map-logo {

    svg {
        max-width: 100%;
        fill: $white;
    }
}
