.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  li{
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    &:first-child{
      position: relative;
      display: block;
      float: left;
    }
    img{
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
    }
  }
}

.rslides_tabs{
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  li{
    display: inline;
    list-style-type: none;
    margin: 5px;
    &:before{
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      background-color: $white;
      border: 1px solid $blue;
    }
    &.rslides_here{
      &:before{
        background-color: $blue;
      }
    }
    a{
      display: none;
    }
  }
}