.logged-in {
    .fixed-nav {
        top: 32px;
    }
}

//Too much of clusterfuck to resolve. Needs refactoring.
.popup-video-overlay {
    position: fixed;
    top:0;
    left:0;
    background: rgba(255,255,255,0.95);
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s $easeInOutCubic;

	&.isActive {
        opacity: 1;
        visibility: visible;

		.popup-video {
			opacity: 1;
		    visibility: visible;
		}
    }
}

.popup-video {
	position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1100;
    max-width: 1280px;
    max-height: 720px;
    width: 90%;
    overflow: hidden;
    transform: translate(-50%,-50%) scale(.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s $easeInOutCubic;

    video {
        max-width: 100%;
    }

	&.benefits {
		max-height: 100%;
	}
}

.video-overlay-close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: $dark-grey;
    cursor: pointer;
    transition: all 0.35s $easeInOutCubic;
    opacity: .6;

    &:hover {
        opacity:1
    }
}

.dot-blob {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    background: $white;
    &.americas {
        background: $blue-opaque;
    }

    &.emea {
        background: $orange-opaque;
    }

    &.apac {
        background: $green-opaque;
    }
}

// For now this can go here - it's for the gumpth pages
.generic-page, .sitemap {
    margin-top: 40px;
}

.sitemap {
    margin-bottom: 40px;
    ul {
        li {
            // text-transform: uppercase;
            list-style-type: none;
            font-size: 16px;
            a {
                font-weight: 300;
            }
        }
    }
}

.title_message .acf-label label {
	font-size: 20px;
	font-weight: 400 !important;
	color: grey;
	letter-spacing: 1px;
}

acf-postbox.seamless>.inside, #acf_after_title-sortables .acf-postbox {
	margin: 0!important;	
	padding-left: 7px !important;
}



/* Work Admin - Content Section */

.acf-fields.-left>.acf-field:before {
	width:25%;
}

.acf-fields.-left>.acf-field>.acf-label {
	margin-left:initial;
	width: 25%;
	padding: 15px 12px;
}

.acf-fields.-left>.acf-field>.acf-input {
	width:75%;
	padding: 15px 12px;
}

.work_input .acf-input .acf-field .acf-label label {
	font-weight:normal;
}
