{# 404 page all styles are added inline, naughty I know, but it keeps the css clean #}
{% extends 'base.twig' %}
{% block content %}
<div style="height: 100%; width:100%;background: #000 url({{ theme.uri }}/assets/img/404-img.jpg) no-repeat 400px 50%; background-size: cover; background-position: 50%; position:relative;">
  <div class="container" style="position: relative; top: 40%; width: 500px; text-align:center;">
  	<h1 style="text-align: center; color: #000; font-size:7.6rem; margin-bottom: 0;">404</h1>
  	<h1 class="h2" style="text-align:center;color:#fff; margin-bottom: 1.5rem;">Oops, something went wrong</h1>
  	<p style="text-align:center;color: #fff">{{ main_text }}</p>
  </div>
</div>
{% endblock %}
