{% extends 'base.twig' %}
{% block content %}
<div>
    <div class="container pad-50 pad-top-80">
        <div class="container-constrained constrained-content align-center">
            <h3 class="h1 uppercase bold sunk-header">Agency Principles.</h3>
            <p>What also makes our network so effective, for clients and memebers, is our people. Here are our agency principles.</p>
        </div>
    </div>
    <div class="section background-grey work-filters pad-30 full agency-principles-filters">
        <ul class="ui-inline-list align-center uppercase white navigation">
            <li class="filter-btn">
                <a>
                    <span class="inline">Filter</span>
                    <div class="arrow-down inline">
                        <svg viewBox="0 0 595.3 595.3">
                            <g>
                                <polygon points="489,171.9 297.6,363.2 106.3,171.9 36.3,171.9 297.6,433.2 559,171.9"></polygon>
                            </g>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="principle-filter isotope-filter" id="all">
                <a class="inline-underline-middle isActive">All</a>
            </li>
            {% for region in regions %}
                <li class="principle-filter isotope-filter {{ region.slug }}" id="{{ region.slug }}">
                    <a class="inline-underline-middle">{{ region.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container leadership-team principles-isotope">
        {% for person in leadership_team %}
            <div class="team-member-wrap quarter left js-person isotope-principle {{ person.terms }}">
                {% set image = person.get_field('image') %}
                <a href="{{ person.path }}">
                    <div class="team-member {% if person.white_text %}white{% endif %}" style="background:url({{ image.sizes.head_shot }})">
                        <div class="member-content">
                            <span class="member-name uppercase">{{ person.title }}</span>
                            <span class="member-title">{{ person.position }}</span>
                        </div>
                        <div class="member-content-overlay">
                            <span class="member-name uppercase">{{ person.title }}</span>
                            <span class="member-title">{{ person.position }}</span>
                            <p>{{ person.description | excerpt(12) }}</p>
                            <p class="inline-underline inline-block light white">Read More</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
