{% extends 'base.twig' %}
{% block content %}
<div class="background-blue relative scroll-header pad-50 pad-bottom-80 max-height-445" {% if page_hero %}style="background:url({{ page_hero.url }}) no-repeat 50% 0% / cover;"{% endif %}>
	<div class="overlay-bg"></div>
	<div class="container">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="container-constrained align-center work-hero pad-top-50 pad-bottom-80">
			<h1 class="h1 uppercase white bold">{{ post.intro_title }}</h1>
			<p class="white intro-copy">{{ post.get_field('intro_copy') }}</p>
		</div>
	</div>
    <div class="background-opaque-blue banner-bar full work-filters pad-30">
    	<div class="container">
    	    <ul class="ui-inline-list align-center uppercase white navigation left">
    	    	<li class="filter-btn">
    	    		<a>
    	    			<span class="inline">Filter</span>
    	    			<div class="arrow-down inline">
		                    <svg viewBox="0 0 595.3 595.3">
		                        <g>
		                            <polygon points="489,171.9 297.6,363.2 106.3,171.9 36.3,171.9 297.6,433.2 559,171.9"></polygon>
		                        </g>
		                    </svg>
		                </div>
    	    		</a>
    	    	</li>
    	    </ul>
            <div class="region-button isotope-filter right">
                <a class="inline inline-underline-middle white" data-bind="click: showRegions(), css: { 'isActive': regionsActive() == true }">Region</a>
            </div>
    	</div>
    </div>
</div>
<div class="background-opaque-blue filters-sub-bar desktop">
	<div class="regions" data-bind="css: { 'isActive': regionsActive }">
		<div class="container pad-30">
			<ul class="ui-inline-list" data-bind="foreach: regions">
				<li class="region">
					<a class="inline-underline-middle white" data-bind="text: name, click: $parent.showAgencies.bind($data), css: { 'isActive': slug == $parent.activeRegion() }"></a>
				</li>
			</ul>
		</div>
		<div class="agencies" data-bind="css: { 'isActive': agenciesActive }">
			<div class="container">
				<ul class="ui-inline-list pad-30" data-bind="foreach: agencies">
					<li class="agency white">
						<a class="inline-underline white light" data-bind="text: name, click: $parent.selectAgency.bind($data), css: { 'isActive': $data.slug == $parent.activeAgency() }"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="section full main-agency-content news-pods" data-bind="click: hideRegions">
	<div class="container">
		<div id="news" class="row align-center">
			<!-- ko if: newsPosts().length > postsPerPage -->
                <!-- ko if: pageNumber() > 1 -->
                    <!-- <a class="inline-block pagination-prev" data-bind="click: paginate.bind($data, 'prev')">Prev</a> -->
                <!-- /ko -->
				<!-- <ul class="pagination ui-inline-list inline-block" data-bind="foreach: pagination">
					<li><a data-bind="text: index, css: { 'isActive': index == $parent.pageNumber() }, click: $parent.setCurrentPage.bind($data)"></a></li>
				</ul> -->
                <!-- ko if: pageNumber() < totalPages() -->
                    <!-- <a class="inline-block pagination-next" data-bind="click: paginate.bind($data, 'next')">Next</a> -->
                <!-- /ko -->
			<!-- /ko -->
			<ul class="ui-inline-list inline align-center agency-news" data-bind="foreach: {data: pagedRows, as: 'row'}">
				<div class="row" data-bind="foreach: { data: row, as: 'post', beforeRemove: $root.beforePostRemoved }">
					<li class="news-item third left">
						<a data-bind="attr: { href: permalink }, click: function() { return true;}, clickBubble: false">
							<div class="news-img background-cover" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, href: permalink" class="news-img background-cover"></div>
						</a>
						<a data-bind="attr: { href: permalink }"><p class="bold" data-bind="text: $root.decodeEntities(title)"></p></a>
						<p data-bind="text: intro"></p>
						<a data-bind="attr: { href: permalink }, click: function() { return true;}, clickBubble: false" class="inline-underline">Read more</a>
					</li>
				</div>
			</ul>
			<!-- ko if: newsPosts().length > postsPerPage -->
                <!-- ko if: pageNumber() > 1 -->
                    <a class="inline-block pagination-prev" rel="prev" data-bind="click: paginate.bind($data, 'prev')">Prev</a>
                <!-- /ko -->
				<ul class="pagination ui-inline-list inline-block" data-bind="foreach: pagination">
					<li><a data-bind="text: index, css: { 'isActive': index == $parent.pageNumber() }, click: $parent.setCurrentPage.bind($data)"></a></li>
				</ul>
                <!-- ko if: pageNumber() < totalPages() -->
                    <a class="inline-block pagination-next" rel="next" data-bind="click: paginate.bind($data, 'next')">Next</a>
                <!-- /ko -->
			<!-- /ko -->
		</div>
	</div>
</div>
{% endblock %}
