{# Base.twig - Used as a basis of other twig templates, use extend to make templates that extend what ever blocks in here exist #}
{% include 'partials/header.twig' %}
{% block content %}
{% endblock %}
{% include 'partials/footer-work.twig' %}
