{% extends 'base.twig' %}
{% block content %}
	<div class="section full background-cover background-member pad-30">
		<div class="container align-center">
			{% include 'partials/breadcrumbs.twig' %}
            <div class="container-constrained margin-bottom-40 align-center">
				<h1 class="h1 uppercase white bold">{{ post.hero }}</h1>
				<p class="white half media-holder">{{ post.intro_copy }}</p>
			</div>
			<div class="full benefits-videos">
				<ul>
					{% for video in post.get_field('videos') %}
						<li class="benefit-video left half {{ loop.index is odd ? 'gutter-right' : 'gutter-left' }} js-benefit-video" data-src="https://www.youtube.com/embed/{{ video.youtube_id }}">
							<div class="video-wrap background-cover" style="background-image: url({{ video.thumbnail.url }})"></div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
        <a href="#join-form" class="scroll-btn white">
            <div class="bounce">
                <div class="scroll-text">Join now<br></div>
                <span class="icon">↓</span>
            </div>
        </a>
		</div>
	</div>
	<div id="join-form" class="section full">
		<div class="container pad-100">
			<div class="container-constrained">
				<h2 class="h2 uppercase bold align-center">Become a Member</h2>
				{{ members_form|shortcodes }}
			</div>
		</div>
	</div>
{% endblock %}
