{% extends 'base.twig' %}
{% block content %}
<div class="background-mac background-cover pad-50 relative max-height-445">
	<div class="container">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="container-constrained align-center clients-hero pad-top-50 pad-bottom-80">
			<h1 class="h1 uppercase white bold">{{ post.hero_text }}</h1>
		</div>
	</div>
</div>
<div class="section clients-body full">
	<div class="container">
		{% if clientsArr %}
			<div class="client-logos-list client-showcase">
				<ul class="ui-list">
					{% for clients in clientsArr|batch(4) %}
						<div class="row">
							{% for el in clients %}
								<li class="client-logo quarter left pad-20">
									{# TW: Would have liked to use svg here but the sheer variance in logos is an issue #}
                                    {% set logo = el.get_field('client_logo') %}
									<img src="{{ logo.url }}" alt="{{ logo.title }}" class="vertical-middle"/>
								</li>
							{% endfor %}
						</div>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<div class="constrained-content align-center">
			<div class="intro-text pad-50">
				<h2 class="h2 uppercase bold">{{ post.get_field('sub_header') }}</h2>
				<p>{{ post.intro_copy }}</p>
				<a class="inline-underline light h4 view-clients" data-bind="click: resetClients">View our full client list
					<svg viewBox="0 0 595.3 595.3">
						<g>
							<polygon points="489,171.9 297.6,363.2 106.3,171.9 36.3,171.9 297.6,433.2 559,171.9"/>
						</g>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="client-list section full">
	<div class="filters">
		<div class="container pad-20">
			<span class="uppercase bold inline filter-clients">Filter Clients:</span>
			<ul class="ui-inline-list inline align-center" data-bind="foreach: clientFilters">
				<li class="letter uppercase" data-bind="text: name, click: $parent.setActiveFilter, css: { 'isActive bold': isActive, 'isSelected': isSelected }"></li>
			</ul>
		</div>
	</div>
	<div class="clients pad-50">
		<div class="container">
			<ul class="ui-list" data-bind="foreach: filteredClients">
				<li class="client-name left quarter"><p class="light" data-bind="text: post_title"></p></li>
			</ul>
		</div>
	</div>
</div>
{% include 'partials/action-banner.twig' %}
{% endblock %}
