{% extends 'base.twig' %}
{% block content %}
<div class="contact-wrapper background-cityscape pad-50 relative">
	<div class="container">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="dynamic-forms container-constrained align-center">
			<div class="half-container">
				<h1 class="h1 uppercase white bold">{{ post.hero_title }}</h1>
				<p class="white intro-copy">{{ post.hero_copy }}</p>
			</div>
			{#<select name="selectedform" class="form-selector">
				<option value="">Please select the nature of your enquiry.</option>
				{% for form in forms %}
					<option value="{{ form.id }}">{{ form.title }}</option>
				{% endfor %}
			</select>#}
			<select name="selectedform" class="form-selector">
				<option value="">Please select the nature of your enquiry.</option>
				<option value="4">New Business Enquiry</option>
				<option value="" class="linkout">Agency Membership Enquiry</option>
			</select>
			{% for form in forms %}
				{{ form.shortcode|shortcodes }}
			{% endfor %}
		</div>
	</div>
</div>
<div class="container">
	<div class="cotainer-constrained align-center full left pad-50">
		<div class="container-constrained pad-bottom-50">
			<div class="three-quarters media-holder">
				<h2 class="uppercase bold">We would love to know more about the goals you hope to reach.</h2>
				<div class="two-thirds media-holder">
					<p class="intro-copy">Whether you are a company looking for the right marketing partner or an agency wanting to get to the next level, contact us and find out how we can help.</p>
				</div>
			</div>
		</div>
		<div class="two-thirds media-holder">
			<div class="left pad-bottom-50 third">
				<h2 class="h3 uppercase bold">AMIN Americas</h2>
				{# <p class="sub-header">Call +0 952-471-7752</p> #}
                {% if post.americas_pod_email_address is not empty %}
                <a href="mailto:{{ post.americas_pod_email_address }}" class="inline-underline">{{ post.americas_pod_email_address }}</a>
                {% endif %}
			</div>
			<div class="left pad-bottom-50 third">
				<h2 class="h3 uppercase bold">AMIN EMEA</h2>
				{# <p class="sub-header">Call +31 653 495573</p> #}
                {% if post.emea_pod_email_address is not empty %}
                <a href="mailto:{{ post.emea_pod_email_address }}" class="inline-underline">{{ post.emea_pod_email_address }}</a>
                {% endif %}
			</div>
			<div class="left pad-bottom-50 third">
				<h2 class="h3 uppercase bold">AMIN APAC</h2>
				{# <p class="sub-header">Call +31 653 495573</p> #}
                {% if post.apac_pod_email_address is not empty %}
					{% if ',' in post.apac_pod_email_address %}
						{% set emailsarr = post.apac_pod_email_address|split(',') %}
						{% for e in emailsarr %}
							<a href="mailto:{{ e }}" class="inline-underline">{{ e }}</a>
						{% endfor %}
					{% else %}
						<a href="mailto:{{ post.apac_pod_email_address }}" class="inline-underline">{{ post.apac_pod_email_address }}</a>
					{% endif %}
                {% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
