{% extends 'base.twig' %}
{% block content %}
	<div class="full background-dark-blue">
		<div class="container">
			{% include 'partials/breadcrumbs.twig' with {'classes': 'pad-30-force'} %}
		</div>
	</div>
	<div class="full download-wrapper pad-100">
		<div class="container">
			<h1 class="h1 uppercase bold">
				{{ post.title }}
				{# Taken from Network page #}
				<ul class="sim-dropdown right ui-inline-list">
					<li class="has-children left">
						<span class="arrow-down">
							<a class="inline-underline">Filter Downloads</a>
							<svg viewBox="0 0 595.3 595.3">
								<g>
									<polygon points="489,171.9 297.6,363.2 106.3,171.9 36.3,171.9 297.6,433.2 559,171.9"/>
								</g>
							</svg>
						</span>
						<ul class="sub-menu">
							<li class="left">
								<a href=".">View All</a>
							</li>
							{% for t in types %}
								<li class="left">
									<a href="?type={{ t.slug }}">{{ t.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</h1>
			<div class="two-thirds">
				{{ post.body_copy|wpautop }}
			</div>
			{% if downloads %}
			<div class="agency-news">
				{% for row in downloads|batch(4) %}
					<div class="row-wrap">
						{% for d in row %}
							<div class="download quarter left gutter-right">
								<a href="{{ d.get_field('download').url }}" target="_blank">
									{% if s.get_field('download-image').sizes.news_listing_image %}
									<div style="background-image: url('{{ s.get_field('download-image').sizes.news_listing_image }}')" class="news-img speaker-img background-cover"></div>
									{% else %}
									<div style="background-image: url('{{ theme.uri }}/assets/img/download-placeholder.jpg')" class="news-img speaker-img background-cover"></div>
									{% endif %}
								</a>
								<p class="bold">{{ d.title }}</p>
								<a href="{{ d.get_field('download').url }}" target="_blank" class="inline-underline light">Download now</a>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			{% else %}
			<p class="bold">We couldn't find any downloads.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
