{% extends 'base.twig' %}
{% block content %}
<div class="background-blue relative scroll-header pad-50 pad-bottom-80 max-height-445" {% if page_hero %}style="background:url({{ page_hero.url }}) no-repeat 50% 0% / cover;"{% endif %}>
	<div class="overlay-bg"></div>
	<div class="container">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="container-constrained align-center work-hero pad-top-50 pad-bottom-80">
			<h1 class="h1 uppercase white bold">{{ post.intro_title }}</h1>
			{% if post.get_field('intro_copy') %}
				<p class="white intro-copy">{{ post.get_field('intro_copy') }}</p>
			{% endif %}
		</div>
	</div>
</div>
<div class="section full main-agency-content news-pods margin-bottom-40">
	<div class="container">
		<ul class="ui-inline-list inline align-center agency-news">
			{% for row in events|batch(3) %}
				<div class="row">
					{% for event in row %}
						<li class="news-item third left">
							<a href="{{ event.link }}">
								<div class="news-img background-cover" class="news-img background-cover" style="background-image: url('{{ event.get_field('hero_image').sizes.news_listing_image ? event.get_field('hero_image').sizes.news_listing_image : theme.uri ~ '/assets/img/backgrounds/placeholder-news-listing.jpg' }}')"></div>
							</a>
							<a href="{{ event.link }}">
								<p class="bold margin-bottom-10">{{ event.get_field('content_title') ? event.get_field('content_title') : event.title }}</p>
							</a>
							{% if event.event_start_date %}
								<p><span class="bold">Date:</span> {{ event.event_end_date ? event.get_field('event_start_date') ~ ' - ' ~ event.get_field('event_end_date') : event.get_field('event_start_date') }}</p>
							{% endif %}
							<a class="inline-underline" href="{{ event.link }}">Read more</a>
						</li>
					{% endfor %}
				</div>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="section full main-agency-content news-pods">
	<div class="container">
		<h2 class="h1 uppercase inline no-margin-bottom">Past Events</h2>
		<ul class="ui-inline-list inline align-center agency-news">
			{% for row in past_events|batch(3) %}
				<div class="row">
					{% for event in row %}
						<li class="news-item third left">
							<a href="{{ event.link }}">
								<div class="news-img background-cover" class="news-img background-cover" style="background-image: url('{{ event.get_field('hero_image').sizes.news_listing_image ? event.get_field('hero_image').sizes.news_listing_image : theme.uri ~ '/assets/img/backgrounds/placeholder-news-listing.jpg' }}')"></div>
							</a>
							<a href="{{ event.link }}">
								<p class="bold margin-bottom-10">{{ event.get_field('content_title') ? event.get_field('content_title') : event.title }}</p>
							</a>
							{% if event.event_start_date %}
								<p><span class="bold">Date:</span> {{ event.event_end_date ? event.get_field('event_start_date') ~ ' - ' ~ event.get_field('event_end_date') : event.get_field('event_start_date') }}</p>
							{% endif %}
							<a class="inline-underline" href="{{ event.link }}">Read more</a>
						</li>
					{% endfor %}
				</div>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
