{# home.twig - This is for the homepage only. Obviously... #}
{% extends 'base.twig' %}
{% block content %}
	<div class="section section-one full background-cover desktop align-center">
		<div class="video-wrapper">
			<video class="placehold-video" poster="{{ theme.uri }}/assets/img/backgrounds/video-section-placehold.jpg" preload="auto" autoplay="" loop="">
				<source type="video/mp4" src="{{ page.video_url }}">
			</video>
		</div>
		<div class="container">
			<div class="header-text-wrapper">
				<h1 class="h1 uppercase white align-center bold">{{ sec_one_title|wordslice(0, 3) }}<br/>{{ sec_one_title|wordslice(3, 10) }}</h5>
				<span class="js-popup-video-trigger">
					<svg class="play-icon active">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-icon"></use>
					</svg>
                    <span class="h4 white">Find out how</span>
				</span>
			</div>
			<div class="container-constrained background-cover background-blue-pseudo agency-count blue-50 white align-center" data-0="transform:translateY(60%);" data-70p="transform:translateY(0%);">
				<h2 class="h4 uppercase white">{{ sliding_pod_title }}</h2>
				{{ sliding_pod_copy }}
				<a href="/our-story/" class="white align-center inline-underline light">Get to know AMIN</a>
			</div>
		</div>
	</div>
	<div class="mobile section full background-video-placehold background-cover">
		<div class="container-constrained mobile-section-one align-center pad-100">
			<div class="header-text-wrapper">
				<h2 class="h1 uppercase white align-center bold">Ready to expand<br>your reach?</h2>
				<span class="js-popup-video-trigger">
					<svg class="play-icon active">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-icon"></use>
					</svg>
                    <span class="h4 white">Find out how</span>
				</span>
			</div>
			<svg class="mute-icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mute-icon"></use>
			</svg>
		</div>
	</div>
	<div class="mobile section full background-blue-pseudo agency-count background-cover">
		<div class="container-constrained mobile-blue-50 pad-50 align-center white light">
			<h2 class="uppercase white h4">{{ sliding_pod_title }}</h1>
			{{ sliding_pod_copy }}
			<a class="standard-submit button button-outlined-white button-inline" href="/contact/">Get to know Amin</a>
		</div>
	</div>
	<div class="section full background-earth background-cover pad-100">
		<div class="container">
			<div class="container-constrained home-earth">
				<h2 class="h1 white align-center uppercase light">To <span class="tab-text inline-underline-thick isActive" id="clients">clients</span>/<span class="tab-text inline-underline-thick " id="members">members</span> we bring:</h2>
				<div class="bullet-tabs-wrap">
				    <div class="bullets-tab isActive" id="clients">
				        <ul class="circle-number-list white">
				            {% for bullet in client_bullets %}
				                <li class="pad-20">
				                    <span class="inline">{{ bullet.copy }}</span>
				                </li>
				            {% endfor %}
				        </ul>
				        <a class="white align-center inline-underline light" href="/contact/">Become a client</a>
				    </div>
				    <div class="bullets-tab" id="members">
				        <ul class="circle-number-list white">
				            {% for bullet in member_bullets %}
				                <li class="pad-20">
				                    <span class="inline">{{ bullet.copy }}</span>
				                </li>
				            {% endfor %}
				        </ul>
				        <a class="white align-center inline-underline light" href="/members">Become a member</a>
				    </div>
				</div>
			</div>
		</div>
	</div>
    {% if page.enable_event_takeover and event is not empty %}
    {% set image = event.get_field('hero_image') %}
    <div class="section background-cover pad-100" style="background: url({{ image.url }}) no-repeat 50% 50% / cover;">
    <div class="overlay-trans-black"></div>
        <div class="container">
            <div class="container-constrained home-featured-event">
				<h2 class="h1 uppercase white">{{ event.title }}</h2>
                <p class="light white">{{ event.sub_title }} </br>{{ event.get_field('event_start_date') }} - {{ event.get_field('event_end_date') }} | {{ event.get_field('event_location').address }}</p>
				<ul class="ui-inline-list desktop home-featured-event-cta">
					<li><a href="{{ event.link }}" class="white inline-underline light">View Event</a></li>
				</ul>
				<ul class="ui-inline-list align-center mobile">
					<li><a href="{{ event.link }}" class="standard-submit button button-outlined-white button-inline">View Event</a></li>
				</ul>
			</div>
        </div>
    </div>
    {% else %}
    <div class="section full background-horse background-cover pad-50">
		<div class="container">
			<div class="container-constrained home-featured-stories">
				<h2 class="h4 uppercase white align-center">Featured Stories</h2>
				<p class="white align-center">{{ page.featured_stories_copy }}</p>
				<ul class="ui-inline-list align-center desktop">
					<li><a href="/work/" class="white inline-underline light">See all work</a></li>
				</ul>
				<ul class="ui-inline-list align-center mobile">
					<li><a href="/work" class="standard-submit button button-outlined-white button-inline">See all work</a></li>
				</ul>
			</div>
		</div>
	</div>
    {% endif %}
	<div class="section background-opaque-blue work-filters pad-30 full">
        <ul class="ui-inline-list align-center uppercase white navigation">
            <li class="filter-btn">
                <a>
                    <span class="inline">Filter</span>
                    <div class="arrow-down inline">
                        <svg viewBox="0 0 595.3 595.3">
                            <g>
                                <polygon points="489,171.9 297.6,363.2 106.3,171.9 36.3,171.9 297.6,433.2 559,171.9"></polygon>
                            </g>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="isotope-filter" id="all">
                <a class="white inline-underline-middle isActive">All</a>
            </li>
            {% for f in filters %}
				<li class="isotope-filter" id="{{ f.slug }}">
					<a class="white inline-underline-middle">{{ f.name }}</a>
				</li>
			{% endfor %}
        </ul>
    </div>
	<div class="section full pad-50">
		<div class="container">
			<div class="isotope-wrapper">
				{% for post in postGrid %}
					{% if post.post_type == 'work' %}
						<a href="{{ post.link }}">
							<div class="isotope-post {{ post.post_type }} zoom-in-hover">
								<div class="background-cover zoom-in" style="background-image: url('{% if post.get_field('listing_image').sizes.isotope_listing_image %}{{ post.get_field('listing_image').sizes.isotope_listing_image }}{% else %}{{ post.get_field('banner_image').url }}{% endif %}');"></div>
								<div class="margin-40">
									<h2 class="h4 uppercase white">{{ post.name }}</h2>
									<span class="white">{{ post.get_field('introductory_text')|truncate(25) }}</span>
								</div>
								<div class="overlay align-center">
									<div class="overlay-wrap">
										<span class="inline-underline white">Find out more</span>
									</div>
								</div>
							</div>
						</a>
					{% elseif post.post_type == 'event' %}
						<a href="{{ post.link }}">
							<div class="background-cover isotope-post {{ post.post_type }} align-center" style="height: {{ post.height }}px">
								<div class="overlay-wrap">
									<h2 class="h4 uppercase bold">Events</h2>
									<p class="event-title">{{ post.title }}</p>
									<p>{{ post.get_field('sub_title') }}</p>
									<span class="inline-underline light">Find out more</span>
								</div>
							</div>
						</a>
					{% elseif post.post_type == 'post' %}
						<a href="{{ post.link }}">
							<div class="background-cover isotope-post {{ post.post_type }} align-center" style="height: {{ post.height }}px">
								<span class="dot-blob {{ post.region }}"></span>
								<div class="overlay-wrap">
									<h2 class="h4 uppercase bold">News</h2>
									<p class="h4 uppercase news-date">{{ post.date | date('d.m.Y') }}</p>
									<p class="event-title light">{{ post.title }}</p>
									<span class="inline-underline light">Find out more</span>
								</div>
							</div>
						</a>
					{% endif %}
				{% endfor %}
			</div>
			<ul class="relevant-ctas ui-inline-list align-center">
				<li class="work"><a href="{{ site.url }}/work" class="inline-underline light">View all Work</a></li>
				<li class="event"><a href="{{ site.url }}/news" class="inline-underline light">View all News</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
