{# index.twig - This is the default template, it will be rendered when index.php is called with all the latest posts#}
{% extends 'base.twig' %}
{% block content %}
    <!-- We gotta ideally never use this. :) -->
{% endblock %}
