{% extends 'base.twig' %}
{% block content %}
<div class="section full background-earth background-cover pad-100">
    <div class="container">
        <div class="container-constrained home-earth">
            <h1 class="h1 white align-center uppercase bold">{{ post.title }}</h1>
            <p class="white bold">Welcome to the online directory. </br>Please login to gain access.</p>
            {% if login_status %}
            <div class="login-message {{ login_status.status }}">{{ login_status.message }}</div>
            {% endif %}
            {{ login_html }}
        </div>
    </div>
</div>
{% endblock %}
