{% extends 'base.twig' %}
{% block content %}
	<div class="section full background-cover background-member pad-30">
		<div class="container align-center">
			{% include 'partials/breadcrumbs.twig' %}
            <div class="container-constrained pad-bottom-80 align-center">
				<h1 class="h1 uppercase white bold">{{ post.numbers_section_title }}</h1>
				<p class="white half media-holder">{{ post.numbers_section_copy }}</p>
				<div class="circle-points">
					{% for pod in post.get_field('numbered_pods') %}
						<div class="point third left align-center white">
							<p class="white media-holder three-quarters">{{ pod.pod_text }}</p>
						</div>
					{% endfor %}
				</div>
				<a href="/members/benefits/" class="button button-outlined-white white s18 margin-top-30 margin-bottom-60 inline-block">Membership Benefits</a>
			</div>
		</div>
        <a href="#join-form" class="scroll-btn white">
            <div class="bounce">
                <div class="scroll-text">Join now<br></div>
                <span class="icon">↓ </span>
            </div>
        </a>
		</div>
	</div>
    <div id="agency-map" class="agency-map black">
        <div class="map-zoom-out-icon js-zoom-out">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#zoom-out-icon"></use>
            </svg>
        </div>
        <div class="map-toggles">
            <h3 class="h1 uppercase bold align-center toggle-title">Now Recruiting</h3>
            <h4 class="h2 uppercase align-center">
                <span class="tab-text" data-filter="americas" data-center="-75.01387886338617, 16.72824651667497">Americas</span> /
                <span class="tab-text isActive" data-filter="europe-africa-the-middle-east" data-center="29.62426207110748, 30.578755210404296">emea</span> /
                <span class="tab-text" data-filter="asia-pacific" data-center="135.38434570244647, 4.307642285149967">apac</span>
            </h4>
        </div>
        <div class="discover-map white align-center">
            <div class="discover-wrap">
                <div class="discover-item">
                    <h3 class="h2 white uppercase bold">Not Here?</h2>
                    <p>If you can't see your country then get in touch to discuss.</p>
                    <a class="light white inline-underline js-map-discover" href="/contact/">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section full background-black mobile-discover-map">
        <div class="container align-center">
            <h3 class="h2 white uppercase bold white">Not Here?</h2>
            <p class="white">If you can't see your country then get in touch to discuss.</p>
            <a class="light white inline-underline js-map-discover" href="/contact/">Get in touch</a>
        </div>
    </div>
	<div id="join-form" class="section full">
		<div class="container pad-100">
			<div class="container-constrained">
				<h2 class="h2 uppercase bold align-center">Become a Member</h2>
				{{ members_form|shortcodes }}
			</div>
		</div>
	</div>
{% endblock %}
