{% extends 'base.twig' %}
{% block content %}
<div class="background-cityscape pad-50 min-height-700 relative">
	<div class="container">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="container-constrained align-center network-hero">
			<h1 class="h1 uppercase white bold">{{ post.hero }}</h1>
            <a href="{{ post.hero_cta_link }}" class="join-btn inline-underline white light inline">{{ post.hero_cta }}</a>
			<ul class="network-features ui-inline-list white">
				{% for row in post.get_field('network_descriptors') %}
					<li>{{ row.item }}</li>
				{% endfor %}
			</ul>
            <span class="js-popup-video-trigger">
    			<svg class="play-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-icon"></use>
                    <span class="h4 white">{{ post.video_cta }}</span>
    			</svg>
            </span>
		</div>
	</div>
    <a href="#network-map" class="scroll-btn white">
        <div class="bounce">
            <div class="scroll-text">View our agencies<br></div>
            <span class="icon">&darr; </span>
        </div>
    </a>
</div>
<div id="network-map" class="network-map relative background-amin-map">
    <a href="/network/americas/">
        <div class="third left network-map-column align-center americas">
            <div class="column-content">
                <h2 class="h2 uppercase bold column-title">Americas <span class="title-reveal">Network</span></h2>
                <ul class="ui-list network-stats white">
					<li>{{ americas.countries }}{% if americas.countries == 1 %} Country{% else %} Countries{% endif %}</li>
					<li>{{ americas.offices }}{% if americas.offices == 1 %} Office{% else %} Offices{% endif %}</li>
					<li>{{ americas.people }} People</li>
                </ul>
                <span href="/network/americas/" class="network-btn white light inline-underline">View the network</span>
            </div>
        </div>
    </a>
    <a href="/network/emea/">
        <div class="third left network-map-column align-center emea">
            <div class="column-content">
                <h2 class="h2 uppercase bold column-title">Emea <span class="title-reveal">Network</span></h2>
                <ul class="ui-list network-stats white">
					<li>{{ emea.countries }}{% if emea.countries == 1 %} Country{% else %} Countries{% endif %}</li>
					<li>{{ emea.offices }}{% if emea.offices == 1 %} Office{% else %} Offices{% endif %}</li>
					<li>{{ emea.people }} People</li>
                </ul>
                <span href="/network/emea/" class="network-btn white light inline-underline">View the network</span>
            </div>
        </div>
    </a>
    <a href="/network/apac/">
        <div class="third left network-map-column align-center apac">
            <div class="column-content">
                <h2 class="h2 uppercase bold column-title">Apac <span class="title-reveal">Network</span></h2>
                <ul class="ui-list network-stats white">
					<li>{{ apac.countries }}{% if apac.countries == 1 %} Country{% else %} Countries{% endif %}</li>
					<li>{{ apac.offices }}{% if apac.offices == 1 %} Office{% else %} Offices{% endif %}</li>
					<li>{{ apac.people }} People</li>
                </ul>
                <span href="/network/apac/" class="network-btn white light inline-underline">View the network</span>
            </div>
        </div>
    </a>
</div>
{% include 'partials/agency-standards.twig' %}
{% endblock %}
