{% extends 'base.twig' %}
{% block content %}
<div class="pad-50 relative region-background">
	<div class="container">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="container-constrained align-center region-hero">
			<h1 class="h1 uppercase white bold">{{ post.headline }}</h1>
            <ul class="network-features ui-inline-list white">
				<li>{{ post.countries }}{% if post.countries == 1 %} Country{% else %} Countries{% endif %}</li>
				<li>{{ post.offices }}{% if post.offices == 1 %} Office{% else %} Offices{% endif %}</li>
				<li>{{ post.people }} People</li>
			</ul>
			<a href="/members/" class="join-btn inline-underline white light inline">Become a member</a>
		</div>
	</div>
</div>
<div id="agency-map" class="agency-map">
    <div class="map-zoom-out-icon js-zoom-out">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#zoom-out-icon"></use>
        </svg>
    </div>
    <div class="view-switcher">
        <div class="view-switcher-title align-center">
            <span class="uppercase bold h3">Change View:</span>
        </div>
        <div class="control-wrap align-center">
            <span class="map uppercase bold inline active h3">Map</span>
            <div class="switcher inline">
                <div class="switcher-inner"></div>
            </div>
            <span class="list uppercase bold inline h3">List</span>
        </div>
    </div>
    <div class="recruiting-text hidden align-center">
        <p class="h3 uppercase bold">Countries we’re recruiting in:</p>
    </div>
    <div class="discover-map white align-center">
        <div class="discover-wrap">
            <div class="discover-item">
                <a href="/members"></a><h3 class="h2 white uppercase">Become a <span class="bold white inline">Member</span></h2></a>
                <p>See the countries where we're recruiting.</p>
                <a class="light white inline-underline js-map-discover">Discover now</a>
            </div>
            <div class="discover-item">
                <a href="/members"></a><h3 class="h2 white uppercase">Back to Agencies</h2></a>
                <p>See the AMIN agencies already in this region.</p>
                <a class="light white inline-underline js-map-discover">View agencies</a>
            </div>
        </div>
    </div>

    <div class="agency-list-view hidden">
        <div class="container agency-list">
            {% for agency in agencies %}
            {% set agencyLogoAlt = agency.alt %}
            {% if region.slug != 'americas' %}
            <a class="agency-link" href="{{ agency.path }}">
                <div class="agency third left" style="background: url({{ agency.coverImage.url }}) no-repeat 50% 50% / cover;">
                    <div class="agency-logo">
                        <img src="{{ agency.logo_url }}" alt="{{ agencyLogoAlt|last }}" title="{{ agencyLogoAlt|last }}" />
                    </div>
                    <div class="agency-cover {% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
                        <h3 class="h3 uppercase agency-title">{{ agency.country.name }}</h3>
                        <span class="pulled-text">{{ agency.title }}</span>
                    </div>
                </div>
            </a>
            {% else %}
            <a class="agency-link" href="{{ agency.path }}">
                <div class="agency third left" style="background: url({{ agency.coverImage.url }}) no-repeat 50% 50% / cover;">
                    <div class="agency-logo">
                        <img src="{{ agency.logo_url }}" alt="{{ agencyLogoAlt|last }}" title="{{ agencyLogoAlt|last }}" />
                    </div>
                    <div class="agency-cover {% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
                        <h3 class="h3 uppercase agency-title">{{ agency.title }}</h3>
                        <span class="pulled-text">{{ agency.country.name }}</span>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% include 'partials/agency-standards.twig' %}
{% endblock %}
