{% extends 'base.twig' %}
{% block content %}
<div class="background-blue pad-50 pad-bottom-80 section scroll-header max-height-445" {% if post.pageHero %}style="background: url({{ post.pageHero.url }}) no-repeat 50% 50% / cover;"{% endif %}>
	<div class="container">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="container-constrained align-center our-story-hero">
			<h1 class="h1 uppercase white bold">{{ post.hero_title }}</h1>
		</div>
	</div>
    <div class="background-opaque-blue pad-30 work-filters banner-bar">
        <div class="container">
            <ul class="ui-inline-list align-center uppercase white navigation split-slider-links">
                <li class="filter-btn">
                    <a>
                        <span class="inline">Filter</span>
                        <div class="arrow-down inline">
                            <svg viewBox="0 0 595.3 595.3">
                                <g>
                                    <polygon points="489,171.9 297.6,363.2 106.3,171.9 36.3,171.9 297.6,433.2 559,171.9"></polygon>
                                </g>
                            </svg>
                        </div>
                    </a>
                </li>
                <li><a href="#" class="white inline-underline-middle js-split-slider-link" data-slide="0">Independent</a></li>
                <li><a href="#" class="white inline-underline-middle js-split-slider-link" data-slide="1">Knowledgeable</a></li>
                <li><a href="#" class="white inline-underline-middle js-split-slider-link" data-slide="2">Resourceful</a></li>
                <li><a href="#" class="white inline-underline-middle js-split-slider-link" data-slide="3">Passionate</a></li>
                <li><a href="#leadership" class="white inline-underline-middle js-split-slider-link">Leadership</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container align-center pad-100">
	<div class="container-constrained constrained-content">
		<h2 class="h1 uppercase bold sunk-header">{{ post.bold_text }}</h2>
		<span class="sub-title">{{ post.sub_title }}</span>
		{{ post.get_field('main_copy') }}
	</div>
</div>
<div class="split-slider" id="split-slider">
    <div class="left-wrapper">
        <div class="left-half">
            {% for slide in post.get_field('split_slider') %}
                {% set even = loop.index0 is divisibleby(2) %}

                {% if even %}
                    {% set image = slide.image %}
                    <div class="item" data-index="{{ loop.index0 }}" style="background: url('{{ image.url }}') no-repeat 50% 50% / cover;">
                    </div>
                {% else %}
                    <div class="item" data-index="{{ loop.index0 }}">
                        <div class="item-content align-center">
                            <div class="item-number bold item-number-{{ loop.index}}">{{ loop.index }}</div>
                            <h2 class="h1 bold uppercase item-title">{{ slide.title }}</h2>
                            <span class="item-sub-title">{{ slide.sub_title }}</span>
                            <div class="item-description">{{ slide.content }}</div>
                            <a href="{{ slide.link_destination }}" class='light inline-underline'>{{ slide.link_text }}</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="right-wrapper">
        <div class="right-half">
            {% set counter = post.get_field('split_slider') | length %}
            {% for slide in post.get_field('split_slider') | reverse %}
                {% set even = loop.index0 is divisibleby(2) %}
                {% if not even %}
                    <div class="item" data-index="{{ counter }}">
                        <div class="item-content align-center">
                            <div class="item-number bold h1 item-number-{{ counter }}">{{ counter }}</div>
                            <h2 class="h1 bold uppercase item-title">{{ slide.title }}</h2>
                            <span class="item-sub-title">{{ slide.sub_title }}</span>
                            <div class="item-description">{{ slide.content }}</div>
                            <a href="{{ slide.link_destination }}" class='light inline-underline'>{{ slide.link_text }}</a>
                        </div>
                    </div>
                {% else %}
                    {% set image = slide.image %}
                    <div class="item" data-index="{{ counter }}" style="background: url('{{ image.url }}') no-repeat 50% 50% / cover;">
                    </div>
                {% endif %}
                {% set counter = counter - 1 %}
            {% endfor %}
        </div>
    </div>
    <div class="split-slider-dots"></div>
</div>
{% include 'partials/action-banner.twig' %}
<!--split slider for mobile -->
<div class="split-slider-mobile mobile">
    {% for slide in post.get_field('split_slider') %}
        <div class="split-slider-mobile-slide" id="{{ loop.index0 }}">
            {% set image = slide.image %}
            <div class="item-image" style="background: url('{{ image.url }}') no-repeat 50% 50% / cover;">
            </div>
            <div class="full pad-100 item-content">
                <div class="item-number bold h1 item-number-{{ loop.index }}">{{ loop.index }}</div>
                <h2 class="h1 bold uppercase item-title">{{ slide.title }}</h2>
                <span class="item-sub-title">{{ slide.sub_title }}</span>
                <div class="item-description">{{ slide.content }}</div>
                <a href="{{ slide.link_destination }}" class='light inline-underline'>{{ slide.link_text }}</a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pad-100" id="leadership">
    <div class="container pad-bottom-50">
        <div class="container-constrained constrained-content align-center">
            <h3 class="h1 uppercase bold sunk-header">Meet our leadership team.</h3>
            <p>What also makes our network so effective, for clients and memebers, is our people. Here are just some of the AMIN worldwide executive team.</p>
        </div>
    </div>
    <div class="container leadership-team pad-top-20">
        {% for person in post.get_field('selected_members') %}
            <div class="team-member-wrap quarter left {% for term in person.terms() %}{{ term.slug|lower }} {% endfor %}">
                {% set image = person.get_field('image') %}
                <a href="{{ person.link }}">
                    <div class="team-member js-team-matchheight">
                        <div class="member-shot" style="background-image: url({{ image.sizes.head_shot }});"></div>
                        <div class="member-content-block">
                            <span class="member-name uppercase">{{ person.title }}</span>
                            <span class="member-title">{{ person.position }}</span>
                            <p>{{ person.description | truncate(12) }}</p>
                            <p class="inline-underline inline-block light">Read More</p>
                        </div>
                        <div class="member-content-overlay"></div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if options.hide_agency_principles %}
        <div class="full align-center">
            <a href="/our-story/agency-principles/" class="inline-underline light cta">View our agency principles</a>
        </div>
    {% endif %}
</div>
{% endblock %}
