{% extends 'base.twig' %}
{% block content %}
<div class="background-blue pad-50 pad-bottom-80 section scroll-header max-height-445" {% if post.pageHero %}style="background: url({{ post.pageHero.url }}) no-repeat 50% 50% / cover;"{% endif %}>
	<div class="container">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="container-constrained align-center">
			<h1 class="h1 uppercase white bold">{{ post.title }}</h1>
		</div>
	</div>
</div>
<div class="container align-center pad-100">
	{{ post.get_field('body_wysiwyg') }}
</div>
{% endblock %}
