{% extends 'base.twig' %}
{% block content %}
	<div id="network-map" class="network-map press-map relative background-amin-map scroll-header">
		<div class="third left network-map-column press-map-column align-center americas">
			<div class="column-content">
				<h2 class="h2 uppercase bold column-title">Americas <span class="title-reveal">Region</span></h2>
				<ul class="ui-list network-stats white">
					{% if americas_contact['name'] %}
						<li>
							<span class="bold white">Name: </span>{{ americas_contact['name'] }}
						</li>
					{% endif %}
					{% if americas_contact['email'] %}
						<li>
							<span class="bold white">Email: </span>{{ americas_contact['email'] }}
						</li>
					{% endif %}
					{% if americas_contact['address'] %}
						<li>
							<span class="bold white">Address: </span>{{ americas_contact['address'] }}
						</li>
					{% endif %}
					{% if americas_contact['phone'] %}
						<li>
							<span class="bold white">Phone: </span>{{ americas_contact['phone'] }}
						</li>
					{% endif %}
				</ul>
				{% if americas_contact['email'] %}
					<a href="mailto:{{ americas_contact['email'] }}" class="network-btn white light underline">Get in touch</a>
				{% endif %}
			</div>
		</div>
		<div class="third left network-map-column press-map-column align-center emea">
			<div class="column-content">
				<h2 class="h2 uppercase bold column-title">Emea <span class="title-reveal">Region</span></h2>
				<ul class="ui-list network-stats white">
					{% if europe_contact['name'] %}
						<li>
							<span class="bold white">Name: </span>{{ europe_contact['name'] }}
						</li>
					{% endif %}
					{% if europe_contact['email'] %}
						<li>
							<span class="bold white">Email: </span>{{ europe_contact['email'] }}
						</li>
					{% endif %}
					{% if europe_contact['address'] %}
						<li>
							<span class="bold white">Address: </span>{{ europe_contact['address'] }}
						</li>
					{% endif %}
					{% if europe_contact['phone'] %}
						<li>
							<span class="bold white">Phone: </span>{{ europe_contact['phone'] }}
						</li>
					{% endif %}
				</ul>
				{% if europe_contact['email'] %}
					<a href="mailto:{{ europe_contact['email'] }}" class="network-btn white light underline">Get in touch</a>
				{% endif %}
			</div>
		</div>
		<div class="third left network-map-column press-map-column align-center apac">
			<div class="column-content">
				<h2 class="h2 uppercase bold column-title">Apac <span class="title-reveal">Region</span></h2>
				<ul class="ui-list network-stats white">
					{% if asia_contact['name'] %}
						<li>
							<span class="bold white">Name: </span>{{ asia_contact['name'] }}
						</li>
					{% endif %}
					{% if asia_contact['email'] %}
						<li>
							<span class="bold white">Email: </span>{{ asia_contact['email'] }}
						</li>
					{% endif %}
					{% if asia_contact['address'] %}
						<li>
							<span class="bold white">Address: </span>{{ asia_contact['address'] }}
						</li>
					{% endif %}
					{% if asia_contact['phone'] %}
						<li>
							<span class="bold white">Phone: </span>{{ asia_contact['phone'] }}
						</li>
					{% endif %}
				</ul>
				{% if asia_contact['email'] %}
					<a href="mailto:{{ asia_contact['email'] }}" class="network-btn white light underline">Get in touch</a>
				{% endif %}
			</div>
		</div>
		<div class="section background-opaque-blue work-filters pad-30 full banner-bar press-room-banner-bar">
			<ul class="ui-inline-list align-center uppercase white navigation js-scrollPoint-nav">
				<li class="filter-btn">
		    		<a>
		    			<span class="inline">Filter</span>
		    			<div class="arrow-down inline">
		                    <svg viewBox="0 0 595.3 595.3">
		                        <g>
		                            <polygon points="489,171.9 297.6,363.2 106.3,171.9 36.3,171.9 297.6,433.2 559,171.9"></polygon>
		                        </g>
		                    </svg>
		                </div>
		    		</a>
		    	</li>
				{% if latest_news %}
				<li class="isotope-filter">
					<a class="white inline-underline-middle" href="#latest-news">Latest News</a>
				</li>
				{% endif %}
				{% if awards  and post.show_awards %}
				<li class="isotope-filter">
					<a class="white inline-underline-middle" href="#awards">Awards</a>
				</li>
				{% endif %}
				{% if speakers %}
				<li class="isotope-filter">
					<a class="white inline-underline-middle" href="#speakers">Speakers</a>
				</li>
				{% endif %}
				{% if downloads %}
				<li class="isotope-filter">
					<a class="white inline-underline-middle" href="{{ site.url }}/press-room/downloads">Downloads</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
	{% if latest_news %}
		<div class="container">
			<div id="latest-news" class="row pad-100 js-scrollPoint">
				<h2 class="h1 uppercase">
					Latest Press Releases
					<a class="view-all inline-underline right" href="{{ site.url }}/press-room/press-releases/">View all Press Releases</a>
				</h2>
				{% if post.latest_news_copy %}
				<div class="left two-thirds clear">
					{{ post.latest_news_copy|wpautop }}
				</div>
				{% endif %}
				<ul class="agency-news ui-inline-list clear">
		            <div class="row-wrap">
						{% for post in latest_news %}
							<li class="news-item third left">
								<a href="{{ post.link }}">
									{% if post.get_field('hero_image').sizes.news_listing_image %}
										<div style="background-image: url('{{ post.get_field('hero_image').sizes.news_listing_image }}')" alt="{{ post.hero_image.title }}" class="news-img background-cover"></div>
									{% else %}
										<div style="background-image: url('{{ theme.uri }}/assets/img/backgrounds/placeholder-news-listing.jpg')" alt="{{ post.hero_image.title }}" class="news-img background-cover"></div>
									{% endif %}
								</a>
								<p class="bold">{{ post.title }}</p>
								<p>{{ post.sub_title }}</p>
								<a href="{{ post.link }}" class="inline-underline">Read more</a>
							</li>
						{% endfor %}
		            </div>
				</ul>
			</div>
		</div>
	{% endif %}
	{% if awards and post.show_awards %}
		<div class="container">
			<div id="awards" class="news-section row pad-100 js-scrollPoint">
				<h2 class="h1 uppercase">
					Awards
					<a class="view-all inline-underline right" href="{{ site.url }}/press-room/awards/">View all Awards</a>
				</h2>
				{% if post.awards_copy %}
				<div class="left two-thirds clear">
					{{ post.awards_copy|wpautop }}
				</div>
				{% endif %}
				<ul class="agency-news ui-inline-list clear">
		            <div class="row-wrap">
						{% for post in awards %}
							<li class="news-item third left">
								<a href="{{ post.link }}">
									<div style="background-image: url('{{ post.get_field('hero_image').sizes.news_listing_image }}')" alt="{{ post.hero_image.title }}" class="news-img background-cover"></div>
								</a>
								<p class="bold">{{ post.title }}</p>
								<p>{{ post.sub_title }}</p>
								<a href="{{ post.link }}" class="inline-underline">Read more</a>
							</li>
						{% endfor %}
		            </div>
				</ul>
			</div>
		</div>
	{% endif %}
	{% if speakers %}
	<div class="container">
		<div id="speakers" class="news-section row pad-100 js-scrollPoint">
			<h2 class="h1 uppercase">
				Speakers
				<a class="view-all inline-underline right" href="{{ site.url }}/press-room/speakers">View all Speakers</a>
			</h2>
			{% if post.speakers_copy %}
			<div class="left two-thirds clear">
				{{ post.speakers_copy|wpautop }}
			</div>
			{% endif %}
			<ul class="agency-news ui-inline-list clear">
				{% for row in speakers|batch(4) %}
					<div class="row-wrap">
						{% for s in row %}
							{% set event = TimberPost(s.associated_event) %}
							<li class="quarter left gutter-right download">
								<a href="{{ event.link }}">
									{% if s.get_field('speaker_image').sizes.head_shot %}
									<div style="background-image: url('{{ s.get_field('speaker_image').sizes.head_shot }}')" alt="{{ s.get_field('speaker_image').title }}" class="news-img speaker-img background-cover"></div>
									{% endif %}
								</a>
								<p class="bold">{{ s.speaker_name }}</p>
								{% if s.speaker_excerpt %}
								<p>{{ s.speaker_excerpt }}</p>
								{% endif %}
								{% if s.speaker_company %}
								<p>{{ s.speaker_company }}</p>
								{% endif %}
								<a href="{{ event.link }}" class="inline-underline">View the event</a>
							</li>
						{% endfor %}
					</div>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	<div class="container news-section row pad-100 js-scrollPoint">
		<h2 class="h1 uppercase align-center">
			The global reach of an<br> independent agency network.
		</h2>
		<div class="full benefits-videos">
			<ul>
				{% for video in benefits_videos %}
					<li class="benefit-video left half {{ loop.index is odd ? 'gutter-right' : 'gutter-left' }} js-benefit-video" data-src="https://www.youtube.com/embed/{{ video.youtube_id }}">
						<div class="video-wrap background-cover" style="background-image: url({{ video.thumbnail.url }})"></div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}
