{% extends 'base.twig' %}
{% block content %}
<div class="background-blue relative scroll-header pad-50 pad-bottom-80 max-height-445" {% if page_hero %}style="background:url({{ page_hero.url }}) no-repeat 50% 0% / cover;"{% endif %}>
	<div class="overlay-bg"></div>
	<div class="container">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="container-constrained align-center work-hero pad-top-50 pad-bottom-80">
			<h1 class="h1 uppercase white bold">{{ post.intro_title }}</h1>
			<p class="white intro-copy">{{ post.get_field('intro_copy') }}</p>
		</div>
	</div>
</div>
<div class="section full main-agency-content news-pods" data-bind="click: hideRegions">
	<div class="container">
		<div id="news" class="row align-center">
			<!-- ko if: newsPosts().length > postsPerPage -->
                <!-- ko if: pageNumber() > 1 -->
                    <!-- <a class="inline-block pagination-prev" data-bind="click: paginate.bind($data, 'prev')">Prev</a> -->
                <!-- /ko -->
				<!-- <ul class="pagination ui-inline-list inline-block" data-bind="foreach: pagination">
					<li><a data-bind="text: index, css: { 'isActive': index == $parent.pageNumber() }, click: $parent.setCurrentPage.bind($data)"></a></li>
				</ul> -->
                <!-- ko if: pageNumber() < totalPages() -->
                    <!-- <a class="inline-block pagination-next" data-bind="click: paginate.bind($data, 'next')">Next</a> -->
                <!-- /ko -->
			<!-- /ko -->
			<ul class="ui-inline-list inline align-center agency-news" data-bind="foreach: {data: pagedRows, as: 'row'}">
				<div class="row" data-bind="foreach: { data: row, as: 'post', beforeRemove: $root.beforePostRemoved }">
					<li class="news-item third left">
						<a data-bind="attr: { href: permalink }, click: function() { return true;}, clickBubble: false">
							<div class="news-img background-cover" data-bind="style: { backgroundImage: 'url(\'' + image + '\')' }, href: permalink" class="news-img background-cover"></div>
						</a>
						<a data-bind="attr: { href: permalink }"><p class="bold" data-bind="text: $root.decodeEntities(title)"></p></a>
						<p data-bind="text: intro"></p>
						<a data-bind="attr: { href: permalink }, click: function() { return true;}, clickBubble: false" class="inline-underline">Read more</a>
					</li>
				</div>
			</ul>
			<!-- ko if: newsPosts().length > postsPerPage -->
                <!-- ko if: pageNumber() > 1 -->
                    <a class="inline-block pagination-prev" rel="prev" data-bind="click: paginate.bind($data, 'prev')">Prev</a>
                <!-- /ko -->
				<ul class="pagination ui-inline-list inline-block" data-bind="foreach: pagination">
					<li><a data-bind="text: index, css: { 'isActive': index == $parent.pageNumber() }, click: $parent.setCurrentPage.bind($data)"></a></li>
				</ul>
                <!-- ko if: pageNumber() < totalPages() -->
                    <a class="inline-block pagination-next" rel="next" data-bind="click: paginate.bind($data, 'next')">Next</a>
                <!-- /ko -->
			<!-- /ko -->
		</div>
	</div>
</div>
{% endblock %}
