{% extends 'base.twig' %}
{% block content %}
	<div class="section full background-cover full-height-banner scroll-header" style="background-image: url('{{ post.get_field('banner_image').url }}');">
		<div class="overlay-bg"></div>
		<div class="container pad-50">
			{% include 'partials/breadcrumbs.twig' %}
			<div class="inner-content third">
				<h1 class="h1 uppercase white bold">{{ post.title }}</h1>
				<p class="light white">{{ post.introductory_text }}</p>
			</div>
		</div>
		<div class="banner-bar work-bar pad-30 full">
			<ul class="ui-inline-list align-center uppercase white navigation js-scrollPoint-nav">
                {% if post.the_work_text is not empty or post.content_section is not empty %}
				<li class="">
					<a class="white inline-underline-middle" href="#the-work">The Work</a>
				</li>
                {% endif %}
                {% if post.results_text is not empty %}
				<li class="">
					<a class="white inline-underline-middle" href="#the-result">The Result</a>
				</li>
                {% endif %}
			</ul>
		</div>
	</div>
    {% if post.the_work_text is not empty or post.content_section is not empty  %}
	<div class="section full js-scrollPoint" id="the-work">
		<div class="container align-center">
			<div class="work-hero inline half pad-100">
				<h2 class="inline uppercase bold">
					The<span class="cross"></span>Work
				</h2>
				{% if post.the_work_text %}
					<p class="light">{{ post.the_work_text | wpautop }}</p>
				{% endif %}
			</div>
		</div>
	</div>
    {% endif %}
	{% for section in theworks %}
		{% if section.content_type == 'image' %}
			<div class="section work-image full pad-30">
				<div class="container">
					<img src="{{ section.image.url }}" alt="{% if section.image.alt %}{{ section.image.alt }}{% else %}{{ section.image.title }}{% endif %}" class="work-image full"/>
				</div>
			</div>
		{% endif %}
		{% if section.content_type == 'video' %}
			<div class="section full pad-30">
				<div class="video-wrap">
					<iframe class="full" src="{{ section.video_url | extractSRC }}"></iframe>
				</div>
			</div>
		{% endif %}
		{% if section.content_type == 'image-blocks' %}
			<div class="section full pad-50">
				<div class="container">
					{% if section.orientation == 'left' %}
						{# Elements stacked vertically because of overlap, see design 'Amin-Work-Page' #}
						<div class="image-blocks image-blocks-left">
							<div class="left half align-right">
								<img src="{{ section.top_row_image.url }}" alt="{% if section.top_row_image.alt %}{{ section.top_row_image.alt }}{% else %}{{ section.top_row_image.title }}{% endif %}" title="{{ section.top_row_image.title }}" class="full"/>
								<p class="bold">{{ section.bottom_row_title }}</p>
								<span class="inline">{{ section.bottom_row_copy }}</span>
							</div>
							<div class="left half align-left">
								<p class="left bold desktop">{{ section.top_row_title }}</p>
								<span class="inline desktop"><p>{{ section.top_row_copy }}</p></span>
								<img src="{{ section.bottom_row_image.url }}" alt="{% if section.bottom_row_image.alt %}{{ section.bottom_row_image.alt }}{% else %}{{ section.bottom_row_image.title }}{% endif %}" title="{{ section.bottom_row_image.title }}" class="full"/>
								<div class="mobile">
									<p class="left bold">{{ section.top_row_title }}</p>
									<span class="inline"><p>{{ section.top_row_copy }}</p></span>
								</div>
							</div>
						</div>
					{% elseif section.orientation == 'right' %}
						<d1iv class="image-blocks image-blocks-right">
							<div class="left half align-right">
								<p class="left bold align-right">{{ section.top_row_title }}</p>
								<span class="inline align-right"><p>{{ section.top_row_copy }}</p></span>
								<img src="{{ section.bottom_row_image.url }}" alt="{% if section.top_row_image.alt %}{{ section.top_row_image.alt }}{% else %}{{ section.top_row_image.title }}{% endif %}" title="{{ section.top_row_image.title }}" class="full"/>
							</div>
							<div class="left half align-left">
								<img src="{{ section.top_row_image.url }}" alt="{% if section.top_row_image.alt %}{{ section.top_row_image.alt }}{% else %}{{ section.top_row_image.title }}{% endif %}" title="{{ section.top_row_image.title }}" class="full"/>
								<p class="bold">{{ section.bottom_row_title }}</p>
								<span class="inline">{{ section.bottom_row_copy }}</span>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endfor %}
    {% if post.results_text is not empty %}
	<div class="section full js-scrollPoint" id="the-result">
		<div class="container align-center">
			<div class="work-hero inline half pad-100">
				<h2 class="inline uppercase bold">
					The<span class="cross"></span>Result
				</h2>
				<p class="light">{{ post.results_text | wpautop }}</p>
			</div>
		</div>
	</div>
    {% endif %}
	<div class="section full">
		<div class="container">
			{% include 'partials/agency-collab.twig' %}
		</div>
	</div>
{% endblock %}

