{% extends 'base-work.twig' %}
{% block content %}


<div class="section full background-cover full-height-banner scroll-header">
	
		
		<div id="background-image" class="bg-for-mobile" style="background-image: url('{{ post.get_field('main_project_visual').url }}');"></div>

		<div class="container pad-50 header-content-location"></div>
		<div class="container pad-50 work-full mobile-pad-0">
			
			<div class="work-for-mobile inner-content third-for-work inner-content-extra" style= "background-color: #00548A;">

				<div class="work-list-extra">
					{% include 'partials/breadcrumbs.twig' %}
				</div>
				<h1 class="white bold mobile-pad-20">{{ post.project_title }}</h1>

				<div class="bg-display-for-mobile"> <img src="{{ post.get_field('main_project_visual').url }}"> </div>

				<p class="light white header-work-content">{{ post.introductory_text }}</p>

				{% if post.challenge_text is not empty or post.solution_text is not empty %}
					<div class="header-work-content white light  mobile-pad-20">
						{% if post.challenge_text %}
								 <strong> Challenge </strong>
								{{ post.challenge_text | wpautop }}
						{% endif %}
						<br>
						{% if post.solution_text %}
								 <strong> Solution </strong>
								{{ post.solution_text | wpautop }}
						{% endif %}
					</div> 
				{% endif %}
			</div>
		</div>
</div>
		
		<div class="w-space"> </div>
		
		
		<!-- WORK CONTENT --> 

		{% for section in post.get_field('work_repeater') %}

		{% if section.select_type == 'image' %}

		<div class="section work-image full pad-30">
					<div class="container">

		<img src="{{ section.image.url }}" alt="{% if section.image.alt %}{{ section.image.alt }}{% else %}{{ section.image.title }}{% endif %}" class="work-image full"/>

		<div class="work-caption"> {{ section.caption_image | wpautop }} </div>

			</div>
				</div>

         {% endif %}

         {% if section.select_type == 'video' %}
				<div class="section full pad-30">
					<div class="video-wrap">
						<iframe class="full" src="{{ section.video_url | extractSRC }}"></iframe>
					</div>
					<div class="work-caption">{{ section.caption_video| wpautop }}</div>
				</div>
			{% endif %}

		{% endfor %}


		
				
		<!-- IMPACT -->

		{% if post.client_bullets is not empty %}	
			<div id="impact">
				<h2>Impact</h2>
				<ul>
					{% for bullet in client_bullets %}
						<li>
							<span class="inline">{{ bullet.copy }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>	 
		{% endif %}
		
	
	
{% endblock %}
