{% extends 'base.twig' %}
{% block content %}

<div class="section background-cover white relative person-banner {{ agency.region|lower }}" style="background-image: url('{{ agency.get_field('regional_background_image').url }}') !important;">
	<div class="network-colour-overlay {{ agency.region|lower }}"></div>
	<div class="container person-banner-content pad-20">
		<div class="half left white fill-white vertical-middle gutter-right">
			{% if agency.get_field('logo') %}
				<img src="{{ agency.get_field('logo').url }}" alt="{{ agency.alt }}" class="margin-bottom-10 person-agency-image"/>
			{% endif %}
			<h1 class="h1 uppercase bold person-title white">
				{{ post.title|wordslice(0, 1) }}
				<span class="title-cross white"></span>
				{{ post.title|wordslice(1, 20) }}
			</h1>
			<p class="bold margin-top-20">{{ post.position }}{{ agency ? ', ' ~ agency.title : '' }}</p>
		</div>
		{% if post.get_field('hero_image') %}
			<div class="half right height-100 person-banner-profile-image background-cover background-right" style="background-image: url({{ post.get_field('hero_image').url }});"></div>
		{% endif %}
	</div>
</div>
<div class="section full">
	<div class="container">
		<div class="row pad-100 js-scrollPoint">
			<div class="two-thirds left">
				<h2 class="agency-header uppercase bold h1">
					About
					<span class="title-cross"></span>
					{{ post.title|wordslice(0, 1) }}
				</h2>
				<p class="line-height-30">{{ post.description }}</p>
			</div>
			<div class="quarter right">
				<ul class="sidebar">
					{% if post.agency %}
					<li>
						<p class="bold">Agency</p>
						<p>
							<a href="{{ agency.link }}" target="_blank" class="light inline-underline">{{ agency.title }}</a>
						</p>
					</li>
					{% endif %}
					{% if post.email %}
					<li class="email">
						<p class="bold">Email</p>
						<p>
							<a href="mailto:{{ post.email }}" target="_blank" class="light inline-underline">{{ post.email }}</a>
						</p>
					</li>
					{% endif %}
					{% if post.telephone %}
					<li class="phone">
						<p class="bold">Phone</p>
						<p>
							<a href="tel:{{ post.telephone }}" target="_blank" class="light">{{ post.telephone }}</a>
						</p>
					</li>
					{% endif %}
					{% if post.facebook or post.twitter or post.instagram or post.google_plus or post.linkein %}
					<li class="phone">
						<p class="bold">Social</p>
						<ul class="ui-inline-list social-list">
							{% if post.facebook %}
								<li>
									<a target="_blank" href="{{ post.facebook | checkURL }}">
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
										</svg>
									</a>
								</li>
							{% endif %}
							{% if post.twitter %}
								<li>
									<a target="_blank" href="{{ post.twitter | checkURL }}">
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
										</svg>
									</a>
								</li>
							{% endif %}
							{% if post.instagram %}
								<li>
									<a target="_blank" href="{{ post.instagram | checkURL }}">
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
										</svg>
									</a>
								</li>
							{% endif %}
							{% if post.google_plus %}
								<li>
									<a target="_blank" href="{{ post.google_plus | checkURL }}">
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#google"></use>
										</svg>
									</a>
								</li>
							{% endif %}
							{% if post.linkedin %}
								<li>
									<a target="_blank" href="{{ post.linkedin | checkURL }}">
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
										</svg>
									</a>
								</li>
							{% endif %}
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
