{% extends 'base.twig' %}
{% block content %}
<div class="section full background-cover full-height-banner scroll-header background-dark-blue {% if not post.get_field('hero_image') %}background-cityscape{% endif %}" {% if post.get_field('hero_image') %}style="background-image: url('{{ post.get_field('hero_image').url }}');"{% endif %}>
    <div class="overlay-bg"></div>
    <div class="container pad-50">
        {% include 'partials/breadcrumbs.twig' %}
        <div class="inner-content">
            <h1 class="h1 uppercase white bold">{{ post.title }}</h1>
            <p class="light white">{{ post.sub_title }} </br>{{ post.get_field('event_start_date') }} - {{ post.get_field('event_end_date') }} | {{ post.get_field('event_location').address }}</p>
        </div>
    </div>
    <div class="banner-bar work-bar pad-30 full">
        <ul class="ui-inline-list align-center uppercase white navigation js-scrollPoint-nav">
			{% if post.content_copy or post.content_sub_title or post.content_title %}
            <li>
                <a class="white inline-underline-middle" href="#about">About</a>
            </li>
			{% endif %}
			{% if post.get_field('event_schedule') is not empty %}
            <li>
                <a class="white inline-underline-middle" href="#program">Program</a>
            </li>
			{% endif %}
			{% if post.get_field('speakers') is not empty %}
            <li>
                <a class="white inline-underline-middle" href="#speakers">Speakers</a>
            </li>
			{% endif %}
			{% if post.get_field('event_sponsors') is not empty %}
            <li>
                <a class="white inline-underline-middle" href="#sponsors">Sponsors</a>
            </li>
			{% endif %}
        </ul>
    </div>
</div>
<div class="first-wrap relative">
	<div class="container">
		<div class="two-thirds left inline align-left">
			<div class="main-content" id="about">
				<div class="event-text-content">
                    {% if post.content_title %}
					   <h1 class="h1 uppercase bold">{{ post.content_title }}</h1>
					{% endif %}
                    {% if post.content_sub_title %}
                        <p class="event-subtitle">{{ post.content_sub_title }}</p>
                    {% endif %}
                    {% if post.content_copy %}
                        <div class="block text-block">
                            {{ post.content_copy | wpautop }}
                        </div>
                    {% endif %}
				</div>
			</div>
            {% if post.get_field('content_image').sizes.news_image %}
                <img class="main-hero" alt="{{ post.get_field('content_image').title }}" title="{{ post.get_field('content_image').title }}" src="{{ post.get_field('content_image').sizes.news_image }}">
            {% else %}
                <img class="main-hero" alt="{{ post.get_field('hero_image').title }}" title="{{ post.get_field('hero_image').title }}" src="{{ post.get_field('hero_image').url }}">
            {% endif %}
            {% if post.get_field('event_schedule') is not empty %}
            <div class="main-agenda" id="program">
                <div class="event-text-content">
                    <h2 class="h1 uppercase bold">The Program</h2>
                </div>
                {% if post.get_field('event_schedule') %}
                    <div class="schedule-table-tabs">
                    {% for day in post.get_field('event_schedule') %}<div class="table-tab js-schedule-table-tab {% if loop.index == 1 %}active{% endif %}" data-index={{ loop.index }}>{{ day.schedule_day_title }}</div>{% endfor %}
                    </div>
                    <div class="schedule-table-wrapper js-schedule-table-wrapper">
                        {% for day in post.get_field('event_schedule') %}
                        <table data-index={{ loop.index }} class="schedule-table {% if loop.index == 1 %}active{% endif %}">
                            {% for time in day.times %}
                            <tr>
                                <td>
                                    {{ time.time }}
                                </td>
                                <td class="table-details">
                                    {{ time.details }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if post.event_schedule_pdf %}
            <div class="background-grey align-center pad-30">
                <a href="{{ post.get_field('event_schedule_pdf').url }}" target="_blank" class="inline-underline">Printer friendly version</a>
            </div>
            {% endif %}
            {% endif %}
            {% if post.get_field('speakers') is not empty %}
            <div class="main-speakers" id="speakers">
                <div class="event-text-content">
                    <h2 class="h1 uppercase bold no-margin-bottom">Speakers</h2>
                </div>
                {% if post.get_field('speakers') %}
                    {% for speakerSet in post.get_field('speakers') %}
                    {% if speaker.headline %}
                        <p class="speaker-headline">
                            {{ speakerSet.speaker_group_title }}
                        </p>
                    {% endif %}
                    {% for speaker in speakerSet.speaker_group %}
                    <div class="speaker-pod">
                        {% if speaker.image %}
    						<div class="speaker-img third left">
    						    <img src="{{ speaker.image.url }}" alt="{{ speaker.title }}"/>
    						</div>
                        <div class="speaker-content two-thirds right">
                        {% else %}
                        <div class="speaker-content full">
                        {% endif %}
							<h4 class="speaker-name uppercase">{{ speaker.name }}</h4>
							<p class="h5">{{ speaker.title }}</p>
							<div class="speaker-text">{{ speaker.bio}}</div>
						</div>
					</div>
                    {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}
            {% if post.get_field('event_sponsors') is not empty %}
            <div class="main-sponsors" id="sponsors">
                <div class="event-text-content">
                    <h2 class="h1 uppercase bold no-margin-bottom">Event Sponsors</h2>
                </div>
                <div class="sponsor-wrapper">
                    <div class="sponsor-row">
                    {% for sponsor in post.get_field('event_sponsors') %}
                    <div class="sponsor-pod half left">
                        {% if sponsor.logo %}
        					<a target="_blank" href="{{ sponsor.website }}">
        						<img src="{{ sponsor.logo.url }}" class="sponsor-img"/>
        					</a>
                        {% endif %}
    					<p class="sponsor-description">{% if sponsor.bio %}{{ sponsor.bio }}{% endif %}<br><br>{% if sponsor.website %}<a target="_blank" href="{{ sponsor.website }}" class="read-more">Visit website</a>{% endif %}</p>
    				</div>
                    {% if loop.index is divisibleby(2) %}
                    </div>
                    <div class="sponsor-row">
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
			<div class="main-follow-ups pad-30">
				<ul class="social-list ui-inline-list">
					<li class="bold">
						Share:
					</li>
	    			<li>
	    				<a href="http://www.facebook.com/sharer.php?u={{ post.link }}" target="_blank">
	    					<svg class="icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
							</svg>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="https://twitter.com/intent/tweet?url={{ post.link }}" target="_blank">
	    					<svg class="icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
							</svg>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.link }}&title={{ post.title }}&summary={{ post.sub_title }}&source=" target="_blank">
	    					<svg class="icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
							</svg>
	    				</a>
	    			</li>
	    		</ul>
	    		{% if post.tags %}
		    		<div class="tags-list">
		    			<ul class="ui-inline-list">
		    				<li class="bold">
								Tags:
							</li>
							{% for tag in post.tags %}
			    				<li class="tag">
			    					<a href="/news/#{{ tag.slug }}">{{ tag.name }}</a>
			    				</li>
			    			{% endfor %}
		    			</ul>
		    		</div>
		    	{% endif %}
			</div>
		</div>
		<div class="third left inline align-right sidebar-blocks single-event-sidebar">
			<div class="side-blocks">
				{% if relatedPosts %}
					<div class="side-block related-articles">
						<h4 class="block-header">Related articles</h4>
						<ul>
							{% for item in relatedPosts %}
								<li>
									<a href="{{ item.link }}">&rsaquo; {{ item.post_title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
                {% if post.get_field('event_sponsors') %}
                <div class="side-block join-network">
                    <h4 class="h5 uppercase">Event Sponsors</h4>
					<div class="sponsors-slider">
                        {% for sponsor in post.get_field('event_sponsors') %}
                            {% if sponsor.logo %}
    						    <div class="sponsor-slide left">
    						      	<img src="{{ sponsor.logo.url }}"/>
    						    </div>
                            {% endif %}
                        {% endfor %}
					</div>
                </div>
                {% endif %}
                {% if post.host_sponsor_logo %}
                <div class="side-block join-network">
                    <h4 class="h5 uppercase">Host Sponsor</h4>
					<a href="{{ post.host_sponsor_website }}">
                        <img src="{{ post.get_field('host_sponsor_logo').url }}" />
                    </a>
                </div>
                {% endif %}
				{% if events %}
					<div class="side-block upcoming-events">
						<ul class="rslides">
							{% for item in events %}
								<li class="event-wrap">
									<h4 class="block-header">Upcoming Events</h4>
									<h5>{{ item.title }}</h5>
									<p>{{ item.sub_title }}</p>
									<a href="{{ item.link }}" class="light inline inline-underline">Find out More</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="side-block join-network">
						<h5 class="block-header">
							<span>Join our</span>
							<span class="big">Network</span>
						</h5>
						<a href="/members" class="light inline inline-underline">Become a member</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="second-wrap relative">
	<div class="container">
		<div id="news" class="row pad-100">
			<h2 class="h2 uppercase bold">Latest News</h2>
			<ul class="agency-news ui-inline-list">
                <div class="row-wrap">
				{% for item in news %}
					<li class="news-item third left">
						<div style="background-image: url('{{ item.get_field('hero_image').url }}')" alt="{{ item.hero_image.title }}" class="news-img background-cover"></div>
						<p class="bold">{{ item.title }}</p>
						<p>{{ item.sub_title }}</p>
						<a href="{{ item.link }}" class="inline-underline">Read more</a>
					</li>
                {% if loop.index is divisibleby(3) %}
                </div>
                <div class="row-wrap">
                {% endif %}
				{% endfor %}
                </div>
			</ul>
		</div>
	</div>
	<div class="container align-center pad-bottom-80">
		<a href="/news/" class="light inline inline-underline">View all News</a>
	</div>
</div>
{% endblock %}
