{% extends 'base.twig' %}
{% block content %}
    {#{{ post | print_r }}#}
	<div class="section full full-height-banner background-cover scroll-header" style="background-image: url('{{ post.get_field('regional_background_image')['url'] }}');">
		<div class="overlay-blue-bg">
			<div class="container">
{#				{% include 'partials/breadcrumbs.twig' with {'type': 'agency'} %}#}
				<div class="logo-content less-half left">
                                    {% set logo_background_color = post.get_field('logo_background_color') %}
                                    {% if logo_background_color is empty %}
                                        {% set logo_background_color = 'black' %}
                                    {% endif %}
                                    <div class="circle" style="background-color: {{ logo_background_color }}">
                                        <img class="" src="{{ agency_logo }}">
                                    </div>	
				</div>
                                <div class="agency-descriptions more-half right">
                                    {% if post.post_title %}
					<p class="white line-height-30 bold post-title">
						{{ post.post_title }}
					</p>
                                    {% endif %}
                                    {% if post.banner_snippet %}
					<p class="white line-height-30 description">
						{{ post.banner_snippet }}
					</p>
                                    {% endif %}
                                </div>    
			</div>
		</div>
		{#<div class="full banner-bar agency-bar pad-20">
			<div class="container">
				<ul class="quick-links ui-inline-list white uppercase left js-scrollPoint-nav">
					{% if post.get_field('title') and post.overview %}
						<li>
							<a href="#about" class="light white inline-underline-middle">About</a>
						</li>
					{% endif %}
					{% if client_showcase %}
						<li>
							<a href="#clients" class="light white inline-underline-middle">Clients</a>
						</li>
					{% endif %}
					{% if post.workposts %}
						<li>
							<a href="#work" class="light white inline-underline-middle">Work</a>
						</li>
					{% endif %}
					{% if agency_news|length > 0 %}
						<li>
							<a href="#news" class="light white inline-underline-middle">Latest News</a>
						</li>
					{% endif %}
                    {% if team_members|length > 0 %}
						<li>
							<a href="#members" class="light white inline-underline-middle">Our Staff</a>
						</li>
					{% endif %}
                    {% if agency_assets|length > 0 %}
						<li>
							<a href="#credentials" class="light white inline-underline-middle">Credentials</a>
						</li>
					{% endif %}
				</ul>
				<ul class="agency-contact ui-inline-list uppercase white right">
					{% if post.telephone %}
						<li class="telephone">Call us on: <a class="light" href="tel:{{ post.telephone }}">{{ post.telephone }}</a></li>
					{% endif %}
					<li>
						<a class="email button button-outlined-white button-inline" href="mailto:{{ post.email }}">Email Us</a>
					</li>
				</ul>
			</div>
		</div>#}
	</div>
	<div class="section full main-agency-content">
            <div class="container">
                <div class="less-half left align-center agency-contacts">
                        <div class="contacts">
                            <a class="send-brief" href="#">Send brief</a>
                            <a class="email" href="mailto:{{ post.email }}" class="">Email</a>
                            <a class="phone" href="tel:{{ post.telephone }}" class="">{{ post.telephone }}</a>
                        </div>

                        <div class="social-list">
                            {% if option.twitter %}
                                <a target="_blank" href="{{ option.twitter }}">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                                    </li>
                            {% endif %}
                            {% if option.facebook %}
                                <a target="_blank" href="{{ option.facebook }}">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            {% endif %}
                            {% if option.linkedin %}
                                <a target="_blank" href="{{ option.linkedin }}">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
                                    </svg>
                                </a>
                            {% endif %}
                            {% if option.instagram %}
                                <a target="_blank" href="{{ option.instagram }}">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            {% endif %}
                            {% if option.youtube %}
                                <a target="_blank" href="{{ option.youtube }}">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use>
                                    </svg>
                                </a>    
                            {% endif %}
                        </div>
                    {# For now this is not needed. - ML {newsletter_form|shortcodes} #}
                </div>
                    
                <div class="more-half right align-center agency-team">
                    <div class="header uppercase">
                        Agency team members
                    </div>
                    {% if team_members %}
                        {% for row in team_members|batch(4) %}
                            {% for person in row %}
                                <div class="member">
                                    <div class="less-half icon left">
                                        {% set image = person.get_field('image') %}
                                        <a href="{{ person.link }}" target="_blank">
                                            <img src="{{ image.sizes.head_shot }}">
                                        </a>
                                    </div>
                                    <div class="more-half details right align-left">
                                        <span class="name">{{ person.title }}</span>
                                        <span class="position">{{ person.position }}</span>
                                        <span><a href="mailto:{{ person.email }}" class="email">{{ person.email }}</a></span>
                                        <span class="">m: {{ person.telephone }}</span>
                                    </div>

                                </div> 
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="align-center agency-rest more-half right">
                    <div class="full">
                        {% if post.get_field('title') and post.overview %}
                            <div class="tab">
                                <input id="tab-one" type="radio" name="tabs2">
                                <label for="tab-one">
                                    <div class="header uppercase">
                                        Agency profile
                                    </div> 
                                </label>
                                <div class="tab-content">
                                    <p class="line-height-30"><span class="uppercase">{{ post.get_field('title') }}</span> {{ post.sub_title }} {{ post.overview }}</p>
                                </div>
                            </div>
                        {% endif %}

                        {% if client_showcase %}
                            <div class="tab">
                                <input id="tab-two" type="radio" name="tabs2">
                                <label for="tab-two">
                                    <div class="header uppercase">
                                        Top clients
                                    </div> 
                                </label>
                                <div class="tab-content">
                                    <div id="clients" class="row js-scrollPoint">
                                        <ul class="client-showcase">
                                            {% for client in clients %}
                                                <li class="client-logo quarter left">
                                                    {% if client.link %}
                                                        <a target="_blank" href="{{ client.link }}">
                                                    {% endif %}
                                                        <img src="{{ client.logo.url }}" alt="{% if client.logo.alt %}{{ client.logo.alt }}{% else %}{{ client.logo.title }}{% endif %}" title="{{ client.logo.title }}">
                                                    {% if client.link %}
                                                        </a>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if post.agency_showreel %}
                            <div class="tab">
                                <input id="tab-three" type="radio" name="tabs2">
                                <label for="tab-three">
                                    <div class="header uppercase">
                                        Showreel
                                    </div>
                                </label>
                                <div class="tab-content">
                                    <div class="container">
                                        <div id="showreel" class="row align-center relative">
                                                <div class="video-wrap">
                                                        <iframe class="full" src="https://player.vimeo.com/video/{{ post.agency_showreel }}?color=&title=0&byline=0&portrait=0"></iframe>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="tab">
                            <input id="tab-four" type="radio" name="tabs2">
                            <label for="tab-four">
                                <div class="header uppercase">
                                    Category experience
                                </div>
                            </label>
                            <div class="tab-content">
                                <p></p>
                            </div>
                        </div>
                        {% if agency_news %}
                            <div class="tab">
                                <input id="tab-five" type="radio" name="tabs2">
                                <label for="tab-five">
                                    <div class="header uppercase">
                                        Latest news
                                    </div>
                                </label>
                                <div class="tab-content">
                                    <div class="container">
                                        {% include 'partials/agency-news.twig' %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="tab">
                            <input id="tab-six" type="radio" name="tabs2">
                            <label for="tab-six">
                                <div class="header uppercase">
                                    Special skills
                                </div>
                            </label>
                            <div class="tab-content">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		{#<div class="container">
			{% if post.get_field('title') and post.overview %}
				<div id="about" class="row pad-100 js-scrollPoint">
					<div class="two-thirds left">
						<h1 class="agency-header uppercase bold">{{ post.get_field('title') }}</h1>
						<p class="bold line-height-30">{{ post.sub_title }}</p>
						<p class="line-height-30">{{ post.overview }}</p>
					</div>
					<div class="quarter right">
						<ul class="sidebar">
							<li class="website">
								<p class="bold">Website</p>
								<p>
									<a href="{{ post.website | checkURL }}" target="_blank" class="light inline-underline">{{ post.website }}</a>
								</p>
							</li>
							<li class="email">
								<p class="bold">Email</p>
								<p>
									<a href="mailto:{{ post.email }}" class="light inline-underline">{{ post.email }}</a>
								</p>
							</li>
							<li class="phone">
								<p class="bold">Phone</p>
								<p class="light"><a href="tel:{{ post.telephone }}" class="light">{{ post.telephone }}</a></p>
							</li>
							<li class="social">
								<p class="bold">Social</p>
								<ul class="ui-inline-list social-list">
									{% if post.facebook %}
										<li>
											<a target="_blank" href="{{ post.facebook | checkURL }}">
												<svg class="icon">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if post.twitter %}
										<li>
											<a target="_blank" href="{{ post.twitter | checkURL }}">
												<svg class="icon">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if post.instagram %}
										<li>
											<a target="_blank" href="{{ post.instagram | checkURL }}">
												<svg class="icon">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if post.google_plus %}
										<li>
											<a target="_blank" href="{{ post.google_plus | checkURL }}">
												<svg class="icon">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#google"></use>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if post.linkedin %}
										<li>
											<a target="_blank" href="{{ post.linkedin | checkURL }}">
												<svg class="icon">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
												</svg>
											</a>
										</li>
									{% endif %}
								</ul>
							</li>
						</ul>
					</div>
				</div>
			{% endif %}
		</div>#}
		{#{% if workposts %}
			<div id="work" class="align-center relative js-scrollPoint pad-bottom-100">
				<div class="container">
					<h2 class="h1 uppercase align-left pad-top-100 grey-border-top">Our Work</h2>
				</div>
				<div class="slider-wrap">
					<div class="workslider {% if workposts | length <= 3 %}opacity-override{% endif %}">
						{% for work in workposts %}
							<div class="slide" style="background:url({{ work.image.url }})">
								<div class="slide-wrapper">
									<div class="full inline">
										<h4 class="h3 white bold uppercase">{{ work.post_title }}</h4>
										<p class="white">{{ work.introductory_text }}</p>
									</div>
									<div class="full inline">
										<a href="{{ work.path }}?ag={{ agencyid }}" class="button button-outlined-white left">Discover more</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}#}
        {% if agency_assets %}
        <div class="container">
            <div id="credentials" class="row grey-border-top align-left pad-100 relative">
                <h2 class="h1 uppercase align-left">Credentials</h2>
                {% for row in agency_assets|batch(4) %}
                <div class="row">
                    {% for asset in row %}
                        <a href="{{ asset.asset.url }}" target="_blank">
                            <div class="asset-wrap quarter left">
                                <div class="asset">
                                    <div class="asset-icon">
                                        <img src="{{ theme.uri }}/assets/img/icons/file-icon.svg" alt="File Icon"/>
                                    </div>
                                    <h3 class="h4 uppercase asset-name">{{ asset.name }}</h3>
                                    <p class="asset-description">{{ asset.description }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
	</div>
{% endblock %}
