{% extends 'base.twig' %}
{% block content %}
<div class="background-dark-blue desktop pad-30">
	<div class="container">
		<ul class="ui-inline-list align-center uppercase white">
			{% include 'partials/breadcrumbs.twig' with {'type': 'agency'} %}
		</ul>
	</div>
</div>
<div class="first-wrap relative">
	<div class="container">
		<div class="two-thirds left inline align-left">
			<div class="main-content">
				{% if post.post_type == 'press-news' %}
					{% if post.show_hero_image %}
						{% if post.get_field('hero_image').sizes.news_image %}
							<img class="main-hero" alt="{% if post.get_field('hero_image').alt %}{{ post.get_field('hero_image').alt }}{% else %}{{ post.title }}{% endif %}" title="{{ post.get_field('hero_image').title }}" src="{{ post.get_field('hero_image').sizes.news_image }}">
						{% elseif post.get_field('hero_image').url %}
							<img class="main-hero" alt="{{ post.get_field('hero_image').alt }}" title="{{ post.get_field('hero_image').title }}" src="{{ post.get_field('hero_image').url }}">
						{% endif %}
					{% endif %}
				{% else %}
					{% if post.get_field('hero_image').sizes.news_image %}
						<img class="main-hero" alt="{% if post.get_field('hero_image').alt %}{{ post.get_field('hero_image').alt }}{% else %}{{ post.title }}{% endif %}" title="{{ post.get_field('hero_image').title }}" src="{{ post.get_field('hero_image').sizes.news_image }}">
					{% elseif post.get_field('hero_image').url %}
						<img class="main-hero" alt="{{ post.get_field('hero_image').alt }}" title="{{ post.get_field('hero_image').title }}" src="{{ post.get_field('hero_image').url }}">
					{% endif %}
				{% endif %}
				<div class="text-content">
					<h1 class="h1 uppercase bold">{{ post.title }}</h1>
					<p class="bold">{{ post.sub_title }}</p>
					{% if post.event_date %}
						<p class="bold">Event date: {{ post.get_field('event_start_date') }} - {{ post.get_field('event_end_date') }}</p>
					{% endif %}
					{% if post.event_location %}
						<p class="bold">Event location: {{ post.get_field('event_location').address }}</p>
					{% endif %}
					{% for item in post.get_field('content_block') %}
						{% if item.content_type == 'text' %}
					        <div class="block text-block">
					            {{item.text|wpautop}}
					        </div>
				        {% elseif item.content_type == 'image' %}
				        	<div class="block image-block">
					            <img alt="{{item.image.title}}" title="{{item.image.title}}" src="{{item.image.url}}">
					        </div>
				        {% elseif item.content_type == 'video' %}
				        	<div class="block video-block">
				        		{{ item.video_url }}
					        </div>
				        {% endif %}
				    {% endfor %}
				</div>
			</div>
			<div class="main-follow-ups">
				<ul class="social-list ui-inline-list">
					<li class="bold">
						Share:
					</li>
	    			<li>
	    				<a href="http://www.facebook.com/sharer.php?u={{ post.link }}" target="_blank">
	    					<svg class="icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
							</svg>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="https://twitter.com/intent/tweet?url={{ post.link }}" target="_blank">
	    					<svg class="icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
							</svg>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.link }}&title={{ post.title }}&summary={{ post.sub_title }}&source=" target="_blank">
	    					<svg class="icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
							</svg>
	    				</a>
	    			</li>
	    		</ul>
	    		{% if post.tags %}
		    		<div class="tags-list">
		    			<ul class="ui-inline-list">
		    				<li class="bold">
								Tags:
							</li>
							{% for tag in post.tags %}
			    				<li class="tag">
			    					<a href="/news/#{{ tag.slug }}">{{ tag.name }}</a>
			    				</li>
			    			{% endfor %}
		    			</ul>
		    		</div>
		    	{% endif %}
			</div>
		</div>
		<div class="third left inline align-right sidebar-blocks">
			<div class="side-blocks">
				{% if relatedPosts %}
					<div class="side-block related-articles">
						<h4 class="block-header">Related articles</h4>
						<ul>
							{% for item in relatedPosts %}
								<li>
									<a href="{{ item.link }}">&rsaquo; {{ item.post_title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="second-wrap relative">
	<div class="container">
		<div id="news" class="row pad-100">
			<h2 class="h2 uppercase bold">Latest News</h2>
			<ul class="agency-news ui-inline-list">
                <div class="row-wrap">
				{% for item in news %}
					<li class="news-item third left">
						<div style="background-image: url('{{ item.get_field('hero_image').url }}')" alt="{{ item.hero_image.title }}" class="news-img background-cover"></div>
						<p class="bold">{{ item.title }}</p>
						<p>{{ item.sub_title }}</p>
						<a href="{{ item.link }}" class="inline-underline">Read more</a>
					</li>
                {% if loop.index is divisibleby(3) %}
                </div>
                <div class="row-wrap">
                {% endif %}
				{% endfor %}
                </div>
			</ul>
		</div>
	</div>

	{% if post.post_type == 'press-news' %}
		<div class="container align-center pad-bottom-80">
			<a href="/press-room/press-releases/" class="light inline inline-underline">View all Press Releases</a>
		</div>
	{% else %}
		<div class="container align-center pad-bottom-80">
			<a href="/news/" class="light inline inline-underline">View all News</a>
		</div>
	{% endif %}
</div>
{% endblock %}
