{# sitemap.twig - This is the default template, it will be rendered when page.php is called with all the latest posts#}
{% extends 'base.twig' %}
{% block content %}
	<div class="sitemap container">
		<br>
		<h1 class="uppercase">{{ post.title }}</h1>
		{{ sitemap }}
	</div>
	{#}
	<style>.testimage {width: 25%; height: auto; float: left;}</style>
	{% for item in clientstest %}
	{% set logo = TimberImage(item.client_logo) %}
	    <div class="testimage"><img src="{{ logo.src }}"></div>
	{% endfor %} #}

{% endblock %}
