{% extends 'base.twig' %}
{% block content %}
	<div class="full background-dark-blue">
		<div class="container">
			{% include 'partials/breadcrumbs.twig' with {'classes': 'pad-30-force'} %}
		</div>
	</div>
	<div class="full download-wrapper pad-100">
		<div class="container">
			<h1 class="h1 uppercase bold">
				{{ post.title }}
			</h1>
			<div class="two-thirds">
				{{ post.body_copy|wpautop }}
			</div>
			{% if speakers %}
			<div class="agency-news">
				{% for row in speakers|batch(4) %}
					<div class="row-wrap">
						{% for s in row %}
							{% set event = TimberPost(s.associated_event) %}
							<div class="download quarter left gutter-right">
								<a href="{{ event.link }}">
									<div style="background-image: url('{{ s.get_field('speaker_image').sizes.head_shot }}')" alt="{{ s.get_field('speaker_image').title }}" class="news-img speaker-img background-cover"></div>
								</a>
								<p class="bold">{{ s.speaker_name }}</p>
								{% if s.speaker_excerpt %}
								<p>{{ s.speaker_excerpt }}</p>
								{% endif %}
								{% if s.speaker_company %}
								<p>{{ s.speaker_company }}</p>
								{% endif %}
								<a href="{{ event.link }}" class="inline-underline">View the event</a>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			{% else %}
			<p class="bold">We couldn't find any speakers.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
