
{% extends 'base.twig' %}
{% block content %}
	<style>
   .video-content{
      background-color: #00548B;
      max-width: 940px;
      min-height: 316px;
      margin-bottom: 58px;
    }

       .video-content tr{
      padding-left: 20px !important;
    }

    .video-name{
    font-family: oswald;
    text-align: left;
    font-size: 31px;
    font-weight: 600;
        margin-bottom: 7px;
        margin-right: 20px;

    }

    .video-des{
      margin-right: 20px;
      font-family: Acumin Pro;
      text-align: left;
    letter-spacing: 0.2;
    font-weight: 400;
    }

     .video-des p{
      font-family: Acumin Pro;
      text-align: left;
    letter-spacing: 0.2;
      font-weight: 400;
    line-height: 1.7;
    }

     @media screen and (max-width: 768px) {
   .video-des .video-name th{
    padding-right: 10px;
    padding-left: 10px;}
    }

     @media screen and (max-width: 768px) {
   .video-name{
    padding-top: 10px;}
    }

    @media screen and (max-width: 768px) {
   .video-des{
    margin-right: 10px;}
    }

     @media screen and (max-width: 768px) {
     .video-desktop{
      display: none;
     }
    }

    @media screen and (min-width: 768px) {
     .video-mobile{
      display: none;
     }
    }

     @media screen and (max-width: 768px) {
     .video-hero-desktop{
      display: none;
     }
    }

    @media screen and (min-width: 768px) {
     .video-hero-mobile{
      display: none;
     }
    }


    .video-mobile{
      padding-left: 10px;
      padding-right: 10px;
    }
    </style>
	<div class="section background-cover background-blue video-hero-desktop" style="height: 300px; background-image: url('{{post.get_field('video_hero_desktop').url}}');"><h1 class="white center" style="text-transform: uppercase;padding-top: 120px;font-weight: 600;font-size: 42px;letter-spacing: 0.1; text-shadow: 2px 1px 1px #000000;"><center>{{post.get_field('video_hero_text')}}</center></h1></div>

	<div class="section background-cover background-blue video-hero-mobile" style="height: 300px; background-image: url('{{post.get_field('video_hero_mobile').url}}');"><h1 class="white center" style="text-transform: uppercase;padding-top: 120px;font-weight: 600;font-size: 42px;letter-spacing: 0.1; text-shadow: 2px 1px 1px #000000;"><center>{{post.get_field('video_hero_text')}}</center></h1></div>
<div class="generic-page container">
	

      {% for section in post.get_field('video_repeater')%}
      
     <center> 

      <div class="video-content">
      <br>

      <div class="video-desktop">
       <table>

  		<tr>

   		 <th style="width: 56%">
   		 	  <iframe width="478" height="270" src="{{ section.add_video | extractSRC }}?&modestbranding=1" frameborder="0"  modestbranding=1 allowfullscreen></iframe> 

   		 </th>
   		 <th> <h1 class="white video-name">  {{ section.video_name_text}}</h1>

       <h2 class="white video-des" > {{ section.video_description}} </h2> </th> 
 	   </tr>

        </table> </div>

        <div class="video-mobile">
       <table>

  		<tr>

   		 <th>
   		 	  <iframe width="478" height="270" src="{{ section.add_video | extractSRC }}?&modestbranding=1" frameborder="0"  modestbranding=1 allowfullscreen></iframe> 
   		 </th>

   		 </tr>

   		 <tr>

   		 <th> <center><h1 class="white video-name">  {{ section.video_name_text}}</h1>

       <h2 class="white video-des" > {{ section.video_description}} </h2> </center></th> 
 	   </tr>

        </table> </div>



      </div>

      </center>

      {% endfor %}


	</div>
{% endblock %}

