{% extends 'base.twig' %}
{% block content %}
<div class="section dashboard">
    <div class="background-blue header">
        <h1 class="align-center bold title uppercase margin-bottom-10 margin-top-30 white">
            Who is who
        </h1>
        <h4 class="align-center sub-title white">
            Click on a location below to view agency page
        </h4>
    </div>
    
    <div id="agency-map" class="agency-map">
        <div class="map-zoom-out-icon js-zoom-out">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#zoom-out-icon"></use>
            </svg>
        </div>
    </div>  
    
    <div class="container">
        <div class="button-search" href="#">Search</div>
        
        {#{% include 'partials/breadcrumbs.twig' %}#}
        <div class="container-constrained align-center">
{#                <h1 class="h1 uppercase bold">{{ page.hero }}</h1>
                <p class="intro-copy">{{ page.intro_text }}</p>#}
            <div class="input-wrap network-search js-network-search">
                <input type="text" placeholder="Search for a brand, agency, location, individual or role" data-bind="textInput: searchTerm"><span class="search-btn"><img src="{{ theme.uri }}/assets/img/icons/search-icon.png" alt="Magnifying Glass" /></span>
            </div>
        </div>
    </div>
        
    <div class="network-search-results js-network-search-results" data-bind="css: { 'isActive': searchTerm().length > 2 }">
        <div class="container" data-bind="if: peopleResults().length > 0">
            <div class="container-constrained">
                <div class="half left members-list pad-50">
                    <h2 class="h4 uppercase bold results-list-title">Members</h2>
                    <ul class="results-list" data-bind="foreach: peopleResults">
                        <li><a data-bind="attr: { href: link }, text: name, event: { mouseover: $parent.changePersonImage }"></a></li>
                    </ul>
                </div>
                <div class="half left members-image background-cover" data-bind="style: { backgroundImage: 'url(\'' + currentPersonHero() + '\')' }, css: { 'background-grey': currentPersonName }">
                    <div class="person-details">
						<!-- ko if: currentPersonAgencyLogo -->
                    	<img class="person-agency-logo" data-bind="attr: { src: currentPersonAgencyLogo }"/>
						<!-- /ko -->
                        <h3 class="h2 uppercase bold person-name" data-bind="text: currentPersonName"></h3>
                        <p data-bind="text: currentPersonRole" class="margin-bottom-10"></p>
						<p data-bind="text: 'Tel.: ' + currentPersonPhone(), css: { 'hide': !currentPersonPhone() }" class="no-margin-bottom"></p>
						<p data-bind="text: 'Email: ' + currentPersonEmail(), css: { 'hide': !currentPersonPhone() }" class="margin-bottom-10"></p>
						<p data-bind="css: { 'hide': currentPersonRelated().length == 0 }" class="no-margin-bottom bold">Related:</p>
						<ul data-bind="foreach: currentPersonRelated, css: { 'hide': !currentPersonRelated() }" class="full ui-list height-auto">
							<li class="half left margin-bottom-5">
								<a data-bind="attr: { href: link }, text: name" class="light inline-underline"></a>
							</li>
						</ul>
                    </div>
                </div>
            </div>
        </div>
		<!-- ko if: agencyResults().length > 0 || countryResults().length > 0 -->
        <div class="sub-search background-grey">
            <div class="container">
                <div class="container-constrained">
					<!-- ko if: agencyResults().length > 0 -->
                    <div class="third left agencies-list pad-50">
                        <h2 class="h4 uppercase bold results-list-title">Agencies</h2>
                        <ul class="results-list" data-bind="foreach: agencyResults">
                            <li><a data-bind="attr: { href: link }, text: name"></a></li>
                        </ul>
                        <div class="empty-notice" data-bind="if: agencyResults().length == 0">---</div>
                    </div>
					<!-- /ko -->
					<!-- ko if: countryResults().length > 0 -->
                    <div class="third left locations-list pad-50">
                        <h2 class="h4 uppercase bold results-list-title">Locations</h2>
                        <ul class="results-list" data-bind="foreach: countryResults">
                            <li><a data-bind="attr: { href: agencyLink }, text: name"></a></li>
                        </ul>
                        <div class="empty-notice" data-bind="if: countryResults().length == 0">---</div>
                    </div>
					<!-- /ko -->
                </div>
            </div>
        </div>
		<!-- /ko -->
    </div>
</div>
{% endblock %}
