{% extends 'base.twig' %}
{% block content %}
<div class="section background-cover background-blue" {% if page.get_field('page_hero') %} style="background-image: url('{{ page.get_field('page_hero').url }}');" {% endif %}>
	<div class="container" style="display: none;">
		{% include 'partials/breadcrumbs.twig' %}
		<div class="container-constrained align-center work-hero region-hero">
			<h1 class="h1 uppercase bold">{{ page.hero }}</h1>
			<p class="sub-header">{{ page.sub_header }}</p>
			<p class="intro-copy">{{ page.intro_text }}</p>
			<a href="/network/" class="light inline inline-underline">Discover more</a>
		</div>
	</div>
</div>
<div class="section work-menu-bg-color work-filters pad-30 full">
	<ul class="ui-inline-list align-center uppercase white navigation">
		<li class="filter-btn">
    		<a>
    			<span class="inline">Filter</span>
    			<div class="arrow-down inline">
                    <svg viewBox="0 0 595.3 595.3">
                        <g>
                            <polygon points="489,171.9 297.6,363.2 106.3,171.9 36.3,171.9 297.6,433.2 559,171.9"></polygon>
                        </g>
                    </svg>
                </div>
    		</a>
    	</li>
		<li class="isotope-filter" id="all">
			<a class="white inline-underline-middle isActive">All</a>
		</li>

		{% for term in workterms %}
			<li class="isotope-filter" id="{{ term.slug }}"><a class="white inline-underline-middle">{{ term.name }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="section pad-50">




	<div class="container">
		<div class="isotope-wrapper">




			{% for post in workPosts %}


			{% if loop.index%6==1 %}
			
				<a href="{{ post.link }}" class="isotope-post-wrapper">
					<div class="neil background-cover isotope-post work {{ post.terms }}" style="background-image: url('{% if post.get_field('listing_image').sizes.isotope_banner_image %}{{ post.get_field('listing_image').sizes.isotope_banner_image }}{% else %}{{ post.get_field('listing_image').url }}{% endif %}'); height:  320px">
						
						<div class="work-agency">
						
						 {% if post.agency_name is not empty or post.agency_name_copy is not empty %}
						<h5 class="white work-agency-title">{{post.get_field('agency_name')}} / {{post.get_field('agency_name_copy')}}</h5> 
						{% endif %}
						
						<h2 class="h4 white work-title">{{ post.name }}</h2></div>
						{# <span class="white uppercase work-title work-title-row">{{ post.get_field('introductory_text') | truncate(25) }}</span> #}
						<div class="overlay align-center">
							<div class="overlay-wrap">
								{% if post.clientlogo %}
									<span class="client-logo hidden-vis">
										{{ post.clientlogo.url | extractsvg }}
									</span>
								{% endif %}
								<span class="inline-underline white hidden-vis">Find out more</span>
							</div>
						</div>
					</div>
				</a>


				{% elseif loop.index%6==2 %}

					<a href="{{ post.link }}" class="isotope-post-wrapper">
					<div class="naruto background-cover isotope-post work {{ post.terms }}" style="background-image: url('{% if post.get_field('listing_image').sizes.isotope_banner_image %}{{ post.get_field('listing_image').sizes.isotope_banner_image }}{% else %}{{ post.get_field('listing_image').url }}{% endif %}'); height:  400px">
						<div class="work-agency">

						 {% if post.agency_name is not empty or post.agency_name_copy is not empty %}
						<h5 class="white work-agency-title">{{post.get_field('agency_name')}} / {{post.get_field('agency_name_copy')}}</h5> 
						{% endif %}
						<h2 class="h4 white work-title">{{ post.name }}</h2></div>
						{# <span class="white uppercase work-title work-title-row">{{ post.get_field('introductory_text') | truncate(25) }}</span> #}
						<div class="overlay align-center">
							<div class="overlay-wrap">
								{% if post.clientlogo %}
									<span class="client-logo hidden-vis">
										{{ post.clientlogo.url | extractsvg }}
									</span>
								{% endif %}
								<span class="inline-underline white hidden-vis">Find out more</span>
							</div>
						</div>
					</div>
				</a>


				{% elseif loop.index%6==3 %}

				<a href="{{ post.link }}" class="isotope-post-wrapper">
					<div class="sakura background-cover isotope-post work {{ post.terms }}" style="background-image: url('{% if post.get_field('listing_image').sizes.isotope_banner_image %}{{ post.get_field('listing_image').sizes.isotope_banner_image }}{% else %}{{ post.get_field('listing_image').url }}{% endif %}'); height:  480px">
						<div class="work-agency">
						
						 {% if post.agency_name is not empty or post.agency_name_copy is not empty %}
						<h5 class="white work-agency-title">{{post.get_field('agency_name')}} / {{post.get_field('agency_name_copy')}}</h5> 
						{% endif %}
					
						<h2 class="h4 white work-title">{{ post.name }}</h2></div>
						{#<span class="white uppercase work-title work-title-row">{{ post.get_field('introductory_text') | truncate(25) }}</span>#}
						<div class="overlay align-center">
							<div class="overlay-wrap">
								{% if post.clientlogo %}
									<span class="client-logo hidden-vis">
										{{ post.clientlogo.url | extractsvg }}
									</span>
								{% endif %}
								<span class="inline-underline white hidden-vis">Find out more</span>
							</div>
						</div>
					</div>
				</a>

				{% elseif loop.index%6==4 %}

				<a href="{{ post.link }}" class="isotope-post-wrapper">
					<div class="kakashi background-cover isotope-post work {{ post.terms }}" style="background-image: url('{% if post.get_field('banner_image').sizes.isotope_banner_image %}{{ post.get_field('listing_image').sizes.isotope_banner_image }}{% else %}{{ post.get_field('listing_image').url }}{% endif %}'); height:  480px">
						<div class="work-agency">

						 {% if post.agency_name is not empty or post.agency_name_copy is not empty %}
						<h5 class="white work-agency-title">{{post.get_field('agency_name')}} / {{post.get_field('agency_name_copy')}}</h5> 
						{% endif %}

						<h2 class="h4 white work-title">{{ post.name }}</h2></div>
						{#<span class="white uppercase work-title work-title-row">{{ post.get_field('introductory_text') | truncate(25) }}</span>#}
						<div class="overlay align-center">
							<div class="overlay-wrap">
								{% if post.clientlogo %}
									<span class="client-logo hidden-vis">
										{{ post.clientlogo.url | extractsvg }}
									</span>
								{% endif %}
								<span class="inline-underline white hidden-vis">Find out more</span>
							</div>
						</div>
					</div>
				</a>

				{% elseif loop.index%6==5 %}

					<a href="{{ post.link }}" class="isotope-post-wrapper">
					<div class="leo background-cover isotope-post work {{ post.terms }}" style="background-image: url('{% if post.get_field('listing_image').sizes.isotope_banner_image %}{{ post.get_field('listing_image').sizes.isotope_banner_image }}{% else %}{{ post.get_field('listing_image').url }}{% endif %}'); height:  400px">
						<div class="work-agency">

						 {% if post.agency_name is not empty or post.agency_name_copy is not empty %}
						<h5 class="white work-agency-title">{{post.get_field('agency_name')}} / {{post.get_field('agency_name_copy')}}</h5> 
						{% endif %}
						<h2 class="h4 white work-title">{{ post.name }}</h2></div>
						{#<span class="white uppercase work-title work-title-row">{{ post.get_field('introductory_text') | truncate(25) }}</span>#}
						<div class="overlay align-center">
							<div class="overlay-wrap">
								{% if post.clientlogo %}
									<span class="client-logo hidden-vis">
										{{ post.clientlogo.url | extractsvg }}
									</span>
								{% endif %}
								<span class="inline-underline white hidden-vis">Find out more</span>
							</div>
						</div>
					</div>
				</a>

				{% elseif loop.index%6==0 %}

				<a href="{{ post.link }}" class="isotope-post-wrapper">
					<div class="beaus background-cover isotope-post work {{ post.terms }}" style="background-image: url('{% if post.get_field('listing_image').sizes.isotope_banner_image %}{{ post.get_field('listing_image').sizes.isotope_banner_image }}{% else %}{{ post.get_field('listing_image').url }}{% endif %}'); height:  320px">
						<div class="work-agency">

						 {% if post.agency_name is not empty or post.agency_name_copy is not empty %}
						<h5 class="white work-agency-title">{{post.get_field('agency_name')}} / {{post.get_field('agency_name_copy')}}</h5> 
						{% endif %}

						<h2 class="h4 white work-title">{{ post.name }}</h2></div>
						{#<span class="white uppercase work-title work-title-row">{{ post.get_field('introductory_text') | truncate(25) }}</span>#}
						<div class="overlay align-center">
							<div class="overlay-wrap">
								{% if post.clientlogo %}
									<span class="client-logo hidden-vis">
										{{ post.clientlogo.url | extractsvg }}
									</span>
								{% endif %}
								<span class="inline-underline white hidden-vis">Find out more</span>
							</div>
						</div>
					</div>
				</a>

				{% endif %}




			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
