html, body {
	height: 100%;
	width: 100%;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

body {
	font-family: $base-font-family;
	color: $dark-grey;
	counter-reset: circlelist;
    padding-top: 80px; //this is the height of the navigation
}

// Contain images and iframe to their parent, rarely do we want them escaping their parent.
img, iframe {
	max-width: 100%;
}

// This gets around width and height attributes on images.
img {
	width: auto;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
