.standard-input {
	font-family: $header-font-family;
	background: $light-grey;
	border: 1px solid transparent;
	padding: 10px;
	text-transform: uppercase;
	@include font-size(14px);
	outline: none;
	border-radius: 3px;
	transition: all 0.35s;

	&:focus {
		border: 1px solid $dark-grey;
	}

	&::placeholder {
		color: $mid-grey;
	}
}

.standard-submit {
	outline: none;
}

.dynamic-forms{
	.form-selector{
		width: 100%;
	    font-family: $header-font-family;
	    background: #f6f6f6;
	    border: 1px solid transparent;
	    padding: 10px;
	    text-transform: uppercase;
	    font-size: 0.875rem;
	    line-height: 1.71429;
	    outline: none;
	    border-radius: 3px;
	    transition: all 0.35s;
	    margin-bottom: 20px;
	    height: 50px;
	}
	.gform_wrapper{
		opacity: 0;
		height: 0px;
		max-height: 1200px;
		overflow: hidden;
		transition: all 1.5s $easeInOutCubic;
		&.isActive{
			height: auto;
			opacity: 1;
		}
	}
}


@media screen and (max-width: 480px) {
	.dynamic-forms {
		.form-selector {
			margin-bottom: 0;
		}
	}
}