h1,h2,h3,h4,p,a,li,blockquote,form,span {
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4 {
	font-family: $header-font-family;
    color: $dark-grey;
    transition: all 0.35s $easeInOutCubic;
}

h1, .h1 {
    @include font-size(46px);
    font-weight: 400;
    margin-bottom: 2.5rem;
    line-height: 1.2em;
    letter-spacing: 2px;
}

h2, .h2 {
    @include font-size(30px);
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 1.2em;
    letter-spacing: 2px;
}

h3, .h3 {
    @include font-size(22px);
    font-weight: 400;
    margin-bottom: 1.375rem;
    line-height: 1.2em;
    letter-spacing: 2px;
}

h4, .h4 {
    @include font-size(18px);
    font-weight: 400;
    margin-bottom: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding-bottom: 2px;
  border-bottom: 1px solid inherit;
  cursor: pointer;
}

p {
    margin-bottom: 1.5rem;
}

div,
p,
li {
    @include font-size($base-font-size);
    font-weight: 300;
}

.no-underline{
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  // h1, .h1 {
  //   font-size: 30px!important;
  //   font-size: 1.875rem!important;
  //   line-height: 1.2em!important;
  // }

  .h1 {
      font-size: 30px;
      font-size: 1.875rem;
  }
}
