//Body classes
.europe-africa-the-middle-east {
	.social-list li:hover a {
		.icon{
			fill: $orange;
		}
	}
	.client-logo {
		&:hover {
			svg {
				path, elipse, rectangle, polygon {
					fill: $orange;
				}
			}
		}
	}
	.banner-bar, .region-background, .slide-wrapper {
		@include linear-gradient($orange-highlight, $orange, $orange-highlight);
	}
}

.americas {
	.social-list li:hover a {
		.icon{
			fill: $blue-highlight;
		}
	}
	.client-logo {
		&:hover {
			svg {
				path, elipse, rectangle, polygon {
					fill: $blue-highlight;
				}
			}
		}
	}
	.banner-bar, .region-background, .slide-wrapper {
		@include linear-gradient($blue-highlight, $blue, $blue-highlight);
	}
}

.asia-pacific {
	.social-list li:hover a {
		.icon{
			fill: $green;
		}
	}
	.client-logo {
		&:hover {
			svg {
				path, elipse, rectangle, polygon {
					fill: $green;
				}
			}
		}
	}
	.banner-bar, .region-background, .slide-wrapper {
		@include linear-gradient($green-highlight, $green, $green-highlight);
	}
}
