.benefits-videos {
	height: auto;
	overflow: auto;
	margin: 0 0 60px 0;

	ul {
		padding-left: 0;
	}
}

.benefit-video {
	margin: 20px 0;
	list-style-type: none;
	cursor: pointer;

	.video-wrap {
		margin: 0;
		background-color: $white;
	}
}

.news-section .benefits-videos {
	margin-bottom: 0;
}
