.schedule-table-tabs {
    background: $light-grey;
    padding-top: 6px;

    .table-tab {
        display: inline-block;
        text-align: center;
        padding: 20px 25px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;

        &:hover, &.active {
            background: $white;
        }
    }
}

.schedule-table-wrapper {
	overflow: hidden;
	position: relative;
	width:100%;
	height: 600px;

	table {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: all 0.35s $easeInOutCubic;
	}

	.active {
		visibility: visible;
		opacity: 1;
	}
}

.schedule-table {
    width: 100%;
	border: none;

    tr {
		font-family: $base-font-family;
		display: block;
		padding: 1% 1%;
	}
	td {
		padding: 2% 5%;
		width: 10%;
		vertical-align: middle;

		span {
			display: block;
		}

		strong {
			text-transform: uppercase;
		}
	}

    .table-details {
        font-size: 1rem;
		font-weight: 600;
		width: 90%;
		color: $dark-grey;
    }
}
