.copyright {
	padding: 0;
	margin: 0;
        color: #95989A;
        font-size: 13px;
}

.footer-main {
	border-top: 10px solid $light-grey;

		h2.footer-main {
		text-align: center;

		h2 {
			margin-bottom: 0;
			&:hover {
				color: $blue;
			}
		}
	}

	.standard-input {
		margin-bottom: 20px;
	}

    .contact-link {
        &:hover {

            h2, .h2 {
                color: $blue;
            }
        }
    }
}

.footer-form {
	max-width: 250px;
	margin: 0 auto 0 auto;
}

@media screen and (max-width: 480px) {
	.footer-bottom {
		text-align: center;

		ul {
			text-align: center;
		}
	}
}
