.logo {
	text-align: left;
	width: auto;
    height: 40px;

    a {
        display: block;
    }
    img {
        height: 100%;
    }
}
.mobile-icon {
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 5px;
}

.hamburger {
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
	  width: 100%;
	  height: 100%;

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #126a9c;
      border-radius: 20px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
	  transform-origin: left center;
    }

    span:nth-child(1) {
      top: 5px;
    }

    span:nth-child(2) {
      top: 15px;
    }

    span:nth-child(3) {
      top: 25px;
    }

    &.open span:nth-child(1) {
      transform: rotate(45deg);
      top: 9px;
      left: 4px;
    }

    &.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg);
      top: 30px;
      left: 4px;
    }
}

.amin-logo {
    height: 40px;
    max-width: 175px;
}
