/**
 * Login form stlyes on the login page
 */

#loginform {
    max-width: 400px;
    color: $white;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 20px;

    input[type="text"], input[type="password"] {
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 15px 15px;
        border-radius: 5px;
        background: rgba(255,255,255,0.5);
        width: 100%;
        display: inline-block;
        font-family: $header-font-family;
        text-transform: uppercase;
        color: $dark-grey;
    }

    input[type="submit"] {
        display: inline-block;
        @extend .button;
        @extend .button-outlined-white;
    }
}

.reminder-text {
    font-size: 14px;
    padding: 0 10px;
}

.login-username, .login-password, .login-remember {
    label {
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: left;
    }
}

.login-message {
    padding: 10px;
    max-width: 400px;
    background: $white;
    margin: 0 auto 20px auto;

    &.success {
        background: $success-green;
        color: $white;
    }

    &.error {
        background: $error-red;
        color: $white;
    }
}
