.network-what-it-takes{
    text-align: center;
    .container {
        margin-bottom: 40px;
    }
    h2{
        width: 60%;
        margin: 0px auto 40px auto;
    }
    p{
        width: 60%;
        margin: 0px auto;
    }
}

.network-features {
	max-width: columns(8);
	margin: 0 auto 0 auto;
	li {
		padding: 5px 10px;
		font-weight: 400;
		@include font-size(18px);
	}
}

.network-map {
    width: 100%;
    height: 90vh;
}

.network-map-column {
    height: 100%;
    position: relative;
    transition: all 0.35s $easeInOutCubic;

    .column-content {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        transition: all 0.35s $easeInOutCubic;
        width: 100%;
    }

    .column-title {
        transition: all 0.35s $easeInOutCubic;
        margin-bottom: 0;
    }

    .network-stats {
        overflow: hidden;
        height: 0;
        transition: all 0.35s $easeInOutCubic 0.35s;
    }

    .title-reveal {
        font-weight: 300;
        display: inline-block;
        width: 0;
        overflow: hidden;
        vertical-align: middle;
        position: relative;
        top: -3px;
        color: $white;
        transition: all 0.35s $easeInOutCubic;
    }

    .network-btn {
        opacity: 0;
        transition: all 0.35s $easeInOutCubic 0.50s;
    }
    .inline-underline {
        &:before {
        	transition: all 0.35s $easeInOutCubic 0.75s;
        }
    }
    &:hover {
        background: rgba(0,0,0,0.5);

        .column-title {
            color: $white;
        }
        .title-reveal {
            width: 125px;
        }
        .network-stats {
            height: 100px;
        }
        .network-btn {
            opacity: 1;
        }
        .inline-underline {
            &:before {
                width: 100%;
            }
        }
    }

    &.americas {
        &:hover {
            background: $blue-opaque;
        }
    }

    &.emea {
        &:hover {
            background: $orange-opaque;
        }
    }

    &.apac {
        &:hover {
            background: $green-opaque;
        }
    }
}

.svg-map {
    width: 1920px;
    //height: 100%;
}

@media screen and (max-width: 768px) {
    .min-height-700 {
        padding-bottom: 60px;
        min-height: auto;
    }
    .network-features {
        max-width: columns(10);
    }

    .network-map {
        height: auto;
        overflow: auto;
    }

    .network-map-column {
        height: auto;
        width: 100%;

        .column-content {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            padding: 50px 0;
        }
        .title-reveal {
            width: auto;
        }
        h2 {
            color: $white;
        }
        .network-stats {
            height: auto;
        }
        .network-btn {
            opacity: 1;
        }
        &.americas {
            .column-content {
                background-color: $blue-opaque;
            }
            &:hover {
                background-color: inherit;
            }
        }
        &.emea {
            .column-content {
                background-color: $orange-opaque;
            }
            &:hover {
                background-color: inherit;
            }
        }
        &.apac {
            .column-content {
                background-color: $green-opaque;
            }
            &:hover {
                background-color: inherit;
            }
        }
        &:hover {
            .network-stats {
                height: auto;
            }
            .title-reveal {
                width: auto;
            }
        }
    }
}

.recruiting-modal {
	background-color: $white;
	border-top: 6px solid $black;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
	padding: 70px 40px 60px 40px;
	position: fixed;
	width: 100%;
	max-width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(100vh, -50%);
	z-index: 1000;
	transition: transform 0.5s $jumpCubic;

	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}
	&.isActive {
		transform: translate(-50%, -50%);
	}
}
