.main-agenda {
	padding-bottom:20px;
}
.single-post, .single-event, .single-press-news{
	ul{
		&.breadcrumb{
			&.ui-inline-list{
				padding: 0px 10px;
			}
		}
	}
	.first-wrap{
		background: $light-grey;
		.two-thirds{
			background: $white;
			.main-content{
				.main-hero{
					width: 100%;
					height: auto;
				}
				.text-content{
					h1{
						margin-top: 50px;
						color: $dark-blue;
					}
				}
                .event-subtitle {
                    @include font-size(26px, 1.5);
                }
			}
            .event-text-content {
                margin: 0;
                padding: 0 40px 0px 40px;

                .h1{
                    margin-top: 50px;
                    color: $dark-blue;
                }
            }
			.main-follow-ups{
				margin: 0px 40px;
			}
			.block{
				margin: 20px 0px;
				&.video-block{
					position: relative;
					padding-bottom: 56.25%;
					height: 0;
					overflow: hidden;
					max-width: 100%;
					height: auto;
					iframe, object, embed{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
			}

            .social-list {
                margin-bottom: 10px;
            }
		}
		.side-blocks{
			margin-top: 40px;
			width: 80%;
			float: right;
			text-align: left;
			.side-block{
				padding: 40px;
				width: 100%;
				float: left;
				background: $white;
				margin-bottom: 35px;
				.block-header{
					text-align: center;
					width: 100%;
				}
				&.related-articles{
                    padding: 20px;
					.block-header {
						font-size: 15px;
						font-family: $base-font-family;
						font-style: normal;
						font-weight: 600;
					}
					ul {
						li {
							list-style-type: none;
                            padding: 5px 0;
							a {
								font-weight: normal;
                                opacity: 0.6;
                                transition: all 0.35s ease;

                                &:hover {
                                    opacity: 1;
                                }
							}
						}
					}
				}
				&.upcoming-events{
					text-align: center;
					border: 5px solid $blue;
					.block-header{
						text-transform: uppercase;
						margin-bottom: 0px;
						font-family: $header-font-family;
					}
					h5{
						font-size: 16px;
						font-family: $base-font-family;
						font-weight: 400;
					}
					p{
						font-family: $base-font-family;
						font-weight: 100;
						margin-top: 20px;
					}
				}
				&.join-network{
					text-align: center;
					.block-header{
						color: $orange;
						font-family: $base-font-family;
						span{
							width: 100%;
							float: left;
							font-weight: 18px;
							&.big{
								font-size: 46px;
								text-transform: uppercase;
								font-weight: 600;
								font-family: $header-font-family;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
    //this will overwite the third class that is on it
    .sidebar-blocks {
        width: 100%;
    }

	.single-post .first-wrap .side-blocks {
		width: 100%;

        .side-block {
            width: 45%;

            &:first-child {
                width: 50%;
                margin-right: 5%;
            }
        }
	}
	.news-region-filter{
		display: none;
	}

    .single-event .first-wrap .single-event-sidebar {
        .side-blocks {
            width: 100%;

            .side-block {
                width: 45%;

                &:nth-child(odd) {
                    width: 50%;
                    margin-right: 5%;
                }
            }
        }
    }

}

@media screen and (max-width: 570px) {
    .single-post .first-wrap .side-blocks {
        .side-block {
            width: 100%;

            &:first-child {
                width: 100%;
                margin-right: 0;
            }
        }
	}

    .single-event .first-wrap .single-event-sidebar .side-blocks {
        .side-block {
            width: 100%;

            &:nth-child(odd) {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}
