.press-map {
	height: 100%;
	max-height: 600px;
}

.network-map-column.press-map-column {
	&:hover {
		.network-stats {
			height: 130px;
			width: 75%;
			margin: 20px auto;
		}
		.title-reveal {
			width: 100px;
		}
	}
}

.agency-news .speaker-img {
	height: auto;
	padding-bottom: 100%;
}

.view-all {
	font-size: 16px;
	line-height: 1.6rem;
	text-transform: none;
	font-family: $base-font-family;
	vertical-align: top;
	padding: 0;
	letter-spacing: 0px;
	font-weight: 200;
}

@media screen and (max-width: 768px) {
	.press-map {
		max-height: 2000px;
		height: auto;
	}
	.network-map-column.press-map-column {
		&:hover .network-stats {
			height: auto;
		}
	}
	.download {
		margin-bottom: 40px;
	}
}
