.region-details{
    position: absolute;
    bottom: 20px;
    right: 0px;
    color: $white;
    width: 50%;
    ul{
        li{
            list-style-type: none;
            display: inline;
            margin: 10px;
        }
    }
}
