.agency-logo {
    img {
    	max-width: 190px;
        max-height: 60px;
        margin: 20px 0px;
    }
}

.mobile-fallback {
	display: none;
	margin: 20px 0px;
}

.single-person {
	.container {
		.social-list {
			margin-bottom: 10px;
		}
	}
}

.slider-wrap {
	max-width: 1500px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	height: auto;
	.workslider {
		position: relative;
	    display: block;
	    box-sizing: border-box;
	    user-select: none;
	    -webkit-touch-callout: none;
	    -khtml-user-select: none;
	    -ms-touch-action: pan-y;
	    touch-action: pan-y;
	    -webkit-tap-highlight-color: transparent;

        &.opacity-override {
            .slick-list {
                .slick-track {
                    .slide {
                        &:not(.slick-active) {
    						opacity: 1;
    					}
                    }
                }
            }
        }

	    .slick-list {
	    	margin: 0;
			padding: 0;
			list-style: none;
			display: block;
			overflow: hidden;
			position: relative;

            .slick-track {
				position: relative;
				top: 0;
				left: 0;
				display: block;
                transition: all 0.35s $easeOutCubic;
				&:before, &:after {
					display: table;
					content: '';
				}
				.slide {
					height: 350px;
					width: 100%;
					position: relative;
					text-align: center;
					padding: 0;
					margin: 0px 20px 0px 20px;
					display: block;
					float: left;
                    opacity: 1;
					background-size: cover!important;
					background-position: 50% 50%!important;
					background-repeat: no-repeat!important;
                    transition: all 0.35s $easeOutCubic;
					&:not(.slick-active) {
						opacity: 0.1;
					}
					&:focus {
						box-shadow: none;
					}
					.slide-wrapper {
						position: absolute;
						bottom: 0px;
						width: 100%;
						text-align: left;
						padding: 20px;
						opacity: 0;
						transition: all 0.400s $easeOutCubic;
					}
					&:hover {
						.slide-wrapper {
							opacity: 1;
						}
					}
				}
			}
	    }
	}
}

.slick-arrow {
	position: absolute;
	top: 45%;
	z-index: 1;
	background: url('/wp-content/themes/amin/assets/img/icons/arrows.png');
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% -15%;
	width: 40px;
	height: 40px;
	border: 0px;
	text-indent: 999px;
	font-size: 0px;
	transition: all 0.300s $easeOutCubic;
	&.slick-prev {
		left: 10px;
	}
	&.slick-next {
		right: 10px;
		background-position: 50% 115%;
	}
	&:focus {
		outline: 0px;
	}
	&:hover {
		transform: scale(1.2);
	}
    &:active {
        transform: scale(0.8);
    }
}

.content-background-black {
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    color: $white;

    h1, p {
        color: $white;
    }
    svg {
        fill: $white;
    }
    .title-cross {
        background-image: url("/wp-content/themes/amin/assets/img/icons/cross-white.png");
    }
}

.person-banner {
	.svg-wrap {
		max-height: 150px;
		max-width: 400px;
		fill: $white;
		margin-bottom: 20px;

		img,
		svg {
			height: 100%;
		}
		svg {
    		max-width: 100%;
		}
	}
	.person-title {
		margin-bottom: 20px;
	}
}
.person-banner-content {
	height: 700px;
}
.person-agency-image {
	height: 150px;
}
.person-banner-profile-image {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (max-height: 850px) {
    .person-content {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
	.single-person {
		.container {
			.half {
				width:70%;
                padding:0 20px 20px 20px;
				h1 {
					float: left;
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
		.section {
			background-position: 50% 50% !important;
			overflow: scroll;
		}
	}
	.person-banner-content {
		height: auto;

		.vertical-middle {
			padding: 40px 0 !important;
			position: relative;
			transform: none;

			p {
				margin-bottom: 0;
			}
		}
	}
	.person-banner-profile-image {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.single-person {
		.container {
			.half {
				width:100%;
				h1 {
					font-size: 18px;
					margin-bottom: 0;
				}
			}
			.social-list-person {
				display:none;
			}
		}
		.mobile-fallback {
			display:block;
		}
        .content-background-black {
            background-color: rgba(255,255,255,0);

            color: $white;

            h1, p {
                color: $black;
            }
            svg {
                fill: $black;
            }
            .title-cross {
                background-image: url("/wp-content/themes/amin/assets/img/icons/cross.png");
            }
        }
	}
}
