/**
 * Who is page styles
 * Only makes slight modifications to the global styles or pre-existing ones
 */

/**
 * Modifies the vh height of the network map class found in _network.scss
 */
.network-map-who-is {
    height: 70vh;
}

.input-wrap {
    input, span {
        display: inline-block;
        vertical-align: middle;
    }
}

.network-search {
    max-width: 510px;
    margin: 20px auto 0 auto;

    input[type='text'] {
        width: calc(100% - 60px);
        border: none;
        background: $white;
        font-family: $header-font-family;
        padding: 15px;
        @include font-size(18px);
        color: $dark-grey;
        outline: none;
        text-transform: uppercase;
    }

    .search-btn {
        width: 60px;
        //height: 53px;
        padding: 14px 0;
        background: $blue;
        border: none;
        border-radius: 0 5px 5px 0;
        outline: none;
    }
}

.who-is-who-agency-list {
    overflow: hidden;
    height: 0;
    position: relative;
    transition: all 0.35s $easeInOutCubic;
}

.agency-list-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;

    &.isActive {
        opacity: 1;
        visibility: visible;
    }
}

.network-search-results {
    width:100%;
    //height: 550px;
    background: $white;
    border-top: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s $easeInOutCubic;
    transform: translate3d(0, 80px, 0);

    &.isActive {
        z-index:10;
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}

.results-list-title {
    padding-left: 10px;
}

.results-list {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: block;
    width: 100%;

    a {
        font-weight: 400;
        padding: 5px 10px;
        display: block;
        width: 100%;

        &:hover {
            background: $border-grey;
        }
    }
}

.empty-notice {
    padding: 5px 10px;
}

.members-image {
    background-size: cover;
    //min-height: 480px;
}

.person-details {
    padding: 50px 30px;
}

.person-name {
    margin-bottom: 5px;
}

.person-agency-logo {
    width: 150px;
    margin-bottom: 10px;
}
