//Handy variables ofr storing nice animation timings

$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$jumpCubic: cubic-bezier(0.61, 0.09, 0.31, 1.37);
