// Colour Palette
$white: #fff;
$black: #000000;

//

$blue: #126a9c;
$dark-blue: #0f6193;
$orange: #f38e4e;
$green: #00BC98;
$off-white: #e9e6de;
//

$dark-grey: #231f20;
$mid-grey: #393536;
$border-grey: #dedede;
$border-blue: #4588ac;
$light-grey: #f6f6f6;
$mid-to-light-grey: #efefef;

$off-grey: #E9EBEC;

//

$error-red: #790000;
$success-green: #7AB317;

//

$green-darkened: darken($green, 10%);
$green-highlight: lighten($green, 10%);
$green-opaque: rgba(0,188,152,.8);

$orange-darkened: darken($orange, 10%);
$orange-highlight: lighten($orange, 10%);
$orange-opaque: RGBA(243,142,78, .8);

$blue-darkened: darken($blue, 10%);
$blue-highlight: lighten($blue, 10%);
$blue-opaque: RGBA(1, 94, 150, .8);

$mid-grey-darkened: darken($mid-grey, 20%);
$mid-grey-highlight: lighten($mid-grey, 20%);
$grey-opaque: rgba(0,0,0,0.8);
