/*
* At the moment this just contains some variables but can easily expand to
* include a modular scale etc.
* PBird - 1/06/15
*/

$header-font-family: 'Oswald', sans-serif;
$base-font-family: 'acumin-pro', sans-serif;
$base-line-height: 24px;
$base-font-size: 16px;
