.background-grey {
	background: $light-grey;
}

.background-dark-grey {
	background: $border-grey;
}

.background-black {
    background: #0f0f0f;
}

.background-blue {
	background: $blue;
}

.background-dark-blue {
	background: $dark-blue;
}

.background-opaque-blue {
    background: $blue-opaque;
}

.background-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.background-right {
	background-position: 100% 0%;
}

.background-video-placehold {
	background-image: url('/wp-content/themes/amin/assets/img/backgrounds/video-section-placehold.jpg');
	&.mobile {
		min-height: 350px;
	}
}

.background-blue-pseudo {
	background: $blue;
	position: relative;

	&:before {
		font-family: $header-font-family;
		display: block;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		content: "50";
		color: rgba(255,255,255,0.10);
		pointer-events: none;
		@include font-size(400px);
	}
}

.overlay-blue-bg {
    background: rgba(28, 82, 127, 0.64);
}

.dotted-bg {
	background: rgba(0,0,0,0.3) url("/wp-content/themes/amin/assets/img/backgrounds/d-o.png");
}

//Only used in one place on News page hero.
.overlay-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}

.background-earth {
	background-image: url('/wp-content/themes/amin/assets/img/backgrounds/earth.jpg');
}

.background-horse {
	background-image: url('/wp-content/themes/amin/assets/img/backgrounds/horse.jpg');
}

.background-sketchbook {
	background-image: url('/wp-content/themes/amin/assets/img/backgrounds/sketchbook.jpg');
}

.background-member {
	background-image: url('/wp-content/themes/amin/assets/img/backgrounds/member.jpg');
}

.background-mac {
	background-image: url('/wp-content/themes/amin/assets/img/backgrounds/amin-work.jpg');
}

.background-blue-map {
	background-image: url('/wp-content/themes/amin/assets/img/backgrounds/blue-map.jpg');
}

.background-cityscape {
	background: url('/wp-content/themes/amin/assets/img/backgrounds/cityscape.jpg') no-repeat 50% 50% / cover;
}

.background-amin-map {
    background: url('/wp-content/themes/amin/assets/img/backgrounds/amin-map-bigger.png') no-repeat 50% 50% / cover;
}

.person-banner {
	&.emea {
		background-color: $orange-opaque;
	}
	&.americas {
		background-color: $blue-opaque;
	}
	&.apac {
		background-color: $green-opaque;
	}
}
.network-colour-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $blue-opaque;

	&.emea {
		background-color: $orange-opaque;
	}
	&.americas {
		background-color: $blue-opaque;
	}
	&.apac {
		background-color: $green-opaque;
	}
}

@media screen and (max-width: 768px) {
	.background-blue-pseudo {
		&:before {
			@include font-size(280px);
		}
	}
}
