.region-hero,
.network-hero {
	padding: 80px 0;

	.h1 {
		margin-bottom: 10px;
	}

	.join-btn {
		margin-top: 20px;
		margin-bottom: 20px;
		@include font-size(18px);
	}
}

.our-story-hero {
    overflow: hidden;
    padding: 50px 0 100px 0;
}

.work-hero {
	overflow: hidden;

	.h1 {
		font-size: 3.125rem;
		margin: 0;
	}
	.sub-header {
		font-size: 1.625rem;
		padding: 20px 0px 0px 0px;
	}
	.intro-copy {
		font-size: 1.125rem;
		line-height: 2rem;
		max-width: 580px;
		margin: 0 auto;
	}
	.inline-underline {
		font-size: 1.125rem;
		margin: 40px 0 0 0;
	}
}

.clients-hero {
	.h1 {
		line-height: 3.5rem;
	}
}

@media screen and (max-width: 768px) {
	.work-hero,
	.network-hero {
		padding: 30px 0;
	}
	.news-hero.min-height-550 {
		min-height: 450px;
	}
}
