.left {
  float: left;
}

.right {
  float: right;
}

.clear {
    clear: both;
}

.mobile {
    display: none;
}

.icon-inline, .inline {
    display: inline-block;
}

.margin-0 {
    margin: 0;
}

.margin-40 {
    margin: 40px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.pad-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

//kinda gross but wth
//used on breadcrumbs
.pad-30-force {
	padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.pad-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pad-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pad-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pad-top-100 {
    padding-top: 100px;
}

.pad-top-200 {
    padding-top: 200px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-top-50 {
    padding-top: 50px;
}

.pad-top-80 {
    padding-top: 80px;
}

.pad-bottom-50{
    padding-bottom: 50px;
}

.pad-bottom-80{
    padding-bottom: 80px;
}

.pad-bottom-100{
    padding-bottom: 100px;
}

.gutter-right {
	padding-right: 20px;
}

.gutter-left {
	padding-left: 20px;
}

.relative {
    position: relative;
}

.vertical-middle {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

.media-holder {
    text-align: center;
    margin: 0 auto 0 auto;
}

.section {
    position: relative;
}

.min-height-550 {
    min-height: 550px;
}

.min-height-700 {
    min-height: 700px;
}

.max-height-445 {
	max-height: 445px;
}

.constrained-content {
    max-width: 600px;
    margin: 0 auto;

    p {
        margin-top: 1.5rem;
        letter-spacing: 1px;
    }
}

.hide {
	display: none;
}

.height-auto {
	height: auto;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .pad-40 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .pad-50 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .pad-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
	.pad-top-100 {
		padding-top: 50px;
	}
	.pad-bottom-100 {
		padding-bottom: 50px;
	}
}

@media screen and (max-width: 480px) {
	.gutter-right {
		padding-right: 0;
	}
	.gutter-left {
		padding-left: 0;
	}
}
