.ui-inline-list {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 0.5px;
    }
}

.ui-list {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    li {
        display: block;
        list-style: none;
        padding: 2px 0;
    }
}
