.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.white {
  color: $white;
}

.blue {
	color: $blue;
}

.black{
	color: $black;
}

.s14 {
	@include font-size(14px);
}

.s18 {
	@include font-size(18px);
}

.uppercase {
	text-transform: uppercase;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.color-fade-out {
	transition: all 0.35s $easeInCubic;
	&:hover {
		color: $mid-grey-highlight;
	}
}

.inline-underline-thick {
	position: relative;
	&::after {
		content: " ";
		height: 4px;
		width: 100%;
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: 0px;
		opacity: 0.3;
		background-color: rgba(255,255,255,0.5);
	}

	&::before {
		content: "";
		height: 4px;
		width: 0;
		display: inline-block;
		position: absolute;
		bottom: 0px;
		transition: all 0.35s $easeOutCubic;
		background-color: $white;
	}

	&.white {
		&::after,&::before {
			background-color: $white;
		}
	}

	&:hover {
		&:before {
			width: 100%;
		}
	}
}

.inline-underline {
	position: relative;
	&::after {
		content: " ";
		height: 1px;
		width: 100%;
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: -2px;
		opacity: 0.3;
		background-color: $dark-grey;
	}

	&::before {
		content: "";
		height: 1px;
		width: 0;
		display: inline-block;
		position: absolute;
		bottom: -2px;
		transition: all 0.35s $easeOutCubic;
		background-color: $dark-grey;
	}

	&.white {
		&::after,&::before {
			background-color: $white;
		}
	}

	&:hover {
		&:before {
			width: 100%;
		}
	}
}

.inline-underline-middle {
	font-family: $header-font-family;
	font-weight: 300;
	text-transform: uppercase;
	color: $dark-grey;
	position: relative;
	cursor: pointer;

	&::before, &::after {
		content: " ";
		height: 2px;
		width: 0;
		background-color: $blue-highlight;
		display: inline-block;
		position: absolute;
		transition: all 0.35s $easeOutCubic;
	}

	&::before {
		left: 50%;
		bottom: 0;
	}

	&::after {
		right: 50%;
		bottom: 0;
	}

	&:hover,
	&.isActive {
		color: $blue-highlight;

		&::before, &::after {
			width: 50%;
		}
	}

	&.white {
		color: $white;

		&::before, &::after {
			background-color: $white;
		}

		&:hover {
			color: $white;
		}
	}
}

.underline {
	position: relative;

	&::before {
		content: " ";
		height: 1px;
		width: 100%;
		display: inline-block;
		position: absolute;
		bottom: -2px;
		transition: all 0.35s $easeOutCubic;
		background-color: $dark-grey;
	}

	&.white {
		&::after,&::before {
			background-color: $white;
		}
	}
}

.line-height-20 {
  line-height: 1.25rem;
}

.line-height-30 {
  line-height: 1.875rem;
}

.line-height-40 {
  line-height: 2.5rem;
}

.sub-title {
    @include font-size(20px);
    letter-spacing: 1px;
}

.sunk-header {
    margin-bottom: 5px;
    line-height: 1.2em;
}

.title-cross {
    background-image: url("/wp-content/themes/amin/assets/img/icons/cross.png");
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-bottom: 4px;

	&.white {
		background-image: url("/wp-content/themes/amin/assets/img/icons/cross-white.png")
	}
}

@media screen and (max-width: 768px) {
	.inline-underline {
		//height: 1.75rem;
		border-bottom: 1px solid $dark-grey;

		&.white {
			border-bottom: 1px solid $white;
		}
		&:hover {
			border-bottom: 1px solid $dark-grey;

			&.white {
				border-bottom: 1px solid $white;
			}
		}
		&::before,
		&::after {
			display: none;
		}
	}
}
