/*
* Wrappers and container variations that set the maximum width of content.
*/

.container {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0 20px;
    max-width: 1120px;
    position: relative;
    @include clearfix();
}

.container-constrained {
	width: 100%;
	max-width: columns(10);
	margin: 0 auto 0 auto;
	@include clearfix();
    &.align-left{
        padding-left: 0px;
        margin-left: 0px;
    }
}

.row {
    height: auto;
    overflow: auto;
    clear: both;
}

.row-wrap {
    @include clearfix();
    padding: 30px 0;
}

.half-container {
    max-width: 480px;
    display: inline-block;
}

.text-content{
    float: left;
    margin: 0px 40px;
    text-align: left;
}

@media screen and (max-width: 480px) {
    .container-constrained {
        max-width: 100%;
    }
}
