{% spaceless %}
<svg class="svg-sprite">
	<symbol id="amin-logo" viewBox="0 0 215.9 49.5">
		<g>
			<path fill="#00548B" d="M213.4,5.2c0.4,0,0.9,0.1,1.3,0.3c0.4,0.2,0.7,0.5,1,1c0.2,0.4,0.3,0.8,0.3,1.3c0,0.4-0.1,0.9-0.3,1.3
			c-0.2,0.4-0.5,0.7-1,1c-0.4,0.2-0.8,0.3-1.3,0.3s-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.5-1-1c-0.2-0.4-0.3-0.8-0.3-1.3
			c0-0.4,0.1-0.9,0.3-1.3c0.2-0.4,0.6-0.7,1-1C212.5,5.3,212.9,5.2,213.4,5.2z M213.4,5.6c-0.4,0-0.7,0.1-1.1,0.3
			c-0.3,0.2-0.6,0.5-0.8,0.8c-0.2,0.3-0.3,0.7-0.3,1.1c0,0.4,0.1,0.7,0.3,1.1c0.2,0.3,0.5,0.6,0.8,0.8c0.3,0.2,0.7,0.3,1.1,0.3
			s0.7-0.1,1.1-0.3c0.3-0.2,0.6-0.5,0.8-0.8c0.2-0.3,0.3-0.7,0.3-1.1c0-0.4-0.1-0.7-0.3-1.1c-0.2-0.3-0.5-0.6-0.8-0.8
			C214.1,5.7,213.7,5.6,213.4,5.6z M212.2,9.2V6.4h1c0.3,0,0.6,0,0.7,0.1c0.1,0.1,0.3,0.1,0.3,0.3c0.1,0.1,0.1,0.3,0.1,0.4
			c0,0.2-0.1,0.4-0.2,0.5c-0.1,0.2-0.3,0.2-0.6,0.3c0.1,0,0.2,0.1,0.2,0.1c0.1,0.1,0.2,0.3,0.4,0.6l0.3,0.5H214l-0.2-0.4
			c-0.2-0.3-0.4-0.6-0.5-0.6C213.2,8,213.1,8,212.9,8h-0.3v1.2H212.2z M212.7,7.6h0.5c0.3,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.3
			c0-0.1,0-0.2-0.1-0.2c0-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.2,0-0.5,0h-0.5V7.6z"/>
		</g>
		<path fill="#00548B" d="M203.1,6.4h-5.4v17.3h-0.3c-1.2,0-2.4-0.8-3.2-1.7L183.3,9.4c-1.9-2.1-3.7-3-6.8-3h-5.6v22.6h5.4V11.6h0.3
		c1.2,0,2.4,0.8,3.2,1.7l10.7,12.4c1.8,2.2,3.8,3.2,7,3.2h5.7V6.4z M164.6,6.4h-5.5v22.6h5.5V6.4z M152.7,6.4h-5.6
		c-3.3,0-5.4,1.2-7.1,4.4l-6.6,12.9h-1.8l-6.6-13c-1.6-3.2-3.6-4.3-7.1-4.3h-5.5v22.6h5.2V11.6h0.3c0.8,0,1.6,0.7,1.9,1.3l8.3,16h8.8
		l8.3-16c0.3-0.7,1.1-1.3,1.9-1.3h0.3v17.3h5.2V6.4z M91.9,11.6c0.5,0,1,0.3,1.5,1l3.9,6.9H84.4l3.9-6.9c0.4-0.7,0.9-1.1,1.5-1.1
		H91.9z M97.1,8.2c-0.7-1.3-1.9-1.9-3.4-1.9H88c-2,0-2.6,0.7-3.3,1.9L72.9,28.9h6.4l2.5-4.4H100l2.5,4.4h6.4L97.1,8.2z"/>
		<path fill="#00548B" d="M23.3,20.5c0.3,0,0.7,0.2,0.9,0.7l2.5,4.4h-8.2l2.5-4.4c0.2-0.5,0.6-0.7,1-0.7H23.3z M26.6,18.3
		c-0.5-0.8-1.2-1.2-2.2-1.2h-3.6c-1.3,0-1.7,0.4-2.1,1.2l-7.5,13.2h4.1l1.6-2.8h11.7l1.6,2.8h4L26.6,18.3z"/>
		<line fill="none" stroke="#00548B" stroke-width="1.2567" x1="59.7" y1="0" x2="59.7" y2="49.5"/>
		<path fill="none" stroke="#00548B" stroke-width="1.2567" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0,3.4008" d="M19.1,46.4C9.3,44.9,1.7,36.7,0.9,26.7"/>
		<path fill="none" stroke="#00548B" stroke-width="1.2567" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0,3.4008" d="M1.1,21.6c1.5-9.8,9.7-17.4,19.7-18.2"/>
		<path fill="none" stroke="#00548B" stroke-width="1.2567" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0,3.4008" d="M25.9,3.6c9.8,1.5,17.4,9.7,18.2,19.7"/>
		<path fill="none" stroke="#00548B" stroke-width="1.2567" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0,3.4008" d="M43.9,28.4c-1.5,9.8-9.7,17.4-19.7,18.2"/>
		<path fill="none" stroke="#00548B" stroke-width="1.2567" stroke-linecap="round" stroke-linejoin="round" d="M22.5,46.7L22.5,46.7 M44.1,25L44.1,25 M22.5,3.4L22.5,3.4 M0.8,25L0.8,25"/>
		<g>
			<path fill="#00548B" d="M79.2,34.4l-1,10.2h-0.4l-1.7-6h0l-1.7,6H74l-1-10.2l1-0.2l0.5,7.5h0l1.5-5.3h0.3l1.5,5.3h0l0.5-7.5L79.2,34.4
			z"/>
			<path fill="#00548B" d="M94.6,39.4c0,1.3,0,5.1-2.8,5.1c-2.9,0-2.8-3.9-2.8-5.1c0-1.7,0.1-5.1,2.8-5.1C94.6,34.3,94.6,38.1,94.6,39.4z
			 M90.1,39.4c0,2.7,0.3,4.2,1.7,4.2c1.7,0,1.7-2.5,1.7-4.2c0-1.9,0-4.2-1.7-4.2C90,35.2,90.1,37.9,90.1,39.4z"/>
			<path fill="#00548B" d="M105.4,34.4h2.7c1,0,2.2,0.9,2.2,2.7c0,1.2-0.5,2.4-1.7,2.8l2.1,4.3l-0.9,0.4l-2.2-4.7h-1.1v4.5h-1V34.4z
			 M106.4,39h1.5c0.9,0,1.4-0.6,1.4-2c0-1.3-0.6-1.8-1.6-1.8h-1.2V39z"/>
			<path fill="#00548B" d="M121.2,34.4h1v9.1h4.1v0.9h-5.1V34.4z"/>
			<path fill="#00548B" d="M136.1,35.3v-0.9h2.6c2,0,3.2,0.9,3.2,5c0,2.2-0.1,5-3.2,5h-2.7v-0.9h0.8v-8.2H136.1z M138,43.5h0.8
			c1.2,0,2.1-0.3,2.1-4.1c0-3.8-1-4.1-1.9-4.1H138V43.5z"/>
			<path fill="#00548B" d="M157.7,34.4l-1,10.2h-0.4l-1.7-6h0l-1.7,6h-0.4l-1-10.2l1-0.2l0.5,7.5h0l1.5-5.3h0.3l1.5,5.3h0l0.5-7.5
			L157.7,34.4z"/>
			<path fill="#00548B" d="M169.7,35.3h-1.3v-0.9h3.7v0.9h-1.4v8.2h1.4v0.9h-3.7v-0.9h1.3V35.3z"/>
			<path fill="#00548B" d="M183.2,35.3v-0.9h2.6c2,0,3.2,0.9,3.2,5c0,2.2-0.1,5-3.2,5h-2.7v-0.9h0.8v-8.2H183.2z M185,43.5h0.8
			c1.2,0,2.1-0.3,2.1-4.1c0-3.8-1-4.1-1.9-4.1H185V43.5z"/>
			<path fill="#00548B" d="M199.5,34.4h4.9v0.9h-3.9v3.3h3.2v0.9h-3.2v4h3.9v0.9h-4.9V34.4z"/>
		</g>
	</symbol>
	<symbol id="mute-icon" viewbox="0 0 425.2 425.2">
		<path d="M372.5,250.2l-37.9-37.9l37.6-37.6c3.5-3.5,3.5-9.1,0-12.6s-9.1-3.5-12.6,0L322,199.7l-37.6-37.6
		c-3.5-3.5-9.1-3.5-12.6,0c-3.5,3.5-3.5,9.1,0,12.6l37.6,37.6l-37.9,37.9c-3.5,3.5-3.5,9.1,0,12.6c3.5,3.5,9.1,3.5,12.6,0l37.9-37.9
		l37.9,37.9c3.5,3.5,9.1,3.5,12.6,0C376,259.3,376,253.7,372.5,250.2z M97.7,159.6c-9.8,0-17.7,7.9-17.7,17.7v70.7
		c0,9.8,7.9,17.7,17.7,17.7H133l88.3,53v-212l-88.3,53H97.7z M124.2,247.9h-17.7c-4.9,0-8.8-4-8.8-8.8v-53c0-4.9,4-8.8,8.8-8.8h17.7
		V247.9z M141.9,171.7l61.8-38.6v159l-61.8-38.6V171.7z"/>
	</symbol>
	<symbol id="muted-icon" viewBox="0 0 425.2 425.2">
		<path d="M97.7,159.7v-0.1c-9.8,0-17.7,7.9-17.7,17.7V248c0,9.8,7.9,17.7,17.7,17.7H133l88.3,53v-212l-88.3,53H97.7z M124.2,247.9
			h-17.7c-4.9,0-8.8-4-8.8-8.8v-53c0-4.9,4-8.8,8.8-8.8h17.7V247.9z M141.9,171.7l61.8-38.6v159l-61.8-38.6V171.7z"/>
	</symbol>
	<symbol id="facebook" viewbox="0 0 198.4 198.4">
		<path d="M84.9,63.4v17.7H64.1v24.1h20.8v61.7h24.8v-61.7h20.7l3.1-24.1h-23.8V65.7c0-7,1.9-11.7,11.9-11.7l12.7,0V32.5
		c-2.2-0.3-9.8-0.9-18.6-0.9C97.4,31.6,84.9,42.8,84.9,63.4z"/>
	</symbol>
	<symbol id="twitter" viewbox="0 0 198.4 198.4">
		<path d="M173.9,37.3c-6.3,3.7-13.2,6.4-20.6,7.9c-5.9-6.3-14.4-10.2-23.7-10.2c-17.9,0-32.5,14.5-32.5,32.5c0,2.5,0.3,5,0.8,7.4
	c-27-1.4-50.9-14.3-66.9-33.9c-2.8,4.8-4.4,10.4-4.4,16.3c0,11.3,5.7,21.2,14.4,27c-5.3-0.2-10.3-1.6-14.7-4.1c0,0.1,0,0.3,0,0.4
	c0,15.7,11.2,28.8,26,31.8c-2.7,0.7-5.6,1.1-8.6,1.1c-2.1,0-4.1-0.2-6.1-0.6c4.1,12.9,16.1,22.3,30.3,22.5
	c-11.1,8.7-25.1,13.9-40.3,13.9c-2.6,0-5.2-0.2-7.7-0.5c14.4,9.2,31.4,14.6,49.8,14.6c59.7,0,92.3-49.5,92.3-92.3
	c0-1.4,0-2.8-0.1-4.2c6.3-4.6,11.8-10.3,16.2-16.8c-5.8,2.6-12.1,4.3-18.6,5.1C166.4,51.2,171.5,44.9,173.9,37.3z"/>
	</symbol>
	<symbol id="instagram" viewbox="0 0 198.4 198.4">
		<path d="M167.6,45c-0.2-1.9-0.7-3.8-1.6-5.5c-1.6-3.2-4.1-5.6-7.3-7.1c-2.1-1-4.3-1.6-6.6-1.5c-0.4,0-0.7,0-1.1,0
	c-34.6,0-69.1,0-103.7,0c-0.4,0-0.9,0-1.3,0c-1.1,0-2.2,0.1-3.3,0.4c-4.2,1.1-7.5,3.5-9.8,7.2c-1.5,2.4-2.3,5.1-2.3,8
	c0,0.4,0,0.8,0,1.2c0,34.4,0,68.8,0,103.2c0,0.6,0,1.1,0,1.7c0,0.9,0.1,1.7,0.3,2.5c1.3,5.5,4.6,9.3,9.8,11.5c1.7,0.7,3.5,1.1,5.4,1
	c0.4,0,0.8,0,1.2,0c17.3,0,34.5,0,51.8,0c12.6,0,25.2,0,37.8,0c5.1,0,10.3,0,15.4,0c0.9,0,1.9-0.1,2.8-0.3c5.1-1.2,8.9-4.2,11.1-9
	c0.6-1.3,1-2.7,1.2-4.1c0.2-1.1,0.2-2.1,0.2-3.2c0-34.6,0-69.2,0-103.8C167.7,46.5,167.6,45.8,167.6,45z M73.2,96.5
	c0.2-1.9,0.6-3.8,1.2-5.6c1.4-4,3.5-7.4,6.5-10.4c3.5-3.4,7.6-5.7,12.4-6.8c1.2-0.3,2.4-0.5,3.7-0.5c0.3,0,0.6,0,0.8-0.1
	c0.9-0.1,1.8-0.1,2.8,0c0.2,0,0.4,0.1,0.6,0.1c4,0.2,7.7,1.4,11.1,3.4c2.8,1.6,5.2,3.7,7.2,6.1c2.5,3.1,4.2,6.6,5.1,10.4
	c0.3,1.2,0.5,2.4,0.6,3.6c0,0.7,0.2,1.4,0.2,2.1c0,1.7-0.2,3.4-0.5,5.1c-0.3,2-0.9,3.9-1.7,5.7c-1.1,2.4-2.4,4.6-4.1,6.6
	c-3.3,3.8-7.3,6.5-12.1,8c-1.2,0.4-2.3,0.6-3.5,0.8c-1.5,0.2-3,0.4-4.6,0.4c-0.5,0-1,0-1.5-0.1c-0.2,0-0.4,0-0.5-0.1
	c-2.9-0.2-5.7-1-8.4-2.2c-4.1-1.9-7.5-4.6-10.2-8.2c-2.2-2.9-3.7-6.2-4.5-9.8c-0.4-1.9-0.6-3.6-0.6-6.2
	C73.1,98.3,73.1,97.4,73.2,96.5z M151.4,148c-0.6,1.8-1.8,3-3.7,3.5c-0.5,0.1-1,0.2-1.6,0.2c-0.3,0-0.6,0-0.9,0
	c-30.7,0-61.5,0-92.2,0c-0.4,0-0.7,0-1.1,0c-1.3,0-2.5-0.4-3.4-1.2c-0.9-0.8-1.5-1.8-1.7-3c-0.1-0.7-0.1-1.3-0.1-2
	c0-18.4,0-36.8,0-55.2c0-0.3,0-0.6,0-1c0-0.1,0.1-0.3,0.1-0.4c0.2,0,0.4-0.1,0.6-0.1c3.4,0,6.8,0,10.1,0c0.1,0,0.3,0,0.4,0
	c0.1,0,0.2,0.1,0.2,0.2c0,0.1,0,0.2,0,0.3c-0.4,1.6-0.7,3.2-0.9,4.8c-0.1,1.1-0.3,2.3-0.3,3.4c0,1,0,2.1,0,3.1
	c0,1.5,0.2,2.9,0.4,4.4c0.2,1.8,0.6,3.6,1.1,5.4c1.1,3.9,2.7,7.6,4.9,11.1c2.2,3.5,4.8,6.5,7.8,9.2c3.4,3,7.1,5.3,11.2,7.1
	c2.4,1,4.9,1.9,7.5,2.4c1,0.2,2,0.4,3,0.6c0.8,0.1,1.7,0.1,2.5,0.3c0.3,0.1,0.6,0.1,0.9,0.1c1.9,0,3.7,0,5.6,0
	c0.4,0,0.8-0.1,1.3-0.1c0.1,0,0.2,0,0.3,0c2.1-0.1,4.1-0.6,6.1-1.1c3-0.7,5.8-1.8,8.6-3.2c3.3-1.6,6.2-3.7,9-6.1
	c2-1.8,3.9-3.8,5.5-5.9c2.9-3.8,5.2-8.1,6.7-12.7c0.7-2.1,1.2-4.3,1.5-6.5c0.2-1.5,0.4-3,0.4-4.5c0-0.2,0-0.5,0-0.7
	c0.1-0.8,0.1-1.6,0-2.5c0-0.3-0.1-0.6-0.1-0.9c-0.1-2.4-0.5-4.7-1-7.1c-0.1-0.3-0.1-0.6-0.2-0.8c0-0.1,0-0.2,0-0.3
	c0.1,0,0.2-0.1,0.3-0.1c0.2,0,0.4,0,0.5,0c3.2,0,6.4,0,9.6,0c0.3,0,0.6-0.1,0.9,0.1c0.2,0.1,0.2,0.3,0.2,0.4c0,0.3,0,0.6,0,1
	c0,18.5,0,37.1,0,55.6C151.6,146.6,151.6,147.3,151.4,148z M151.6,60.3c0,2.4,0,4.8,0,7.3c0,1.2-0.4,2.3-1.1,3.3
	c-0.8,1-1.8,1.6-3,1.9c-0.6,0.1-1.2,0.2-1.8,0.2c-4.7,0-9.5,0-14.2,0c-0.6,0-1.2,0-1.8-0.2c-2.1-0.4-3.4-1.7-4-3.7
	c-0.1-0.2-0.1-0.5-0.1-0.7c0-0.4,0-0.8,0-1.2c0-2.4,0-4.8,0-7.3c0-2.4,0-4.8,0-7.3c0-0.4,0-0.7,0-1.1c0-1.8,1.4-3.9,3.7-4.5
	c0.5-0.1,1.1-0.2,1.7-0.2c5.1,0,10.1,0,15.2,0c1.2,0,2.2,0.3,3.2,1c1,0.7,1.7,1.6,2,2.8c0.2,0.6,0.2,1.1,0.2,1.7
	C151.6,54.9,151.6,57.6,151.6,60.3z"/>
	</symbol>
	<symbol viewBox="-7 99.7 595.3 595.3" id="google">
		<path d="M495.2,362.7c-17,0-34,0-51,0c-0.7,0-1.4,0-2.4,0c0-1,0-1.7,0-2.4c0-17,0-34,0-51c0-1.5-0.4-2-1.9-2
			c-7.8,0.1-15.7,0-23.4,0c-2.4,0-2.4,0-2.4,2.4c0,16.8,0,33.6,0,50.4c0,0.8-0.1,1.5-0.1,2.5c-0.9,0-1.6,0-2.3,0
			c-16.9,0-33.8,0-50.6,0c-1.7,0-2.2,0.4-2.2,2.1c0.1,7.9,0.1,15.7,0.1,23.6c0,2.3,0,2.4,2.4,2.4c16.8,0,33.5,0,50.3,0
			c2.5,0,2.5,0,2.5,2.5c0,16.9,0,33.9,0,50.8c0,2.5,0,2.5,2.6,2.5c7.6,0,15.2,0,22.8,0c2.5,0,2.5,0,2.5-2.5c0-17,0-34,0-51
			c0-2.2,0-2.3,2.3-2.3c17.1,0,34.1,0,51.1,0c1.7,0,2.2-0.5,2.2-2.2c-0.1-7.9,0-15.7,0-23.6C497.4,362.7,497.4,362.7,495.2,362.7z"/>
		<path d="M326.3,449.6c-10.4-11.2-22.4-20.8-34.5-30.3c-5.5-4.2-11.1-8.5-16.1-13.4c-9.4-9.1-10.5-21.6-3.3-32.6
			c3.7-5.6,8.4-10.3,13.5-14.5c4.7-3.9,9.4-7.7,13.9-11.8c9.4-8.5,17.4-18,22.7-29.7c6.6-14.6,8.2-30,6.5-45.8
			c-1.3-12.5-5.3-24.1-11.8-34.9c-6.5-10.9-15.2-19.7-24.9-27.8c-0.4-0.4-1-0.8-1.7-1.5c1.1,0,1.7,0,2.3,0c10,0,20,0,30.1,0
			c1,0,2-0.3,2.8-0.8c7-4.3,14-8.8,21-13.2c4.4-2.7,8.8-5.6,13.3-8.3c0-0.2-0.1-0.4-0.1-0.4c-0.7,0-1.4,0-2.1,0
			c-34.4,0-68.7,0-103.2,0c-12.1,0-24.2,0.7-36.1,2.7c-16.5,2.7-32.5,7.4-47.5,14.9c-20.1,9.8-36.3,23.9-47.2,43.6
			c-11.5,20.7-15.7,42.7-10.2,66c9,38,39.9,63.6,79.9,67.1c8,0.7,15.9,0.3,23.9-0.4c1-0.1,1.9-0.2,3.2-0.4c-0.6,1.6-1.2,2.8-1.7,4.1
			c-5.3,12.3-5,24.6,0.5,36.7c2.7,6.1,6.8,11.3,10.9,16.6c0.4,0.4,0.6,1,1.1,1.5c-7,0.6-13.7,1.2-20.4,1.8c-11.8,1-23.4,2.7-34.9,5.1
			c-18.5,4-36.1,10-52.2,20.2c-14.1,8.9-25.6,20.4-32.9,35.6c-6.5,13.2-8.9,27.1-6.5,41.6c2.8,16.2,11.1,29.4,23.4,40.2
			c10.7,9.4,23.2,15.6,36.5,20.1c16.6,5.5,33.9,7.8,51.3,8.3c16.8,0.5,33.4-0.7,50-4c16.1-3.2,31.6-8.3,46.1-16.2
			c17.5-9.5,32.3-22,42.9-39.1c12.9-20.8,16.8-43.3,10.8-67.1C342.5,470.4,335.5,459.3,326.3,449.6z M224.2,364.3
			c-11.7-1.2-21.7-6.1-30.3-13.8c-9.2-8.3-15.7-18.5-21-29.7c-5.8-12.6-9.6-25.8-11.3-39.5c-1.8-13.3-1.9-26.5,2.3-39.4
			c6.4-19.8,20.4-31.1,40.7-34.3c16.6-2.7,30.7,3.3,42.7,14.6c9.9,9.4,16.7,20.8,22,33.2c5.3,12.4,8.8,25.2,10.4,38.6
			c0.6,4.9,0.8,9.8,1,12.5c-0.1,10.6-0.9,18.8-3.7,26.6c-3.8,10.4-10.5,18.1-20.1,23.6C246.8,362.6,235.9,365.5,224.2,364.3z
			 M311,531.9c-0.8,10.9-4.3,20.7-11.1,29.3c-5.8,7.4-13.4,12.8-21.9,16.9c-10.2,4.9-20.9,7.4-32,8.5c-5.5,0.5-11,0.8-16.5,1.2
			c-15.3-0.4-30.3-2.1-44.9-6.9c-13.1-4.2-25-10.6-34.9-20.4c-8.8-8.8-14.5-19.2-16.2-31.6c-3-22.4,4.4-40.4,22.8-53.7
			c10.3-7.3,21.9-11.9,34.1-15c12.4-3,24.9-4.9,37.6-5.4c6.5-0.3,13-0.3,19.6-0.4c2,0,3.8,0.5,5.5,1.8c11.7,8.5,23.5,16.8,34.3,26.5
			c5.8,5.1,11.2,10.7,15.6,17.3C309.5,509.6,311.8,520.3,311,531.9z"/>
	</symbol>
	<symbol viewBox="0 0 620 620" id="linkedin">
		<path d="M93.4,68.8c30.9,0,49.9,23,50.5,53.3c0,29.6-19.6,53.3-51.1,53.3h-0.6c-30.3,0-49.9-23.7-49.9-53.3
			C42.3,91.9,62.5,68.8,93.4,68.8z"/>
		<rect x="47.6" y="208.9" width="102" height="317.6"/>
		<path d="M553,526.4H447.4V362.4c0-41.2-11.9-69.3-50.1-69.3c-29.2,0-46.6,19-54.2,37.3c-2.8,6.5-3.5,15.7-3.5,24.8
			v171.3h-109c0,0,1.4-286.6,0-315.3h109v43.4c14-20.9,39.1-50.6,95.2-50.6c69.5,0,118.2,52.5,118.2,146.7V526.4z"/>
	</symbol>
	<!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In  -->

	<symbol id="play-icon" viewBox="0 0 64 64">
		<g id="music_-_play_interface_1_">
			<g>
				<polygon points="25.5,45.4 46.6,32 23.4,17.2 23.4,46.8 25,45.7 25.5,45.7 		"/>
			</g>
		</g>
		<g id="music_-_interface__record_1_">
			<g>
				<path d="M32,0C14.3,0,0,14.3,0,32c0,17.7,14.3,32,32,32c17.7,0,32-14.3,32-32C64,14.3,49.7,0,32,0z M32,60
					C16.5,60,4,47.5,4,32C4,16.5,16.5,4,32,4s28,12.5,28,28C60,47.5,47.5,60,32,60z"/>
			</g>
		</g>
	</symbol>
	<symbol id="hamburger" viewBox="0 0 46 33.7">
		<g>
			<path fill="#00548B" fill-rule="evenodd" clip-rule="evenodd" d="M5,7.8h36c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2H5c-1.1,0-2,0.9-2,2C3,6.9,3.9,7.8,5,7.8z M41,14.8H5 c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h36c1.1,0,2-0.9,2-2C43,15.7,42.1,14.8,41,14.8z M41,25.8H5c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2 h36c1.1,0,2-0.9,2-2C43,26.7,42.1,25.8,41,25.8z"/>
		</g>
	</symbol>
    <!-- <symbol id="zoom-out-icon" width="80.4" height="70.4"> -->
    <symbol id="zoom-out-icon" viewbox="0 0 80 70">
        <g>
          <path d="M40.4 27.1H29.2c-1.2 0-2.2 1-2.2 2.2 0 1.2 1 2.2 2.2 2.2h11.2c1.2 0 2.2-1 2.2-2.2.1-1.2-.9-2.2-2.2-2.2z" class="st0"/>
          <path d="M42.4 36.9c-2 2-4.7 3.1-7.5 3.1s-5.5-1.1-7.5-3.1c-4.2-4.2-4.2-10.9 0-15.1 2-2 4.7-3.1 7.5-3.1s5.5 1.1 7.5 3.1 3.1 4.7 3.1 7.5c0 2.9-1.1 5.6-3.1 7.6zm18.2 14.7L48.2 38.2c1.7-2.6 2.7-5.6 2.7-8.8 0-4.3-1.7-8.3-4.7-11.3s-7-4.7-11.3-4.7c-4.3 0-8.3 1.7-11.3 4.7-6.2 6.2-6.2 16.4 0 22.6 3 3 7 4.7 11.3 4.7 3.2 0 6.2-.9 8.8-2.7l12.4 13.4c1.2 1.2 3.3 1.2 4.5 0 1.2-1.2 1.2-3.2 0-4.5zm17.1 2.3c-1.4 0-2.5 1.2-2.5 2.6v8.7h-8.7c-1.4 0-2.6 1.1-2.6 2.6 0 1.4 1.2 2.6 2.6 2.6h12.2c.1 0 .3-.1.4-.2h.1l.1-.1h.1c.8-.5 1.2-1.4 1.1-2.4v-11c0-.7-.3-1.4-.8-1.9-.6-.6-1.3-.9-2-.9zm-75.1 0c-.7 0-1.4.3-1.9.8-.4.5-.7 1.1-.7 1.8v11c-.1.9.3 1.8 1.1 2.4h.1l.1.1h.1c.1.1.3.1.4.2H14c1.4 0 2.6-1.1 2.6-2.6 0-1.4-1.2-2.6-2.6-2.6H5.2v-8.7c0-1.2-1.1-2.3-2.6-2.4zM77.7 0H66.5c-.7 0-1.4.3-1.9.8-1.6 1.6-.5 4.4 1.9 4.4h8.7v8.7c-.1 1.5 1.1 2.8 2.6 2.8s2.7-1.3 2.5-2.8V1.7c-.1-.1-.1-.3-.2-.4v-.1s0-.1-.1-.1C79.4.4 78.6 0 77.7 0zm-75 0C1.8 0 1 .4.5 1.1c0 0 0 .1-.1.1v.1c-.2.2-.2.3-.3.5V14c-.2 1.5 1 2.8 2.5 2.8s2.7-1.3 2.6-2.8V5.2h8.7c2.3.1 3.5-2.7 1.9-4.4-.6-.5-1.3-.8-2-.8H2.7z" class="st0"/>
      </g>
    </symbol>
	<symbol id="youtube" viewBox="-5 -9 45 55">
		<path d="M13.4 11.7c0 .5 0 1.1.2 1.6.3 1.1 1 1.8 2.1 2.2.4.1.7.1 1.1.1.8 0 1.5-.4 2.1-1 .4-.5.6-1 .7-1.6.1-.5.1-1 .1-1.4V9.7c0-.9 0-1.9-.1-2.8 0-.4-.1-.8-.3-1.3-.3-.9-.9-1.5-1.8-1.7-.4-.1-.8-.1-1.2-.1-.4 0-.7.1-1.1.2-.9.4-1.4 1.1-1.6 2-.1.5-.2 1-.2 1.6v4.1zm2.3-5.3c0-.1.1-.2.1-.3.2-.3.4-.5.8-.5.3 0 .6.1.8.5.1.2.2.4.2.6V12.5c0 .2-.1.3-.1.5-.2.6-.6.6-1.1.5-.2 0-.4-.2-.5-.4-.1-.2-.2-.4-.2-.6v-.6-4.7c-.1-.2-.1-.5 0-.8zM21.3 13.9c0 .2.1.5.1.7.1.4.4.7.9.9.3.1.6.1.9 0 .3-.1.7-.2.9-.4.3-.2.5-.4.8-.7.1 0 .1-.1.2-.2.1.4 0 .8.1 1.1H27.1c.1 0 .1 0 .2-.1v-.4V4.2 4v-.2h-2.1V12.6c-.2.3-.4.5-.6.7l-.6.3c-.3 0-.4-.1-.5-.4v-.6-8.2-.3-.2H21.4v8.6c-.1.6-.1 1-.1 1.4zM6.9 4.2c.5 1.4.9 2.8 1.3 4.2.1.5.2.9.2 1.4V15.5c.3.1.5 0 .8 0h1.6c.1-.1 0-.3 0-.4V9.5c0-.2 0-.4.1-.6.1-.4.2-.8.3-1.1.7-2.4 1.5-4.9 2.2-7.3 0-.1.1-.2.1-.3-.2 0-2-.1-2.3 0 0 .1-.1.3-.1.4-.5 1.7-.9 3.5-1.4 5.2 0 0 0 .1-.1.2C9 3.9 8.5 2 8 0H5.5c0 .1 0 .2.1.4.4 1.2.9 2.5 1.3 3.8zM21.6 27.9c0-.2-.1-.4-.2-.5-.2-.3-.5-.5-.9-.4-.3.1-.6.2-.8.5v6.9c.2.3.5.4.8.5h.4c.3-.1.5-.3.6-.6.1-.3.1-.6.1-.9v-4.8c.1-.3.1-.5 0-.7z"/>
		<path d="M34 26.5c0-.8-.1-1.6-.1-2.5-.1-.9-.2-1.8-.4-2.7-.2-1.1-.8-2-1.7-2.6-.7-.5-1.5-.8-2.3-.8-.3 0-.6-.1-.9-.1-.4 0-.8-.1-1.2-.1-.5 0-1-.1-1.4-.1-.7 0-1.3-.1-2-.1-.9 0-1.9-.1-2.8-.1h-8.9c-1 0-2.1.1-3.1.1-.6 0-1.2 0-1.8.1-.3 0-.5 0-.8.1-.3 0-.6.1-1 .1-.3 0-.7.1-1 .1-.5 0-.9.1-1.3.3-1.4.6-2.3 1.7-2.7 3.2-.3 1.3-.4 2.6-.5 3.9-.1.8-.1 1.7-.1 2.6v2.6c0 1.1 0 2.3.1 3.4.1.9.2 1.9.3 2.8l.3 1.2c.6 1.5 1.6 2.4 3.2 2.7.4.1.7.1 1.1.1.6.1 1.2.1 1.8.2.8 0 1.5.1 2.2.1.9 0 1.8.1 2.7.1h10.7c.9 0 1.8 0 2.7-.1.4 0 .8 0 1.2-.1.3 0 .7 0 1-.1.3 0 .6 0 .9-.1.5-.1 1.1-.1 1.6-.2.7-.1 1.3-.3 1.8-.6 1.1-.7 1.7-1.7 2-2.9.3-1.4.4-2.7.5-4.1 0-.7.1-1.4.1-2.1-.2-1.4-.2-2.8-.2-4.3zm-24.3-3c-.1.1-.2.1-.3.1H7.7c-.1 0-.2 0-.4.1v13H5.1v-.2-.3-12.1-.4c-.1-.1-.2-.1-.3-.1h-2c-.1-.3-.1-1.7 0-2h7.1c-.2.1-.2 1.3-.2 1.9zm6.2 12.7v.4c-.2.1-1.6.1-2 0V36v-.6l-.3.3c-.3.3-.5.5-.9.7-.4.3-.9.4-1.5.4-.5-.1-.8-.3-1-.8-.1-.2-.1-.4-.1-.6 0-.3-.1-.7-.1-1v-8.7-.3c.3-.1.7 0 1 0h1v9.2c.1.3.3.5.6.4.2 0 .3-.1.4-.2.3-.2.5-.4.7-.7 0-.1.1-.1.1-.2v-.3-7.8-.4c.2-.1.4 0 .6 0H15.7v.4c.2 3.4.2 6.9.2 10.4zm7.8-3.1c0 .5 0 1.1-.1 1.6 0 .3-.1.5-.1.8-.1.3-.2.6-.5.8-.3.3-.6.4-.9.4-.6.1-1.1-.1-1.6-.5-.2-.2-.4-.3-.5-.5-.1 0-.1-.1-.2-.2-.1.1 0 .2-.1.4v.7h-1.9v-.1-14.8-.1h1.9v4.8c.1 0 .1-.1.2-.1.2-.2.3-.4.5-.5.3-.3.7-.5 1.1-.5.9-.2 1.6.2 1.9.9.2.3.2.7.3 1.1.1.6.1 1.2.1 1.9-.1 1.2-.1 2.6-.1 3.9zm7.7-2.1v.3h-4v2.2c0 .3 0 .6.2.8.2.4.4.6.8.6.6 0 1-.3 1-.9 0-.3 0-.6.1-1v-.3c.3-.1 1.7-.1 2 0v.2c0 .5 0 .9-.1 1.4-.1 1-.9 2.1-2.1 2.3-.6.1-1.2.1-1.8 0-1-.3-1.6-.9-1.9-1.8-.1-.4-.2-.8-.2-1.2v-1.3-3.9c0-.4.1-.8.2-1.1.3-1.1 1.1-1.7 2.2-2 .5-.1 1-.1 1.6.1.9.3 1.6.9 1.9 1.8.1.4.2.8.2 1.2 0 .8-.1 1.7-.1 2.6z"/>
		<path d="M29.2 27.5c-.2-.4-.5-.5-.8-.5-.4 0-.7.2-.9.5-.1.2-.2.4-.2.7V29.6h2.1v-.1-1.4c0-.2-.1-.4-.2-.6z"/>
	</symbol>
</svg>
{% endspaceless %}
